{% extends "layout.html" %}{% set title = "Smart-квартал «Аккорд»" %} {% block content %}
<div class="l-404">
    <div class="b-404">
        <div class="b-404__inner">
            <h1 class="b-404__title">Страница не найдена</h1>
        <div class="b-404__text">Так уж получилось, что из множества страниц нашего сайта
        <br>
Вы оказались как раз на той, которая уже не существует.</div>
        <div class="b-404-picwrap">
            <img src="/img/404.svg" alt="NOT FOUND" class="b-404__pic">
        </div>
        </div>
        
    </div> 
   
</div> {% endblock %} 
