{% extends "layout.html" %}{% set title = "Smart-квартал «Аккорд»" %} {% block content %}
<div class="l-about">
  <div class="b-aboutpage">
    <div class="b-aboutpage__inner clearfix hidden-xs">
      <section class="b-aboutpage__text">

        <h1>Smart-квартал <br class="visible-sm">«Аккорд»</h1>
        <p> – это <span class="b-aboutpage__bold-text">34 Га</span> благоустроенной, ухоженной и охраняемой территории
          <br>– четырёхэтажный монолитно-кирпичный жилой комплекс из <span class="b-aboutpage__bold-text">12</span> зданий общей площадью более <span class="b-aboutpage__bold-text">131 000 кв. м2</span>
          <br>– <span class="b-aboutpage__bold-text">3</span> очереди поэтапно реализуемой застройки
          <br>– Уют малоэтажности в сочетании с продуманной планировкой и развитой инфраструктурой </p>
          <p>Основа философии проекта – концепция <span class="b-aboutpage__bold-text">«Живите с умом!»</span>. Каждый квадратный метр площади должен быть функционален. Опираясь на свой многолетний опыт и опыт европейских коллег, мы разработали квартиры уникальной smart-планировки – понятные и комфортные.</p>
          <p>Установленная в каждой квартире система «Умный дом», охраняет и защищает ваше имущество от проникновения, протечек и пожара. «Умный дом» значительно экономит энергоресурсы - вы будете приятно удивлены счетам за коммунальные услуги. Расширенные возможности позволят вам управлять освещением, климатом, AV-техникой не только находясь дома, но и из любой точки мира. </p>
          <p>Доступные каждому жителю Smart-квартала дополнительные сервисы помогут вам присматривать за детьми на детской площадке и за автомобилем на паркинге, управлять комунальными платежами, забронировать столик в ресторане, заказать продукты с доставкой до квартиры, узнать текущую загруженность фитнес-центра на территории жилого комплекса, быть в курсе регламентных работ управляющей компании.</p> <img class="b-aboutpage__scroll-pusher" src="img/about/aboutpage-text-scroll-pusher.png" alt=""> </section>
          <aside class="b-aboutpage__nav">
            <ul class="b-aboutpage__menu list-unstyled">
              <li class="b-aboutpage__navleaf b-aboutpage__navleaf--news"><a class="b-aboutpage__navlink ajax-link" href="/news.html">Новости</a></li>
              <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--build"><a class="b-aboutpage__navlink ajax-link" href="/diary.html">Динамика строительства</a></li>
              <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--gallery"><a class="b-aboutpage__navlink ajax-link" href="/gallery.html">Галерея</a></li>
              <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--docs"><a class="b-aboutpage__navlink ajax-link" href="/docs.html">Документы</a></li>
              <li class="b-aboutpage__navleaf b-aboutpage__navleaf--baby"><a class="b-aboutpage__navlink ajax-link" href="/smart-baby.html">Smart-baby</a></li>
            </ul>
          </aside>
        </div>
        <div class="b-mobile-aboutpage visible-xs">
          <div class="b-mobile-aboutpage__header h1">Smart-квартал «Аккорд»</div> <img src="img/about/aboutpage-mobile-bg.jpg" alt="" class="b-mobile-aboutpage__pic"> {% include "includes/blocks/b-mobaccordion(aboutpage).html" %} </div>
        </div> <img src="img/about/about-bg-2.png" alt="" class="l-aboutpage-bg">

      </div> {% endblock %} {% block page_bottom %}
      <script src="js/about.js"></script> {% endblock %}
