{% extends "layout.html" %} {% block content %}
<div class="l-about">
  <div class="b-aboutpage">
    <div class="b-aboutpage__inner clearfix hidden-xs">
      <section class="b-aboutpage__text">
        <h1 class="b-aboutpage__header">SDI Group</h1>
        <p class="b-aboutpage__paragraph"> Крупная холдинговая структура, созданная профессионалами рынка девелопмента, строительства и инвестиций. Основное направление деятельности <span class="text-primary bold">SDI Group</span> – строительство и инвестиции в недвижимость в Московском регионе. </p>
        <p class="b-aboutpage__paragraph"> Команда, создавшая холдинг, обладает многолетним успешным опытом в реализации строительных проектов на территории России и за рубежом, что является залогом успешного воплощения основной концепции холдинга: </p>
        <p class="b-aboutpage__paragraph"><span class="text-primary bold">“</span>Cоздание современного, удобного, комфортного и безопасного пространства для жизни людей<span class="text-primary bold">”</span></p>
        <p class="b-aboutpage__paragraph">В число успешных бизнес-проектов учредителей холдинга входят:</p>
        <p class="b-aboutpage__paragraph">– Корпорация «Аккорд» – лидер в сфере строительства и инвестиций в Азербайджане и на Южном Кавказе.</p> <img class="b-aboutpage__scroll-pusher" src="img/about/aboutpage-text-scroll-pusher.png" alt=""> </section>
        <aside class="b-aboutpage__aside"> <img src="img/about/caspian-award.png" alt="" class="img-responsive">
          <div class="b-aboutpage__loaddoc">
            <div class="b-aboutpage__loaddoc-pic-wrap"><img src="img/adobe.svg" alt="ADOBE" class="b-aboutpage__loaddoc-pic"></div>
            <div class="b-aboutpage__loaddoc-text-wrap">Скачать презентацию</div>
          </div>
        </aside>
      </div>
      <div class="b-mobile-aboutpage visible-xs">
        <div class="container-fluid">
          <div class="b-mobile-aboutpage__header b-mobile-aboutpage__header--v2 h1"> SDI Group</div>
          <div class="b-aboutpage__paragraph"> Крупная холдинговая структура, созданная профессионалами рынка девелопмента, строительства и инвестиций. Основное направление деятельности <span class="text-primary bold">SDI Group</span> – строительство и инвестиции в недвижимость в Московском регионе. </div>
        </div> <img src="img/about/about-bg-1.png" alt="" class="b-mobile-aboutpage__pic"> {% include "includes/blocks/b-aboutpage2-mobaccordion.html" %} </div>
      </div> <img src="img/about/about-bg-1.png" alt="" class="l-aboutpage-bg">


      <script>
      $('.b-aboutpage__text:first').niceScroll({
        cursorcolor: "#d3d3d3",
        cursoropacitymin: 0,
        cursoropacitymax: 0,
        cursorborder: "rgb(229,237,242)",
        autohidemode: false,
        enablekeyboard: false,
        smoothscroll: true,
      });
      </script>
    </div>
    {% endblock %}
