{% extends "layout.html" %}
{% block content %}
<div class="l-actions l-screen-with-backbtn">
  <h1 class="b-topleft-header h1">Акции</h1>
  <div class="b-centered-text container-fluid">
    <div class="b-underlinded-header hidden-xs">Активные</div>
    <div class="row">


      <div class="col-sm-6">
        <div class="b-card">
          <table class="b-card__wrap b-card__wrap--v2">
            <tbody>
              <tr>
                <td class="b-card__td b-card__td--tl">
                  <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                </td>
                <td class="b-card__td b-card__td--tr">
                  <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="b-card__td b-card__td--m">
                  <div class="b-card__border b-card__border--m b-card__border--m-v2">
                    <div class="b-card__title b-card__title--v3">ВАШИ ДРУЗЬЯ
                      <br><span class="text-primary">ВАША ЦЕННОСТЬ</span></div>
                      <div class="b-card__footer clearfix">
                        <div class="b-card__readmore-wrap b-card__readmore-wrap--v3"> <a href="/action.html" class="b-card__readmore b-card__readmore--v3">Подробнее</a></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="b-card">
            <table class="b-card__wrap b-card__wrap--v2">
              <tbody>
                <tr>
                  <td class="b-card__td b-card__td--tl">
                    <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                  </td>
                  <td class="b-card__td b-card__td--tr">
                    <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="b-card__td b-card__td--m">
                    <div class="b-card__border b-card__border--m b-card__border--m-v2">
                      <div class="b-card__title b-card__title--v3"> СНИЖАЕМ СТАВКИ
                        <br> ПО ИПОТЕКЕ
                        <br> <span class="text-primary">ГЛОБЭКС БАНК</span> </div>
                        <div class="b-card__footer clearfix">
                          <div class="b-card__readmore-wrap b-card__readmore-wrap--v3"> <a href="/action.html" class="b-card__readmore b-card__readmore--v3">Подробнее</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>



          
        </div>
        <div class="b-underlinded-header hidden-xs">Архив</div>
        <div class="row hidden-xs">
          
          <div class="col-sm-6">
            <div class="b-card b-card--muted">
              <table class="b-card__wrap b-card__wrap--v2">
                <tbody>
                  <tr>
                    <td class="b-card__td b-card__td--tl">
                      <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                    </td>
                    <td class="b-card__td b-card__td--tr">
                      <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="b-card__td b-card__td--m">
                      <div class="b-card__border b-card__border--m b-card__border--m-v2">
                        <div class="b-card__title b-card__title--v3">ПОПАДИ В ДЕСЯТКУ! <br> ПЕРВЫЙ ВЗНОС 10% <br> НА 10 ЛЕТ</div>
                        <div class="b-card__footer clearfix">
                          <div class="b-card__readmore-wrap b-card__readmore-wrap--v3"> <a href="/action.html" class="b-card__readmore b-card__readmore--v3">Подробнее</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="b-card b-card--muted">
              <table class="b-card__wrap b-card__wrap--v2">
                <tbody>
                  <tr>
                    <td class="b-card__td b-card__td--tl">
                      <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                    </td>
                    <td class="b-card__td b-card__td--tr">
                      <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="b-card__td b-card__td--m">
                      <div class="b-card__border b-card__border--m b-card__border--m-v2">
                        <div class="b-card__title b-card__title--v3">ПОПАДИ В ДЕСЯТКУ! <br> ПЕРВЫЙ ВЗНОС 10% <br> НА 10 ЛЕТ</div>
                        <div class="b-card__footer clearfix">
                          <div class="b-card__readmore-wrap b-card__readmore-wrap--v3"> <a href="/action.html" class="b-card__readmore b-card__readmore--v3">Подробнее</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          
        </div>
        <p>&nbsp;</p>
      </div>
      
    </div>


    {% endblock %}


    {% block page_bottom %}
    <script src="/js/actions.js"></script>
    {% endblock %}