{% extends "layout.html" %} {% set title = "Закрытие сезона" %} {% block content %}
<div class="l-article l-screen-with-backbtn">
  <h1 class="b-topleft-header h1">Закрытие сезона</h1>
  <a href="/news.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <div class="b-centered-text container-fluid">
    <div class="b-article">
      <div class="b-article__header text-primary">Дорогие друзья!</div>
      <p class="b-article__paragraph">Спасибо большое, что вы были с нами в этот прекрасный день, за ваш позитив и улыбки, за
        <br class="visible-lg">ваше участие и проявленный интерес. Надеемся, что вы получили отличный заряд бодрости,
        <br class="visible-lg"> витаминов и согревающего огня.</p>
        <p class="b-article__paragraph">Предлагаем вспомнить как феерично это было!</p>
        <div class="b-article__pics clearfix hidden-xs"> {% for i in range(0,11) %}
          <div class="b-article__picwrap"> <a href="#articleGallery" data-toggle="modal" data-slide-num="{{i}}"><img class="b-article__pic" src="img/tmp/204x124.png" alt=""></a> </div> {% endfor %} </div>
          <!-- Slider main container -->
          <div class="b-article__mobile-slider visible-xs">
            <div class="swiper-container" id="articleMobileSlider">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper"> {% for i in range(0,11) %}
                <div class="swiper-slide"><img class="b-article__mobslide" src="http://placehold.it/754x492" alt=""></div> {% endfor %} </div>
              </div>
            </div> {% include "includes/blocks/b-socfooter.html" %} </div>
          </div>
          <div class="b-popup-gallery modal fade hidden-xs" id="articleGallery">
            <div class="b-popup-gallery__inner modal-dialog">
              <div id="articleGallerySlider" class="b-popupgallery__slider swiper-container">
                <div class="swiper-wrapper">
                  {% for i in range(0,3)%}
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  {% endfor %} 
                </div>
              </div>
            </div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
            <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
          </div>
        </div> {% endblock %} {% block page_bottom %}
        <script src="js/article.js"></script> {% endblock %}
