{% extends "layout.html" %} {% block content %}
<div class="l-buy">
  <div class="b-buy hidden-xs">
    <div class="container-fluid">
      <div class="row">
        <div class="b-buy__col col-md-3">
          <h1 class="b-mobile-buy__header">Как купить?</h1>
          <p> Вы можете воспользоваться
            <br class="visible-md visible-lg"> подходящей вам
            <br class="visible-md visible-lg"> программой рассрочки. </p>
            <p>За консультацией
              <br class="visible-md visible-lg"> обращайтесь
              <br class="visible-md visible-lg"> к менеджеру по телефону </p>
              <div class="visible-sm" style="height: 8px;overflow: hidden;">&nbsp;</div>
              <div class="b-buy__phone">+7 495 135-32-44</div> <a href="#" data-aside-menu="writeToUsAsideForm" class="b-buy__write-to-us-link">или напишите нам</a> </div>
              <div class="b-buy__col col-md-3">
                <div class="b-buy__header">Беспроцентная
                  <br class="hidden-sm">рассрочка</div>
                  <p> С первоначальным взносом
                    <br class="visible-md"> 30%
                    <br class="visible-lg"> вы&nbsp;сможете
                    <br class="visible-md"> воспользоваться
                    <br class="visible-md">
                    <br class="visible-lg"> беспроцентной рассрочкой
                    <br class="visible-md">
                    <br class="visible-lg"> до конца строительства. </p>
                  </div>
                  <div class="b-buy__col col-md-3">
                    <div class="b-buy__header">Ипотека</div>
                    <p>C первоначальным взносом
                      <br class="visible-md"> от 20% вы сможете
                      <br class="visible-md"> воспользоваться выгодными
                      <br class="visible-md">
                      <br class="visible-lg"> условиями ипотеки
                      <br class="visible-md"> с господдержкой
                      <br class="visible-md">
                      <br class="visible-lg"> (до 31.12.16 г.), а в подарок
                      <br class="visible-md"> получить
                      <br class="visible-lg"> скидку -3%
                      <br class="visible-md"> от стоимости квартиры.</p> <a href="/hypothec1.html" class="b-buy__readmore-link">Подробнее</a> </div>
                      <div class="b-buy__col col-md-3">
                        <div class="b-buy__header">Военная
                          <br class="hidden-sm">ипотека</div>
                          <p>Военнослужащий и участвуете
                            <br class="visible-lg visible-md"> в накопительно-ипотечной
                            <br class="visible-lg visible-md"> системе? Имеете право
                            <br class="visible-md">получить
                            <br class="visible-lg"> военную ипотеку
                            <br class="visible-md"> до 2,3 млн.
                            <br class="visible-lg"> рублей на срок
                            <br class="visible-md">до 45 лет!</p> <a href="/hypothec2.html" class="b-buy__readmore-link">Подробнее</a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="b-mobile-buy visible-xs">
                        <div class="container-fluid">
                          <div class="b-mobile-buy__header">Как купить?</div>
                          <p class="b-mobile-buy__paragraph">Вы можете воспользоваться подходящей вам программой рассрочки.</p>
                        </div> <img src="img/buy/buy-mob-bg.jpg" alt="" class="b-mobile-buy__pic">
                        <div class="b-mobaccordion" id="aboutProjectMobileAccordion">
                          <div>
                            <div class="b-mobaccordion__head" id="headingOne">
                              <h4>
                                <a class="b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseOne">
                                  Беспроцентная рассрочка
                                </a>
                              </h4> </div>
                              <div class="b-mobaccordion__pan collapse" id="collapseOne">
                                <p class="b-mobaccordion__paragraph"> С первоначальным взносом 30% вы сможете воспользоваться беспроцентной рассрочкой до конца строительства. </p>
                              </div>
                            </div>
                            <div>
                              <div class="b-mobaccordion__head" id="headingTwo">
                                <h4>
                                  <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseTwo">
                                    Ипотека
                                  </a>
                                </h4> </div>
                                <div class="b-mobaccordion__pan collapse in" id="collapseTwo">
                                  <p class="b-mobaccordion__paragraph"> C первоначальным взносом от 20% вы сможете воспользоваться выгодными условиями ипотеки с господдержкой (до 31.12.16 г.), а в подарок получить скидку -3% от стоимости квартиры.</p>
                                  <br>
                                  <p class="b-mobaccordion__paragraph text-center"> <a href="#" class="btn btn-primary">Отправить заявку</a> </p>
                                  <div class="b-mobaccordion__readmore-wrap"><a href="#" class="b-mobaccordion__readmore-link">Подробнее</a></div>
                                </div>
                              </div>
                              <div>
                                <div class="b-mobaccordion__head" id="headingThree">
                                  <h4>
                                    <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseThree">
                                      Военная ипотека
                                    </a>
                                  </h4> </div>
                                  <div class="b-mobaccordion__pan  collapse" id="collapseThree" class="collapse">
                                    <p class="b-mobaccordion__paragraph">Военнослужащий и участвуете в накопительно-ипотечной системе? Имеете право получить военную ипотеку до 2,3 млн. рублей на срок до 45 лет!</p>
                                    <br>
                                    <p class="b-mobaccordion__paragraph text-center"> <a href="#" class="btn btn-primary">Отправить заявку</a> </p>
                                    <div class="b-mobaccordion__readmore-wrap"><a href="#" class="b-mobaccordion__readmore-link">Подробнее</a></div>
                                  </div>
                                </div>
                              </div></div>
                              <div class="b-aside-form" id="writeToUsAsideForm">
                                <div class="b-aside-form__header">Напишите нам</div>
                                <form id="form1">
                                  <div class="form-group b-aside-form__inpwrap">
                                    <input type="text" class="form-control b-aside-form__inp" placeholder="Ваше имя"> </div>
                                    <div class="form-group b-aside-form__inpwrap">
                                      <input type="text" required="required" name="phone" class="form-control b-aside-form__inp" placeholder="Ваш телефон *"> </div>
                                      <div class="form-group b-aside-form__inpwrap">
                                        <input type="email" class="form-control b-aside-form__inp" name="email" required="required" placeholder="Ваша эл.почта *"> </div>
                                        <div class="form-group b-aside-form__inpwrap">
                                          <textarea class="form-control b-aside-form__inp b-aside-form__inp--textfield" placeholder="Сообщение..."></textarea>
                                        </div>

                                        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--last">
                                          {% include "./includes/blocks/b-custom-checkbox.html" %}
                                        </div>

                                        <button type="submit" class="b-aside-form__btn btn btn-primary btn-block">Отправить</button>
                                      </form>
                                      <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
                                    </div>
                                  </div> 

                                  <script src="/js/buy.js"></script>
                                  {% endblock %}
