{% extends "layout.html" %} {% block content %}
<style>
@media (min-width: 768px) {
        .l-footer{
        opacity: 0;
        visibility:hidden;
    }
}

        
</style>
<div class="l-contacts"> {% include "includes/blocks/b-contacts.html" %}
    <div class="b-aside-form b-aside-form--contacts" id="messageUsAsideMenu">
        <div class="b-aside-form__header hidden-xs">Напишите нам</div>
        <form style="margin:auto;width: 100%;">
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="text" class="form-control b-aside-form__inp" placeholder="Ваше имя"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="text" class="form-control b-aside-form__inp" placeholder="Ваш телефон"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="email" class="form-control b-aside-form__inp" placeholder="Ваш e-mail"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <textarea class="form-control b-aside-form__inp b-aside-form__inp--textfield">Добрый день...</textarea>
            </div>
            <br>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <button type="submit" class="b-aside-form__btn btn btn-primary btn-block">Отправить</button>
            </div>
        </form>
        <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
    </div>
    <div class="b-aside-form b-aside-form--contacts" id="transportOrderAsideForm">
        <div class="b-aside-form__header hidden-xs">Заказать транспорт</div>
        <form style="margin:auto;width: 100%;">
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="text" class="form-control b-aside-form__inp" placeholder="Ваше имя"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="text" class="form-control b-aside-form__inp" placeholder="Ваш телефон"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <table class="b-aside-form__timepick">
                    <tr>
                        <td colspan="4">
                            <div class="b-aside-form__timepick-head">Время визита</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="b-aside-form__timepicker-label b-aside-form__timepicker-label--from" for="field_time_from">с</label>
                        </td>
                        <td>
                            <input id="field_time_from" type="text" class="form-control b-aside-form__inp text-center" placeholder="14:30" value="14:30"> </td>
                        <td>
                            <label class="b-aside-form__timepicker-label b-aside-form__timepicker-label--until" for="field_time_until">-&nbsp;до</label>
                        </td>
                        <td>
                            <input id="field_time_until" type="text" class="form-control b-aside-form__inp text-center" placeholder="14:50" value="14:50"> </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <button type="submit" class="b-aside-form__btn btn btn-primary btn-block">Отправить</button>
            </div>
        </form>
        <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
    </div>
    
    <div class="b-mobile-fullscreen-map">
        <div id="mobileContactsMap" class="b-mobile-fullscreen-map__gmap-cont"></div>
        <a class="b-mobile-fullscreen-map__close-icon" href="#"></a>
    </div>
    
</div> {% endblock %}

{% block page_bottom %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgm86O5ZpcIrBQuPZe-QcV5EVJPDuHejQ"></script>
    <style>
    #pagePreloader{
        display: none!important;
    }
</style>
<script src="/js/contacts.js"></script>
{% endblock %}