{% extends "layout.html" %}
{% set title = "Корпоративные продажы" %}
{% block content %}
<div class="l-about">
    <div class="b-aboutpage">
        <div class="b-aboutpage__inner clearfix hidden-xs">
            <section class="b-aboutpage__text">

            
                    <div style="box-shadow: 0px 0px 0px red"></div>
                                    
                    <h2>Компания SDI Group активно работает с&nbsp;корпоративными клиентами&nbsp;— компаниями, а&nbsp;так&nbsp;же государственными структурами.</h2>
                    <p class="b-aboutpage__paragraph">С&nbsp;помощью Корпоративной программой SDI Group покупают квартиры в&nbsp;нашем проекте сотрудники ПАО Сбербанк, ПАО «БИНБАНК», Аэропорта Внуково, а&nbsp;также сотрудники других крупных российских и&nbsp;международных холдингов.</p>
                    <p class="b-aboutpage__paragraph">В&nbsp;рамках корпоративной программы SDI Group мы&nbsp;предлагаем клиентам специальные условия:</p>
                    <ul>
                    <li>Персональный менеджер составит для вас индивидуальное предложение.</li>
                    <li>Индивидуальные условия кредитования.</li>
                    <li>Полноценная система «Trade-in» (зачет стоимости вашей квартиры на&nbsp;новую в&nbsp;проекте «Аккорд. Smart-Квартал»).</li>
                    </ul>
                    <p class="b-aboutpage__paragraph">Если Вы&nbsp;хотели приобрести недвижимость в&nbsp;проекте на&nbsp;специальных условиях корпоративной программы SDI Group, Вам необходимо <a href="#createOrderForCorporateForm" data-aside-menu="createOrderForCorporateForm">оставить заявку</a>
                    <p class="b-aboutpage__paragraph">В&nbsp;случае если&nbsp;Вы хотите, сотрудничать с&nbsp;нами в&nbsp;рамках корпоративной программы, а&nbsp;так&nbsp;же получить для своих сотрудников индивидуальное предложение, вы&nbsp;можете обратиться к&nbsp;Руководителю отдела корпоративных продаж, Вадиму Бутину.</p>
                    <p class="b-aboutpage__paragraph">E-mail:<br><a href="mailto: butin.v@sdi-group.ru"> butin.v@sdi-group.ru</a></p>
                                    
                    <img class="b-aboutpage__scroll-pusher" src="/img/about/aboutpage-text-scroll-pusher.png" alt="">     

            </section>
            <aside class="b-aboutpage__nav">
                <ul class="b-aboutpage__menu list-unstyled">
                    <li class="b-aboutpage__navleaf b-aboutpage__navleaf--news"><a class="b-aboutpage__navlink ajax-link" href="/news.html">Новости</a></li>
                    <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--build"><a class="b-aboutpage__navlink ajax-link" href="/diary.html">Динамика строительства</a></li>
                    <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--gallery"><a class="b-aboutpage__navlink ajax-link" href="/gallery.html">Галерея</a></li>
                    <li class="b-aboutpage__navleaf  b-aboutpage__navleaf--docs"><a class="b-aboutpage__navlink ajax-link" href="/docs.html">Документы</a></li>
                    <li class="b-aboutpage__navleaf b-aboutpage__navleaf--baby"><a class="b-aboutpage__navlink ajax-link" href="/smart-baby.html">Smart-baby</a></li>
                </ul>
            </aside>
        </div>
        <div class="b-mobile-aboutpage visible-xs">
            <div class="b-mobile-aboutpage__header h1">Smart-квартал «Аккорд»</div> <img src="img/about/aboutpage-mobile-bg.jpg" alt="" class="b-mobile-aboutpage__pic"> {% include "includes/blocks/b-mobaccordion(aboutpage).html" %} </div>
    </div> <img src="img/about/about-bg-2.png" alt="" class="l-aboutpage-bg">
</div>


<div class="b-aside-form" id="createOrderForCorporateForm">
    <div class="b-aside-form__header">Оставить заявку</div>
    <form id="form777">
        <div class="form-group b-aside-form__inpwrap">
            <input type="text" class="form-control b-aside-form__inp" required="required" placeholder="ФИО *"> </div>
        <div class="form-group b-aside-form__inpwrap">
            <input type="email" class="form-control b-aside-form__inp" name="companyname" required="required" placeholder="Компания *"> </div>
        <div class="form-group b-aside-form__inpwrap">
            <input type="text" required="required" name="phone" class="form-control b-aside-form__inp" placeholder="Ваш телефон *"> </div>

        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <div class="row">
                <div class="col-xs-5"> <img src="http://placehold.it/98x36" alt="" class="img-responsive"> </div>
                <div class="col-xs-7">
                    <input placeholder="код с картинки *" name="captcha" required="" class="form-control b-aside-form__inp b-aside-form__inp--captcha" aria-required="true" type="text"> </div>
            </div>
        </div>

        <div class="form-group b-aside-form__inpwrap">
            {% include "./includes/blocks/b-custom-checkbox.html" %}
        </div>

        <div class="form-group b-aside-form__inpwrap">
            <button type="submit" class="b-aside-form__btn btn btn-primary btn-block">Отправить</button>
        </div>
        
        <div class="b-aside-form__hinttext clearfix"><span class="bold">*</span> - Поля, обязательные для заполнения
        </div>
    </form>
    <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
</div>

<script src="js/about.js"></script>
{% endblock %}

