{% extends "layout.html" %}
{% set title = "Динамика строительства" %}
{% block content %}
<div class="l-diary l-screen-with-backbtn">
  <a href="/about.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <h1 class="b-topleft-header h1">Динамика строительства</h1>

  <div id="webcams" class="b-webcams b-webcams--on-diary-page">
    <div class="b-webcams__list">
      <a href="https://open.ivideon.com/embed/v2/?server=100-YgRMRg8u8BEife9o59EtSX&amp;camera=131072&amp;width=&amp;height=&amp;lang=ru" class="b-webcams__item">                
        <span class="visible-xs bold">I</span>
        <b class="hidden-xs">Веб-камера: дом 1Б (тыльная сторона)</b>
      </a>
      <a href="https://open.ivideon.com/embed/v2/?server=100-YgRMRg8u8BEife9o59EtSX&amp;camera=196608&amp;width=&amp;height=&amp;lang=ru" class="b-webcams__item">                
        <span class="visible-xs bold">II</span>
        <b class="hidden-xs">Веб-камера: двор домов 2А/2Б</b>
      </a>
      <a href="https://open.ivideon.com/embed/v2/?server=100-YgRMRg8u8BEife9o59EtSX&amp;camera=262144&amp;width=&amp;height=&amp;lang=ru" class="b-webcams__item">                
        <span class="visible-xs bold">III</span>
        <b class="hidden-xs">Веб-камера: офис продаж- дом 1А</b>
      </a>
      <a href="https://open.ivideon.com/embed/v2/?server=100-YgRMRg8u8BEife9o59EtSX&amp;camera=65536&amp;width=&amp;height=&amp;lang=ru" class="b-webcams__item">                
        <span class="visible-xs bold">IV</span>
        <b class="hidden-xs">Веб-камера : двор дома 1А/1Б</b>
      </a>
    </div>
  </div>

  <div class="l-diary-tl-wrap hidden-xs">
    <div class="b-diary-months-slider">
      <div class="b-diary-months-slider__vline b-diary-months-slider__vline--top"></div>
      <div class="b-diary-months-slider__vline b-diary-months-slider__vline--middle"></div>
      <div class="b-diary-months-slider__vline b-diary-months-slider__vline--bottom"></div>
      <div>
        <div class="b-diary-months-slider__item b-diary-months-slider__item--prev  b-diary-months-slider__start-placeholder">&nbsp;</div>
        <div class="b-diary-months-slider__item">Сентябрь 2016</div>
        <div class="b-diary-months-slider__item">Август 2016</div>
        <div class="b-diary-months-slider__item">Июнь 2016</div>
        <div class="b-diary-months-slider__item">Июль 2016</div>
        <div class="b-diary-months-slider__item">Январь 2016</div>
        <div class="b-diary-months-slider__item b-diary-months-slider__placeholder">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="b-diary-slider__mobtitle visible-xs">Сентябрь 2016</div>
  <div class="b-diary-slider__mobswitcher visible-xs">
    <div class="container-fluid">
      <div class="b-diary-slider__mobswitcher-navbtn b-diary-slider__mobswitcher-navbtn--prev swiper-button-disabled"></div>
      <div class="b-diary-slider__mobswitcher-navbtn b-diary-slider__mobswitcher-navbtn--next"></div>
    </div>
  </div>
  <div class="b-diary-primeslider swiper-container">
    <div class="swiper-wrapper">
      {% for diary_sliders_count in range(1,6) %}
      <div class="swiper-slide b-diary-primeslider__slide"> {% include "includes/blocks/b-diary-slider.html" %} </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="b-popup-gallery modal fade" id="diaryPopupGalleryModal">
  <div class="b-popup-gallery__inner modal-dialog">
    <div id="popupGallerySlider" class="b-popupgallery__slider swiper-container">
      <div class="swiper-wrapper">
                {# <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner">
                        <div class="b-popup-gallery__popup-video-wrap va">
                            <div class="va-item">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/209070629?title=0&byline=0&rand=dlsafjlsdkj544{{i}}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="/img/gallery/2.jpg" alt="">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="/img/gallery/1.jpg" alt="">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="/img/gallery/2.jpg">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div> #}
                </div>
              </div>
            </div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
            <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
          </div>

          <div class="b-popup-gallery modal fade" id="webcamStreamModal">
            <div class="va" style="width: 100%;height: 100%;">
              <div class="va-item">
               <div class="container">
                <div id="webcamStreamVideoContainer" class="embed-responsive embed-responsive-16by9" style="background: #000;">
                </div>
              </div>
            </div>
          </div>
          <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
        </div>
        {% endblock %}

        {% block page_bottom %}
        <script src="js/diary.js"></script> 
        {% endblock %}

