{% extends "layout.html" %}{% set title = "Документы" %} {% block content %}
<div class="l-docs l-screen-with-backbtn">
  <a href="/about.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <h1 class="b-topleft-header h1">Документы</h1>
  <div class="b-centered-text container-fluid">
    <div class="row"> {% for item in range(1,7) %}
     {% if item % 2 !== 0 %}
     <div class="col-xs-12">
       <h2 class="b-cardlist-header b-cardlist-header--with-line{% if item == 1 %} b-cardlist-header--top{% endif %}">Аудиторское заключение</h2>
     </div>
     {% endif %}
     <div class="col-sm-6"> {% include "includes/blocks/b-docs-card.html" %}</div> {% endfor %}
   </div>
   <div class="b-insurdesc">
    <p>
      Выбранные застройщиком способы обеспечения исполнения обязательств по договору участия в долевом строительстве в соответствии с частью 2 статьи 12.1 Федерального закона от 30.12.2004 N 214-ФЗ "Об участии в долевом строительстве многоквартирных домов и иных объектов недвижимости и о внесении изменений в некоторые законодательные акты Российской Федерации": страхование гражданской ответственности застройщика за неисполнение или ненадлежащее исполнение обязательств по передаче жилого помещения участнику долевого строительства по договору в порядке, установленном статьей 15.2 указанного Федерального закона.
    </p>


    <p><i>Страховщик:</i> <span class="b-insurdesc__bold">Общество с ограниченной ответственностью «Страховая компания «Респект»</span></p>

    <p><i>Страховщик:</i> <span class="b-insurdesc__bold">Общество с ограниченной ответственностью «Региональная страховая компания»</span></p>

    <p><i>Страховщик:</i> <span class="b-insurdesc__bold">Общество с ограниченной ответственностью «Проминстрах»</span></p>

    <p><i>Страховщик:</i> <span class="b-insurdesc__bold">Страховое акционерное общество «ВСК»</b></p>
    </div>
  </div>
  <a href="#" class="b-docs-dl-all-link hidden-xs">
    Скачать документы <br> одним архивом
  </a>
  <div class="visible-xs">  </div>
</div> {% endblock %} {% block page_bottom %}
<script src="js/docs.js"></script> {% endblock %}
