{% extends "layout.html" %}
{% set title = "Empty page" %}
{% block content %}


<div style="height: 90vh;overflow: hidden;width: 100%;position: relative;">
    <video id="homepageVideo" class="b-homepage-videobg" playsinline muted autoplay style="height: 460px; max-height: none !important;">
        <source src="video/homepage-video-bg2.mp4" type="video/mp4"> </video>
</div>
            
{% endblock %} 