{% extends "layout.html" %}
{% set title = "Кладовки" %}
{% block content %}
<div class="l-storerooms">
  <div class="l-storerooms__content">
    <header class="l-topbar l-topbar--flatspage"> {% include "includes/topbar.html" %} </header>
    <div class="b-flats clearfix" id="storeroomCellsContainer"> {% for item in range(1,9) %}
      <div class="b-flats__cell col-xs-12 col-sm-6 col-md-4">
        <div class="b-flats__cell-inner">
          <div class="b-flatcard hidden-xs">
            <div class="b-flatcard__row">
              <div class="b-flatcard__cell">
                <div class="va">
                  <div class="va-item b-flatcard__title">№ 132</div>
                </div>
              </div>
            </div>
            <div class="b-flatcard__row b-flatcard__row--middle">
              <div class="b-flatcard__cell">
                <div class="b-flatcard__img b-flatcard__img--with-btn" style="background-image: url(/img/flats/49.svg);"> <a href="#" data-aside-menu="getPriceAsideForm" class="btn btn-xl btn-primary b-flatcard__btn">Узнать стоимость</a> </div>
              </div>
            </div>
            <div class="b-flatcard__row">
              <div class="b-flatcard__cell">
                <div class="va">
                  <div class="va-item b-flatcard__footage"> 4 m<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
          <div class="b-mobile-flatcard container-fluid visible-xs">
            <div class="row">
              <div class="col-xs-7"> <img src="/img/flats/49.svg" alt="" class="b-mobile-flatcard__img img-responsive center-block"> </div>
              <div class="col-xs-5">
                <div class="b-mobile-flatcard__title">№ 132</div>
                <div class="b-mobile-flatcard__footage"> 4 m<sup>2</sup></div>
              </div>
            </div>
          </div>
        </div>
      </div> {% endfor %}
      <div class="col-xs-12 hidden-xs" style="padding-top: 20px;">&nbsp;</div>
    </div>
  </div>
  <div class="b-flats__controls-btn visible-xs visible-sm"></div>
  <div class="l-storerooms__filters" id="filtersLayout"> {% include "includes/blocks/b-flats-filter(klad).html" %} </div> {% endblock %} {% block page_bottom %} 
  {% include "./includes/floor-scheme-modal.html" %} 
  {% include "./includes/starred-flats-modal.html" %}
  {% include "./includes/blocks/b-genplan-modal.html" %}
  {% include "./includes/getPriceAsideForm.html" %}
  
</div>
<script src="js/storeroom.js"></script>


{% endblock %}
