{% extends "layout.html" %}{% set title = "Подбор квартир" %} {% block content %}
<div class="l-flats">
  <style>.l-topbar--main,.l-footer--main{opacity:0;visibility:hidden;}</style>
  <div class="l-flats__content">
    <header class="l-topbar l-topbar--flatspage"> {% include "includes/topbar.html" %} </header>
    <div class="b-flats clearfix" id="flatsCellsContainer">
      {# <div class="b-flats__empty">
          <div class="b-flats__empty-inner">
              <img src="/img/cloud.svg" alt="" class="img-responsive">
              <div class="b-flats__empty-header">НЕТ РЕЗУЛЬТАТОВ</div>
              <div class="b-flats__empty-text">Планировки по заданным параметрам не найдены,
                  <br> пожалуйста измените параметры поиска.</div>
              <img src="/img/crane.svg" alt="" class="b-flats__empty-bootom-img">
          </div>
        </div> #}
      </div>
    </div>
    <div class="b-flats__controls-btn visible-xs visible-sm"></div>
    <div class="l-flats__filters" id="filtersLayout">
      {% include "includes/blocks/b-flats-filter.html" %}
    </div>

    {% endblock %} {% block page_bottom %}

    {% include "./includes/floor-scheme-modal.html" %}
    {% include "./includes/starred-flats-modal.html" %}
    {% include "./includes/getPriceAsideForm.html" %}
  </div>
  <script src="js/flats.js"></script> {% endblock %}