{% extends "layout.html" %} {% block content %}
<div class="l-furnish l-screen-with-backbtn">
  <h1 class="b-topleft-header h1">Квартиры с отделкой</h1>
  <div class="b-centered-text container-fluid">
    <div class="b-furnish">
      <p class="b-furnish__paragraph"> Мы избавим вас от ненужных хлопот и издержек по выполнению отделки вашей квартиры.
        <br class="visible-lg"> Для этого <span class="b-furnish__bold">вам необходимо</span> лишь выбрать квартиру ЖК «Аккорд.Smart-квартал» и <span class="b-furnish__bold">оплатить</span> ее с помощью <span class="b-furnish__bold">ипотечного кредита</span> или <span class="b-furnish__bold">100%</span>. </p>
        <p class="b-furnish__paragraph"> И мы подарим вам отделку, выполненную из <span class="b-furnish__bold">высококачественных материалов</span> и <span class="b-furnish__bold">оборудования</span>. Вам остается лишь определиться со стилем отделки вашей квартиры: Минимализм, Прованс и Эко. С каждым стилем отделки вы можете ознакомиться в офисе продаж не только по 3D изображениям, но и посмотреть квартиры с отделкой в наших шоу-румах. </p>
        <p>
          <br class="visible-lg">
          <br class="visible-lg"> </p>
          <div class="b-furnish__header">МИНИМАЛИЗМ</div>
          <div class="b-furnish__picsrow clearfix hidden-xs">
            <a data-toggle="modal" href="#furnishPopupGalleryModal3"> <img class="b-furnish__pic" src="img/furnish/furnish-min-1.jpg" alt=""> <img class="b-furnish__pic" src="img/furnish/furnish-min-2.jpg" alt=""></a>
          </div>
          <div class="b-furnish__mobile-slider visible-xs">
            <div class="swiper-container">
              <div class="swiper-wrapper"> {% for i in [3,2] %}
                <div class="swiper-slide"><img class="b-furnish__mobslide" src="img/furnish/mobslide{{i}}.jpg" alt=""></div> {% endfor %}
                <div class="swiper-slide"><img class="b-furnish__mobslide" src="http://placehold.it/640x456" alt=""></div>
              </div>
            </div>
          </div>
          <div class="b-popup-gallery modal fade" id="furnishPopupGalleryModal1">
            <div class="b-popup-gallery__inner modal-dialog">
              <div id="furnishPopupSlider1" class="b-popupgallery__slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
            <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
            <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
          </div>
          <div class="b-furnish__header">ПРОВАНС</div>
          <div class="b-furnish__picsrow clearfix hidden-xs">
            <a data-toggle="modal" href="#furnishPopupGalleryModal3"> <img class="b-furnish__pic" src="img/tmp/432x171.png" alt=""> <img class="b-furnish__pic" src="img/tmp/432x171.png" alt=""> </a>
          </div>
          <div class="b-furnish__mobile-slider visible-xs">
            <div class="swiper-container">
              <div class="swiper-wrapper"> {% for i in [2,3,1] %}
                <div class="swiper-slide"><img class="b-furnish__mobslide" src="img/furnish/mobslide{{i}}.jpg" alt=""></div> {% endfor %} </div>
              </div>
            </div>
            <div class="b-popup-gallery modal fade" id="furnishPopupGalleryModal2">
              <div class="b-popup-gallery__inner modal-dialog">
                <div id="furnishPopupSlider1" class="b-popupgallery__slider swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
              <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
              <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
            </div>
            <div class="b-furnish__header">ЭКО</div>
            <div class="b-furnish__picsrow clearfix hidden-xs">
              <a data-toggle="modal" href="#furnishPopupGalleryModal3"><img class="b-furnish__pic" src="img/tmp/432x171.png" alt=""> <img class="b-furnish__pic" src="img/tmp/432x171.png" alt=""> </a>
            </div>
            <div class="b-furnish__mobile-slider b-furnish__mobile-slider--last visible-xs">
              <div class="swiper-container">
                <div class="swiper-wrapper"> {% for i in [1,2,3]%}
                  <div class="swiper-slide"><img class="b-furnish__mobslide" src="img/furnish/mobslide{{i}}.jpg" alt=""></div> {% endfor %} </div>
                </div>
              </div>
              <div class="b-popup-gallery modal fade" id="furnishPopupGalleryModal3">
                <div class="b-popup-gallery__inner modal-dialog">
                  <div id="furnishPopupSlider1" class="b-popupgallery__slider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
                <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
                <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
              </div>
            </div>
          </div>
          <div class="visible-xs">  </div>
        </div>
        <script src="/js/furnish.js"></script> {% endblock %}
