{% extends "layout.html" %} {% set title = "Галерея" %}{% block content %}
<div class="l-gallery l-screen-with-backbtn">
  <h1 class="b-topleft-header h1">Галерея</h1>
  <a href="/about.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <div class="b-gallery">
    <div class="b-gallery__switcher hidden-xs">
      <div class="container-fluid"> <a href="#" class="b-gallery__title b-gallery__title--active">Фото стройки</a> <a href="#" class="b-gallery__title">Офис</a> <a href="#" class="b-gallery__title">Шоурум</a> </div>
    </div>
    <div class="b-gallery__primeslider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="b-gallery__mob-header">Фото стройки</div>
          <div id="gallerySlider1" class="b-gallery__img-slider swiper-container">
            <div class="swiper-wrapper">
              <a data-toggle="modal" href="#popupGalleryModal1" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal1" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal1" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal1" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
            </div>
          </div>
          <div id="gallerySliderControls1" class="b-gallery__controls center-block">
            <div class="b-gallery__pager"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--next"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--prev"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="b-gallery__mob-header">Офис</div>
          <div id="gallerySlider2" class="b-gallery__img-slider swiper-container">
            <div class="swiper-wrapper">
              <a data-toggle="modal" href="#popupGalleryModal2" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/gallery/1.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal2" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal2" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/gallery/1.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal2" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
            </div>
          </div>
          <div id="gallerySliderControls2" class="b-gallery__controls center-block">
            <div class="b-gallery__pager"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--next"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--prev"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="b-gallery__mob-header">Шоурум</div>
          <div id="gallerySlider3" class="b-gallery__img-slider swiper-container">
            <div class="swiper-wrapper">
              <a data-toggle="modal" href="#popupGalleryModal3" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601-v2.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal3" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal3" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601-v2.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
              <a data-toggle="modal" href="#popupGalleryModal3" class="b-gallery__slide swiper-slide"> <img class="b-gallery__img swiper-lazy" src="img/gallery/15x8-pusher.png" data-background="img/tmp/1126x601.png" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </a>
            </div>
          </div>
          <div id="gallerySliderControls3" class="b-gallery__controls center-block">
            <div class="b-gallery__pager"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--next"></div>
            <div class="b-gallery__navbtn b-gallery__navbtn--prev"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-gallery__mobswitcher visible-xs">
      <div class="container-fluid">
        <div class="b-gallery__mobswitcher-navbtn b-gallery__mobswitcher-navbtn--prev"></div>
        <div class="b-gallery__mobswitcher-navbtn b-gallery__mobswitcher-navbtn--next"></div>
      </div>
    </div>
  </div>
  <div class="visible-xs"></div>
  <div class="b-popup-gallery modal fade" id="popupGalleryModal1">
    <div class="b-popup-gallery__inner modal-dialog">
      <div id="popupGallerySlider1" class="b-popupgallery__slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
    <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
  </div>
  <div class="b-popup-gallery modal fade" id="popupGalleryModal2">
    <div class="b-popup-gallery__inner modal-dialog">
      <div id="popupGallerySlider2" class="b-popupgallery__slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/gallery/1.jpg" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/gallery/2.jpg" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/gallery/1.jpg" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/gallery/2.jpg">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
    <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
  </div>
  <div class="b-popup-gallery modal fade" id="popupGalleryModal3">
    <div class="b-popup-gallery__inner modal-dialog">
      <div id="popupGallerySlider3" class="b-popupgallery__slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="http://placehold.it/1200x1900" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"><img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601-v2.png" alt="">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="b-popup-gallery__slide-inner"> <img class="b-popup-gallery__img swiper-lazy" src="img/tmp/1126x601.png">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--next"></div>
    <div class="b-popup-gallery__navbtn b-popup-gallery__navbtn--prev"></div>
    <div class="b-popup-gallery__closebtn" data-dismiss="modal"></div>
  </div>
</div> {% endblock %} {% block page_bottom %}
<script src="js/gallery.js"></script> {% endblock %}
