{% extends "layout.html" %} {% block content %}
<div class="l-hypothec l-screen-with-backbtn">
    {% include "includes/hypothec1-content.html" %}
</div>

 {% endblock %}

{% block page_bottom %}
<script src="/js/hypothec1.js"></script>
{% endblock %}