{% extends "layout.html" %} {% block content %}
<div class="l-hypothec l-screen-with-backbtn">
{% include "includes/hypothec2-content.html" %}
{% include "includes/hypothec2-form.html" %}
<script src="/js/hypothec2.js"></script>
</div>
{% endblock %}
