{% extends "layout.html" %}
{% block content %}
<div class="b-homepage-slides swiper-container swiper-no-swiping">
    <div class="b-homepage-slides__wrapper swiper-wrapper">
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-home">
                <video id="homepageVideo" class="b-homepage-videobg" playsinline muted>
                    <source src="video/homepage-video-bg2.mp4" > </video>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">

                            <header class="b-homepage-heading">
                                <h1 class="b-homepage-heading__main-h">Жилой Комплекс<br>«Аккорд.Smart-квартал»</h1>
                                <h4 class="b-homepage-heading__secondary-h">Новый проект удобного проживания, дом, в котором <br class="hidden-xs">всё  организовано с умом!</h4> <a href="#" class="b-homepage-heading__btn btn btn-primary btn-lg">Преимущества</a>
                            </header>

                            <div class="b-hpnews" id="homepageLastNewsBlock">

                                <div class="b-hpnews__xshead">
                                    <div class="b-hpnews__xstitle">АКЦИИ</div>
                                    <a href="#" class="b-hpnews__xsarrow b-hpnews__xsarrow--left"></a>
                                    <a href="#" class="b-hpnews__xsarrow b-hpnews__xsarrow--right b-hpnews__xsarrow--active"></a>
                                </div>

                                <div class="b-hpnews__half b-hpnews__half--left b-hpnews__half--active">
                                    <h4 class="b-hpnews__title">АКЦИИ</h4>
                                    <ul class="b-hpnews__list">
                                        <li class="b-hpnews__leaf b-hpnews__leaf--n1"><a class="b-hpnews__link" href="/article.html">Первый взнос — 0%! Только никому не говорите!</a></li>
                                        <li class="b-hpnews__leaf b-hpnews__leaf--n2"><a class="b-hpnews__link" href="/article.html">Будьте Smartс Технопарк!</a></li>
                                    </ul>
                                </div>
                                
                                <div class="b-hpnews__half b-hpnews__half--right">
                                    <h4 class="b-hpnews__title">НОВОСТИ</h4>
                                    <ul class="b-hpnews__list">
                                        <li class="b-hpnews__leaf b-hpnews__leaf--n6"><a class="b-hpnews__link" href="/article.html">ЖК «Аккорд.Smart-квартал» стал лауреатом RREF AWARDS 2017</a></li>
                                        <li class="b-hpnews__leaf b-hpnews__leaf--n7"><a class="b-hpnews__link" href="/article.html">Выставка «Недвижимость 2017» с 28.09.17г. по 01.10.17 г.</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-pics b-prospage-pics--slide-1">
                    <div class="b-prospage-pics__wrap b-prospage-pics__wrap--1">
                        <div class="b-pinbtn b-pinbtn--pros-1-1">Кухня-гостинная</div>
                        <div class="b-pinbtn b-pinbtn--pros-1-2">Система «Умный дом»</div> <img class="b-prospage-pics__img" src="img/square-pusher.png" data-delayed-src="img/pros/item-1-lg.png" alt="">
                    </div>
                </div>
                <div class="b-pros b-pros--1">
                    <div class="container-fluid">
                        <div class="b-pros__title">Квартиры
                            <br>формата <span class="text-primary">SMART</span></div>
                        <div class="b-pros__desc"> Smart-планировки позволяют
                            <br class="visible-xs visible-lg"> максимально
                            <br class="hidden-xs hidden-lg"> эффективно
                            <br class="visible-xs visible-lg"> использовать каждый метр.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-pics b-prospage-pics--slide-2">
                    <div class="b-prospage-pics__wrap b-prospage-pics__wrap--2">
                        <div class="b-pinbtn b-pinbtn--pros-2-1">Кладовки 4,4-16 м<sup>2</sup></div> <img class="b-prospage-pics__img" src="img/square-pusher.png" alt=""> {% for i in range(1, 6) -%} <img class="b-prospage-pics__img b-prospage-pics__img--overlay b-prospage-pics__img--2-{{ i }}" src="img/square-pusher.png" data-delayed-src="img/pros/item-2-{{ i }}.png" alt=""> {%- endfor %} </div>
                </div>
                <div class="b-pros b-pros--2">
                    <div class="container-fluid">
                        <div class="b-pros__title"><span class="text-primary">Кладовые</span>
                            <br>помещения</div>
                        <div class="b-pros__desc"> Вместительные кладовки для
                            <br class="visible-xs"> хранения
                            <br class="hidden-xs">сезонных вещей на
                            <br class="visible-xs">цокольных этажах
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-pics b-prospage-pics--slide-3">
                    <div class="b-prospage-pics__wrap b-prospage-pics__wrap--3">
                        <div class="b-pinbtn b-pinbtn--pros-3-1">4 этажа</div>
                        <div class="b-pinbtn b-pinbtn--pros-3-2">Потолки 3 метра</div>
                        <div class="b-pinbtn b-pinbtn--muted b-pinbtn--wo-pin b-pinbtn--pros-3-3">Лифты OTIS</div> <img class="b-prospage-pics__img" src="img/square-pusher.png" data-delayed-src="img/pros/item-3-1.png" alt=""> </div>
                </div>
                <div class="b-pros b-pros--3">
                    <div class="container-fluid">
                        <div class="b-pros__title"><span class="text-primary">Малоэтажная</span>
                            <br>застройка</div>
                        <div class="b-pros__desc"> Несмотря на малоэтажную застройку,
                            <br> в каждом подъезде комплекса будут
                            <br> установлены лифты OTIS, что позволит
                            <br>повысить уровень комфорта ее жителям </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-pics b-prospage-pics--slide-4">
                    <div class="b-prospage-pics__wrap b-prospage-pics__wrap--4">
                        <div class="b-pinbtn b-pinbtn--pros-4-1">Территория квартала 34 Га<sup>2</sup></div> <img class="b-prospage-pics__img" src="img/square-pusher.png" alt=""> {% for i in range(1,6) -%} <img class="b-prospage-pics__img b-prospage-pics__img--overlay b-prospage-pics__img--4-{{ i }}" src="img/square-pusher.png" data-delayed-src="img/pros/item-4-{{ i }}.png" alt=""> {%- endfor %} </div>
                </div>
                <div class="b-pros b-pros--4">
                    <div class="container-fluid">
                        <div class="b-pros__title">Прогулочная зона
                            <br><span class="text-primary">вдоль реки</span></div>
                        <div class="b-pros__desc"> Велосипедные дорожки,
                            <br class="visible-xs"> собственный
                            <br>выход к реке Незнайка </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-pics b-prospage-pics--slide-5">
                    <div class="b-prospage-pics__wrap b-prospage-pics__wrap--5">
                        <div class="b-pinbtn b-pinbtn--pros-5-1">Школа и детский сад</div>
                        <div class="b-pinbtn b-pinbtn--pros-5-2">Обустроенные дворы</div> <img class="b-prospage-pics__img" src="img/square-pusher.png" alt=""> {% for i in range(1,7) -%} <img class="b-prospage-pics__img b-prospage-pics__img--overlay b-prospage-pics__img--5-{{ i }}" src="img/square-pusher.png" data-delayed-src="img/pros/item-5-{{ i }}.png" alt=""> {%- endfor %} </div>
                </div>
                <div class="b-pros b-pros--5">
                    <div class="container-fluid">
                        <div class="b-pros__title">Собственная
                            <br><span class="text-primary">инфраструктура</span></div>
                        <div class="b-pros__desc b-pros__desc--v-tight"> Современный торговый центр,
                            <br class="visible-lg visible-xs"> поликлиника,
                            <br class="visible-md visible-sm"> школа, детский сад.
                            <br class="visible-lg visible-xs"> Развивающие, игровые
                            <br> и спортивные площадки во
                            <br class="visible-xs"> дворах </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-homepage-slides__slide swiper-slide">
            <div class="l-pros">
                <div class="b-prospage-callback-form">
                    <div class="b-prospage-callback-form__wrap">
                        <div class="b-prospage-callback-form__lead">Наши менеджеры предложат вам
                            <br class="visible-xs"> наилучшие условия:</div>
                        <form class="b-prospage-callback-form__form">
                            <input id="prospageCallbackFormInput" name="phone" value="" type="text" class="b-prospage-callback-form__input">
                            <label class="b-prospage-callback-form__label" for="prospageCallbackFormInput">введите ваш номер</label>
                            <div>
                                <div class="b-custom-checkbox b-custom-checkbox--in-features-slider">
                                    <input class="b-custom-checkbox__input" id="homepageFeaturesSliderAgreeCheckbox" name="agree" autocomplete="off" required="required" aria-required="true" type="checkbox">
                                    <label for="homepageFeaturesSliderAgreeCheckbox" class="b-custom-checkbox__label b-custom-checkbox__label--light">Я согласен(-на) на обработку моих
                                        <br class="visible-xs"><a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="text-primary"><u>персональных данных</u></a>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="b-prospage-callback-form__btn btn btn-primary btn-lg">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> {#
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> #}
</div>
{% include "includes/blocks/b-bottom-progressbar.html" %}
<div class="visible-xs"></div>{% endblock %} {% block page_bottom %}
<script src="/js/homepage.js"></script>{% endblock %}