{% extends "layout.html" %} {% block content %}
<div class="l-infras">
  <div class="b-infras">
    <div class="container-fluid">
      <section class="b-infras__text">
        <h1>Внутренняя
          <br class="visible-xs visible-sm">инфраструктура</h1>
          <p>Всё необходимое для жизни разумно организовано и находится в шаговой доступности. Ваши дети смогут развивать свои навыки самостоятельности в комфорте и безопасности - <span class="b-infras__bold">территория тщательно охраняется</span>. </p>
          <div class="b-infras__subheader">К вашим услугам на территории жилого комплекса:</div>
          <ul class="b-taglist clearfix">
            <li class="b-taglist__leaf"><span class="b-taglist__link" data-pins="shop1" href="#">Торговый центр</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" data-pins="shop2" href="#">Магазины и услуги</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" data-pins="kids" href="#">Детский сад</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" data-pins="school" href="#">Школа</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" href="#" data-pins="medic">Поликлиника</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" href="#" data-pins="sport1">Спортивные площадки</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" href="#" data-pins="walk">Прогулочная зона в доль реки</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" href="#" data-pins="bike">Велосипедные дорожки</span></li>
            <li class="b-taglist__leaf"><span class="b-taglist__link" data-pins="parking" href="#">Паркинг</span></li>
          </ul>
        </section>
        <aside class="b-infras__aside hidden-xs">
          <a href="/infras2.html" class="b-infras__asideline">
            <div class="b-infras__asidepic b-infras__asidepic--routes">&nbsp;</div>
            <div class="b-infras__asidetext">Внешняя инфраструктура</div>
          </a>
          <a href="/tour.html" class="b-infras__asideline">
            <div class="b-infras__asidepic b-infras__asidepic--360deg">&nbsp;</div>
            <div class="b-infras__asidetext">Виртуальный тур</div>
          </a>
        </aside>
      </div>
    </div>
    <div id="contactsMap" class="b-contacts-map b-contacts-map--infras1"> <img src="/img/tmp/infras1-bg.jpg" alt="" style="width: 100%;pointer-events: none;"> <img src="/img/infras1/sport_1.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-13 b-contacts-map__pin--sport1"> <img src="/img/infras1/kindergarten.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-2 b-contacts-map__pin--kids"> <img src="/img/infras1/sport_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-3 b-contacts-map__pin--sport1"> <img src="/img/infras1/sport_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-4 b-contacts-map__pin--sport1"> <img src="/img/infras1/walk.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-8 b-contacts-map__pin--walk"> <img src="/img/infras1/parking.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-14 b-contacts-map__pin--parking"> <img src="/img/infras1/sport_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-5 b-contacts-map__pin--sport1"> <img src="/img/infras1/sport_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-6 b-contacts-map__pin--sport1"> <img src="/img/infras1/sport_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-7 b-contacts-map__pin--sport1"> <img src="/img/infras1/school.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-9 b-contacts-map__pin--school"> <img src="/img/infras1/medic.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-10 b-contacts-map__pin--medic"> <img src="/img/infras1/shop_1.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-11 b-contacts-map__pin--shop1"> <img src="/img/infras1/shop_2.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-12 b-contacts-map__pin--shop2"> <img src="/img/infras1/bike.png" class="b-contacts-map__pin b-contacts-map__pin--infras1-1 b-contacts-map__pin--bike"> </div> <img class="b-bg-clouds" src="img/contacts/clouds-bg.png" alt="">
    <div class="b-mob-bottom-links visible-xs">
      <ul class="b-mob-bottom-links__list list-unstyled">
        <li class="b-mob-bottom-links__leaf"><a href="/infras2.html" class="ajax-link b-mob-bottom-links__link">Внешняя инфраструктура</a></li>
        <li class="b-mob-bottom-links__leaf"><a href="/tour.html" class="ajax-link b-mob-bottom-links__link">Виртуальный тур</a></li>
      </ul>
    </div>  </div> {% endblock %} {% block page_bottom %}
    <script src="/js/infras.js"></script>{% endblock %}
