{% extends "layout.html" %} {% block content %}
<div class="l-infras">
  <script>
  window.accordAppStates.ifrasObjs = [{
    "coords": {
      "lat": 55.636475,
      "lng": 37.175908
    },
    "title": "Точка 1",
    "type": 14,
    "ico": "/upload/information_system_7/0/1/6/group_16/information_groups_16.png"
  }, {
    "coords": {
      "lat": 55.836475,
      "lng": 37.275908
    },
    "title": "Точка 1 [Копия от 06.03.2017 21:18:44]",
    "type": 16,
    "ico": "/upload/information_system_7/0/1/6/group_16/information_groups_16.png"
  }];
  </script>

  <img class="b-bg-clouds" src="img/contacts/clouds-bg.png" alt="">
  <div class="b-infras">
    <div class="container-fluid">
      <section class="b-infras__text">
        <h1>Внешняя
          <br class="visible-xs visible-sm">инфраструктура</h1>
          <p>В ближайших населенных пунктах жители ЖК “Аккорд Smart-квартал” могут найти множество магазинов, школ, детских садов, развлекательных центров, спортивных комплексов и других объектов инфраструктуры. </p>
          <div class="b-infras__subheader">В 10 минутах езды от жилого комплекса:</div>
          <ul class="b-taglist clearfix">
            <li class="b-taglist__leaf"><a data-icons-type="16" class="b-taglist__link" href="#">Конюшня Савраска</a></li>
            <li class="b-taglist__leaf"><a data-icons-type="14" class="b-taglist__link" href="#">Театральный центр</a></li>
          </ul>
        </section>
        <aside class="b-infras__aside hidden-xs">
          <a href="/infras1.html" class="b-infras__asideline">
            <div class="b-infras__asidepic b-infras__asidepic--routes">&nbsp;</div>
            <div class="b-infras__asidetext">Внутренняя инфраструктура</div>
          </a>
          <a href="tour.html" class="b-infras__asideline">
            <div class="b-infras__asidepic b-infras__asidepic--360deg">&nbsp;</div>
            <div class="b-infras__asidetext">Виртуальный тур</div>
          </a>
        </aside>
      </div>
    </div>
    <div id="infrasMap" class="b-contacts-map b-contacts-map--infras1"> <img src="/img/tmp/infras2-bg.jpg" alt="" style="width: 100%;pointer-events: none;"> </div> <img class="b-bg-clouds" src="img/contacts/clouds-bg.png" alt="">
    <div class="b-mob-bottom-links visible-xs">
      <ul class="b-mob-bottom-links__list list-unstyled">
        <li class="b-mob-bottom-links__leaf"><a href="#" class="b-mob-bottom-links__link">Внутренняя инфраструктура</a></li>
        <li class="b-mob-bottom-links__leaf"><a href="#" class="b-mob-bottom-links__link">Виртуальный тур</a></li>
      </ul>
    </div>
  </div> 

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgm86O5ZpcIrBQuPZe-QcV5EVJPDuHejQ"></script>
  <script src="/js/infras2.js"></script>

  {% endblock %}
