<!DOCTYPE html>{% if not title %}{% set title = "Сайт аккорд" %}{% endif %}
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/site-icons/76x76.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/site-icons/60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/site-icons/76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/site-icons/120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/site-icons/152x152.png">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
</head>

<body>
    <div class="b-page-preloader" id="pagePreloader">
        <img class="b-page-preloader__pic" alt="" src="img/preloader.gif">
    </div>
    <div class="l-global">
        <header class="l-topbar l-topbar--main"> {% include "includes/topbar.html" %} </header>
        <main class="l-main" id="pageContainer">
            <div class="l-main__inner">
            {% block content %}{% endblock %}
            {% block page_bottom %}{% endblock %}
            </div>
            
        </main>
        <div class="l-footer l-footer--main">
            <div class="b-rewards">
                <a href="/article.html" class="b-rewards__item">
                    <img src="/img/rref-medal.png" alt="" class="b-rewards__pic">
                </a>
            </div>
            {% include "includes/blocks/b-footer.html" %}
        </div>
    </div>
    {% include "includes/call-me-form.html" %}
    <div class="b-clouds-overlay" id="cloudsOverlay"></div>
    {% include "includes/blocks/b-menu.html" %}
</body>

</html>
