{% extends "layout.html" %}{% set title = "Новости" %} {% block content %}
<div class="l-news l-screen-with-backbtn">
  <a href="/about.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <h1 class="b-topleft-header h1">Новости</h1>
  <div class="b-news-menu-mobile hidden-md hidden-lg">
    <div class="b-news-menu-mobile__inner"> </div>
    <div class="b-news-menu-mobile__year">
      <div class="dropdown">
        <div class="b-news-menu-mobile__item-title" data-toggle="dropdown">2016</div>
        <ul class="b-news-menu-mobile__dropmenu b-news-menu-mobile__dropmenu--v2 dropdown-menu">
          <li><a href="javascript:void(0);">2014</a></li>
          <li><a href="javascript:void(0);">2111</a></li>
          <li><a href="javascript:void(0);">2112</a></li>
          <li><a href="javascript:void(0);">2113</a></li>
        </ul>
      </div>
    </div>
    <div class="b-news-menu-mobile__month">
      <div class="dropdown">
        <div class="b-news-menu-mobile__subitem-title" data-toggle="dropdown">Ноябрь</div>
        <ul class="b-news-menu-mobile__dropmenu dropdown-menu">
          <li><a href="javascript:void(0);">Ноябрь</a></li>
          <li><a href="javascript:void(0);">Октябрь</a></li>
          <li><a href="javascript:void(0);">Ноябрь</a></li>
          <li><a href="javascript:void(0);">Октябрь</a></li>
          <li><a href="javascript:void(0);">Ноябрь</a></li>
          <li><a href="javascript:void(0);">Октябрь</a></li>
          <li><a href="javascript:void(0);">Ноябрь</a></li>
          <li><a href="javascript:void(0);">Октябрь</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="b-centered-text container-fluid">
    <div class="b-news-menu-mobile hidden-md hidden-lg">
      <div class="b-news-menu-mobile__inner"> </div>
      <div class="b-news-menu-mobile__year">
        <div class="dropdown">
          <div class="b-news-menu-mobile__item-title" data-toggle="dropdown">2016</div>
          <ul class="b-news-menu-mobile__dropmenu b-news-menu-mobile__dropmenu--v2 dropdown-menu">
            <li><a href="#">2014</a></li>
            <li><a href="#">2111</a></li>
            <li><a href="#">2112</a></li>
            <li><a href="#">2113</a></li>
          </ul>
        </div>
      </div>
      <div class="b-news-menu-mobile__month">
        <div class="dropdown">
          <div class="b-news-menu-mobile__subitem-title" data-toggle="dropdown">Ноябрь</div>
          <ul class="b-news-menu-mobile__dropmenu dropdown-menu">
            <li><a href="#">Ноябрь</a></li>
            <li><a href="#">Октябрь</a></li>
            <li><a href="#">Ноябрь</a></li>
            <li><a href="#">Октябрь</a></li>
            <li><a href="#">Ноябрь</a></li>
            <li><a href="#">Октябрь</a></li>
            <li><a href="#">Ноябрь</a></li>
            <li><a href="#">Октябрь</a></li>
          </ul>
        </div>
      </div>
    </div> {% include "includes/blocks/b-news-card.html" %} {% include "includes/blocks/b-news-card.html" %} {% include "includes/blocks/b-news-card.html" %} </div>
    <div class="b-news-menu hidden-xs hidden-sm">
      <div class="b-news-menu__leaf">
        <div class="b-news-menu__item-title">2016</div>
        <ul class="list-unstyled">
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Ноябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Октябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Ноябрь</a></li>
          <li class="b-news-menu__subitem b-news-menu__subitem--active"><a class="b-news-menu__link ajax" href="#">Октябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Ноябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Октябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Ноябрь</a></li>
          <li class="b-news-menu__subitem"><a class="b-news-menu__link ajax" href="#">Октябрь</a></li>
        </ul>
      </div>
      <div class="b-news-menu__leaf">
        <div class="b-news-menu__item-title">2015</div>
      </div>
    </div>
    <div class="visible-xs"> </div>
  </div>
  {% endblock %} {% block page_bottom %}
  <script src="js/news.js"></script> {% endblock %}
