{% extends "layout.html" %}
{% set title = "Страница квартиры" %}
{% block content %}
<div class="l-single-flat">
	<div class="l-single-flat__content">
		<header class="l-topbar l-topbar--flatspage"> {% include "includes/topbar.html" %} </header> {% include "./includes/blocks/b-single-flat.html" %}
		<a href="/flats.html" class="b-prev-screen-btn hidden-xs"></a>
	</div>
	<div class="b-flats__controls-btn visible-xs visible-sm"></div>
	<div class="l-single-flat__filters" id="filtersLayout"> {% include "includes/blocks/b-flats-filter(single).html" %} </div> {% endblock %} {% block page_bottom %}
	{% include "./includes/starred-flats-modal.html" %}
	{% include "./includes/blocks/b-genplan-modal.html" %}
	{% include "./includes/getPriceAsideForm.html" %}
</div>
{% include "./includes/floor-scheme-modal.html" %}
{% include "./includes/3d-modal.html" %}
<script src="js/single-flat.js"></script>
{% endblock %}
