{% extends "layout.html" %}
{% set title = "Карта сайта" %}
{% block content %}
<h1 class="b-topleft-header h1">{{ title }}</h1>
<div class="l-sitemap l-screen-with-backbtn">
    <div class="b-centered-text container-fluid">
        <div class="row">
            <nav class="SiteMap">
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead">О smart-квартале</h5>
                    <ul class="SiteMap_list">
                        <li class="SiteMap_item">
                            <a href="/about.html" class="SiteMap_link">О smart-квартале</a>
                        </li>

                        <li class="SiteMap_item">
                            <a href="/gallery.html" class="SiteMap_link">Галерея</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/news.html" class="SiteMap_link">Новости</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/diary.html" class="SiteMap_link">Динамика строительства</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/docs.html" class="SiteMap_link">Документы</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/smart-baby.html" class="SiteMap_link">Smart-Baby</a>
                        </li>
                    </ul>
                </div>
                
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/about2.html" class="SiteMap_headLink">О застройщике</a></h5>
                </div>

                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead">Инфраструктура</h5>
                    <ul class="SiteMap_list">
                        <li class="SiteMap_item">
                            <a href="/infras-external.html" class="SiteMap_link">Инфраструктура района</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/infras-internal.html" class="SiteMap_link">Инфраструктура ЖК</a>
                        </li>
                    </ul>
                </div>
                
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/buy.html" class="SiteMap_headLink">Как купить</a></h5>
                    <ul class="SiteMap_list">
                        <li class="SiteMap_item">
                            <a href="/hypothec.html" class="SiteMap_link">Ипотека</a>
                        </li>
                        <li class="SiteMap_item">
                            <a href="/hypothec-military.html" class="SiteMap_link">Военная ипотека</a>
                        </li>

                    </ul>
                </div>
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/actions.html" class="SiteMap_headLink">Акции</a></h5>
                </div>
                
                 <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/flats.html" class="SiteMap_headLink">Выбрать квартиру</a></h5>
                </div>
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/furnish.html" class="SiteMap_headLink">Квартиры с отделкой</a></h5>
                </div>
                
                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/flats2.html" class="SiteMap_headLink">Выбрать кладовую</a></h5>
                </div>

                <div class="SiteMap_group">
                    <h5 class="SiteMap_groupHead"><a href="/contacts.html" class="SiteMap_headLink">Контакты</a></h5>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %} 

{% block page_bottom %}
<script src="js/sitemap.js"></script>
{% endblock %}