{% extends "layout.html" %} {% set title = "Smart-Baby" %}{% block content %}
<div class="l-baby l-screen-with-backbtn">
  <div class="b-parralax-bg">
    <div class="b-parralax-bg__track b-parralax-bg__track--baby-2"></div>
    <div class="b-parralax-bg__track b-parralax-bg__track--baby-1 hidden-xs"></div>
  </div>
  <a href="/about.html" class="b-prev-screen-btn hidden-xs ajax-link"></a>
  <h1 class="b-topleft-header h1">Smart-<span class="text-primary">Baby</span></h1>
  <div id="smartbabyContentCol" class="b-centered-text container-fluid">
    <p>В рамках 1-ой очереди строительства ЖК «Аккорд.Smart-квартал» в 2017-м году специально для маленьких жителей комплекса девелопер SDI Group совместно с центром Stay&amp;lay откроет детский клуб. </p>
    <p> Все воспитательные программы в студии детского клуба STAY&amp;PLAY направлены на развитие у детей любознательности, самодисциплины, самомотивации в жизни и социальной среде. Методические материалы для изучения иностранных языков закупаются в Великобритании, Австралии и Франции.</p>
    <p> И, конечно, самым главным для нас является индивидуальность каждого ребёнка, которую мы уважаем, и создаём благоприятную атмосферу для её раскрытия. Детский клуб STAY&amp;PLAY будет иметь собственную территорию для прогулок и игр на свежем воздухе. </p>
    <div class="row" style="padding-top: 40px;">
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-primary">STAY&amp;PLAY</h4>
        <p> редставляет собой детский сад кратковременного пребывания. Родители всегда смогут решить неотложные вопросы, пока их дети находятся под присмотром опытных воспитателей. </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-info2">LEARN&amp;PLAY </h4>
        <p> cтудия работает как в качестве индивидуальных занятий, так и классов, предоставляя возможность Вашему ребенку развить личные и социальные навыки для плавного входа в общественную жизнь. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-purple">ART&amp;MUSIC</h4>
        <p>в классах этой студии дети получат всестороннее гармоничное развитие. Программы основаны на взаимосвязи интеллектуального и эмоционального начала.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-lightgreen">SPORT&amp;DANCE</h4>
        <p>хореография, детский фитнес, секции карате или детской йоги помогут раскрыть физические и ментальные возможности вашего ребенка.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-bolot">СТУДИЯ МОДЕЛИЗМА</h4>
        <p>занятия по постройке стендовых моделей направлены на развитие у ребенка конструкторских и художественных навыков.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4 class="b-centered-text__blockhead text-lightorange">ТЕАТРАЛЬНАЯ СТУДИЯ</h4>
        <p>воспитывает артистичность, воображение, фантазию, память и конечно же, умение общаться с людьми.</p>
      </div>
    </div>
  </div>
</div> {% endblock %} {% block page_bottom %}
<script src="js/smart-baby.js"></script> {% endblock %}
