{% extends "layout.html" %}
{% block content %}

<div class="l-tour-entry l-screen-with-backbtn">
    <div class="l-tour-entry__pano" id="pano"></div>

    <div class="b-topleft-header b-topleft-header--white b-topleft-header--tour-entry-header h1">Виртуальный тур</div>
    <a href="/infras1.html" class="b-prev-screen-btn b-prev-screen-btn--white hidden-xs"></a>
    <div class="b-tour-entry">
        <a href="#" data-aside-menu="chooseTourAsideForm" class="b-tour-entry__choose-angle-btn btn btn-primary btn-lg hidden-xs">Выберите ракурс</a>
        <a href="#" data-aside-menu="chooseTourAsideForm" class="b-tour-entry__mobile-choose-angle-btn visible-xs">Выберите ракурс</a>
    </div>




</div>
<div class="b-aside-form b-aside-form--tour-view" id="chooseTourAsideForm">
    <div class="b-aside-form__header b-aside-form__header--tour">Виртуальный тур</div>
        <div class="b-chooseview">
            <div class="b-chooseview__header">Выберите ракурс</div>
            <div class="b-chooseview__subheader">для просмотра используйте мышь</div>
            <div class="b-chooseview__mapwrap">
                <img class="b-chooseview__mapimg" alt="" src="img/tour-entry/tour-view.png">
                <div class="b-chooseview__mappin" style="bottom: 64%; left: 16%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 13%; bottom: 44%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="bottom: 20%; left: 21%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="bottom: 42%; left: 27%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="bottom: 56%; left: 34%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 45%; bottom: 54%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="bottom: 66%; left: 54%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 56%; bottom: 45%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 67%; bottom: 43%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 64%; bottom: 55%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 70%; bottom: 67%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="bottom: 55%; left: 77%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 47%; bottom: 24%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
                <div class="b-chooseview__mappin" style="left: 85%; bottom: 20%;">
                    <a href="#" class="b-chooseview__pinlink"></a>
                </div>
            </div>
        </div>
        
    <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
</div>


{% endblock %}

{% block page_bottom %}
<script src="js/tour.js"></script>
{% endblock %}