@font-face {
    font-family: 'AvenirNext';
    font-weight: 700;
    src: url('../fonts/AvenirNextCyrW00Bold.eot');
    src: url('../fonts/AvenirNextCyrW00Bold.eot') format('embedded-opentype'), url('../fonts/AvenirNextCyrW00Bold.woff2') format('woff2'), url('../fonts/AvenirNextCyrW00Bold.woff') format('woff'), url('../fonts/AvenirNextCyrW00Bold.ttf') format('truetype'), url('../fonts/AvenirNextCyrW00Bold.svg#AvenirNextCyrW00Bold') format('svg');
}

@font-face {
    font-family: 'AvenirNext';
    font-weight: 600;
    src: url('../fonts/AvenirNextCyrW00Medium.eot');
    src: url('../fonts/AvenirNextCyrW00Medium.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextCyrW00Medium.woff2') format('woff2'),
    url('../fonts/AvenirNextCyrW00Medium.woff') format('woff'),
    url('../fonts/AvenirNextCyrW00Medium.ttf') format('truetype'),
    url('../fonts/AvenirNextCyrW00Medium.svg#AvenirNextCyrW00Medium') format('svg');
}

@font-face {
    font-family: 'AvenirNext';
    font-weight: 500;
    src: url('../fonts/AvenirNextCyrW00Demi.eot');
    src: url('../fonts/AvenirNextCyrW00Demi.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextCyrW00Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextCyrW00Demi.woff') format('woff'),
    url('../fonts/AvenirNextCyrW00Demi.ttf') format('truetype'),
    url('../fonts/AvenirNextCyrW00Demi.svg#AvenirNextCyrW00Demi') format('svg');
}

@font-face {
    font-family: 'AvenirNext';
    font-weight: 400;
    src: url('../fonts/AvenirNextCyrW00Regular.eot');
    src: url('../fonts/AvenirNextCyrW00Regular.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextCyrW00Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextCyrW00Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyrW00Regular.ttf') format('truetype'),
    url('../fonts/AvenirNextCyrW00Regular.svg#AvenirNextCyrW00Regular') format('svg');
}