html,
body {
    height: 100%;
}

html.ios {
    &,
    & > body {
        height: 100%;
        position: fixed;
        width: 100%;
        overflow: hidden;
    }

    & > body {
        overflow: auto;
    }
}

@media (--smPlus) {
    html,
    body {
        /* min-height: 628px; */
        overflow: hidden;
    }
    .container-fluid {
        padding-left: 38px;
        padding-right: 38px;
    }
}

.l-global {
    height: 100%;
    position: relative;
    @media (--xs) {
        min-height: 100%;
        height: auto;
        padding-bottom: var(--footerHeight);
        padding-top: 60px;
    }
}

.l-main,
.l-main__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #fff;
    @media (--xs) {
        height: auto;
        position: relative;
    }
}



.l-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    &--main {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s;
    }
}

/*.l-main__inner{
    z-index: 10;
}

.l-main__inner + .l-main__inner{
    z-index: 20;
}*/

.l-diary-tl-wrap {
    bottom: 0;
    position: absolute;
    top: 90px;
    width: 278px;
    right: 6%;
    @media (--sm) {
        right: 0;
        top: 147px;
        width: 223px;
    }
}

.l-topbar {
    padding-top: 30px;
    position: relative;
    z-index: 100;
    @media (--xs) {
        padding-top: 18px;
    }
    &--flatspage {
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        @media (--xs) {
            padding-bottom: 18px;
        }
        @media (--smPlus) {
            padding-bottom: 26px;
        }
    }
}

.l-topbar--main {
    opacity: 1;
    transition: opacity 0.2s;
    @media (--xs) {
        position: fixed;
        width: 100%;
        padding-bottom: 18px;
        background: #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.2s;
        top: 0;
        z-index: 200;
    }
}

.l-home {
    padding: 74px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.54));
}

.l-pros {
    height: 100%;
    background: linear-gradient(to bottom, #fff, #dfeaf0);
}

.l-about {
    height: 100%;
    position: relative;
    @media (--xs) {
        height: auto;
        min-height: 100%;
        padding-top: 21px;
    }
    @media (--sm) {
        padding: 183px 50px 0 97px;
    }
    @media (--md) {
        padding: 181px 34px 0 94px;
    }
    @media (--lg) {
        padding: 180px 36px 0 94px;
    }
}

.l-aboutpage-bg {
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    @media (--xs) {
        display: none;
    }
}

.l-baby {
    height: 100%;
    background: linear-gradient(to bottom, #fff, #dfeaf0);
}

.l-screen-with-backbtn {
    @media (--xs) {
        padding-top: 77px;
    }
    @media (--smPlus) {
        padding-top: 210px;
    }
    &.l-news {
        @media (--xs) {
            padding-top: 59px;
        }
        @media (--md) {
            padding-top: 154px;
        }
        @media (--lg) {
            padding-top: 171px;
        }
    }
    &.l-docs {
        @media (--sm) {
            padding-top: 230px;
        }
        @media (--md) {
            padding-top: 200px;
        }
        @media (--lg) {
            padding-top: 154px;
        }
    }
    &.l-actions {
        @media (--sm) {
            padding-top: 230px;
        }
        @media (--md) {
            padding-top: 149px;
        }
        @media (--lg) {
            padding-top: 149px;
        }
    }
    &.l-action {
        @media (--xs) {
            padding-top: 108px;
        }
    }
    &.l-furnish {
        @media (--sm) {
            padding-top: 215px;
        }
        @media (--lg) {
            padding-top: 260px;
        }
    }
    &.l-hypothec {
        @media (--xs) {
            padding-top: 0;
            padding-bottom: 0;
        }
        @media (--sm) {
            padding-top: 105px;
        }
        @media (--md) {
            padding-top: 142px;
        }
        @media (--lg) {
            padding-top: 183px;
        }
    }
}

.l-buy {
    height: 100%;
    position: relative;
    @media (--smPlus) {
        background: url("../img/buy/buy1-bg.jpg") center bottom no-repeat;
        background-size: 100% auto;
    }
    @media (--xs) {
        padding-top: 38px;
    }
    @media (--sm) {
        padding-top: 125px;
    }
    @media (--md) {
        padding-top: 144px;
    }
    @media (--lg) {
        padding-top: 242px;
    }
}

.l-contacts {
    height: 100%;
    position: relative;
    @media (--xs) {
        min-height: 100%;
        height: auto;
        padding-top: 18px;
    }
    @media (--sm) {
        padding-top: 114px;
    }
    @media (--smPlus) {
        background: #d8efff;
    }
    @media (--md) {
        padding-top: 116px;
    }
    @media (--lg) {
        padding-top: 190px;
    }
}

.l-tour-entry {
    height: 100%;
    @media (--xs) {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: var(--footerHeight);
        height: auto;
    }
}

.l-infras {
    height: 100%;
    position: relative;
    @media (--xs) {
        height: auto;
        min-height: 100%;
        padding-top: 21px;
    }
    @media (--sm) {
        padding: 224px 0 0 57px;
    }
    @media (--md) {
        padding: 120px 54px 0 56px;
    }
    @media (--lg) {
        padding: 205px 36px 0 54px;
    }
}

.l-gallery {
    height: 100%;
    position: relative;
    @media (--xs) {
        height: auto;
        min-height: 100%;
        padding-top: 40px;
    }
    @media (--sm) {
        padding-top: 207px;
    }
    @media (--md) {
        padding-top: 204px;
    }
    @media (--lg) {
        padding-top: 207px;
    }
}

.l-diary {
    @media (--xs) {
        position: relative;
        height: calc(100vh - 112px) !important;
        padding: 0;
        overflow: hidden;
        min-height: calc(50vw + 256px) !important;
    }
    @media (--sm) {
        padding-top: 320px;
    }
    @media (--md) {
        padding-top: 322px !important;
    }
    @media (--lg) {
        padding-top: 280px;
    }
    @media (min-width: 768px) and (max-width: 1099px) and (max-height: 860px) {
        padding-top: 170px;
    }
}

.l-news,
.l-actions,
.l-furnish,
.l-article,
.l-action,
.l-hypothec,
.l-gallery,
.l-diary,
.l-docs,
.l-sitemap,
.l-404 {
    height: 100%;
    @media (--smPlus) {
        background: linear-gradient(to bottom, #fff, #dfeaf0);
    }
}

.pull-left-sm {
    @media (--sm) {
        float: left;
    }
}

.pull-right-sm {
    @media (--sm) {
        float: right;
    }
}

.text-right-sm {
    @media (--sm) {
        text-align: right;
    }
}

.l-flats,
.l-single-flat,
.l-storerooms {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 100;
    &__content,
    &__filters {
        position: absolute;
        height: 100%;
        top: 0;
    }
    @media (--mdPlus) {
        &__filters {
            right: 0;
        }
    }
    &__filters {
        transform: translateZ(0);
        @media (--xs) {
            z-index: 120;
            left: 100%;
            width: 100%;
            transition: all 0.3s;
            &--active {
                left: 0;
            }
        }
        @media (--sm) {
            z-index: 120;
            transition: all 0.3s;
            width: 335px;
            right: -335px;
            &--active {
                right: 0;
            }
        }
        @media (--md) {
            width: 239px;
        }
        @media (--lg) {
            width: 358px;
        }
    }
    &__content {
        left: 0;
        right: 0;
        @media (--smPlus) {
            background: linear-gradient(to bottom, #fff, #ecf1f5);
        }
        @media (--md) {
            right: 239px;
        }
        @media (--lg) {
            right: 358px;
        }
    }
}

.va {
    display: table;
}

.va-item {
    display: table-cell;
    vertical-align: middle;
}

.l-article {
    @media (--xs) {
        padding-top: 23px;
    }
}

.l-tour-entry__pano {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    @media (--xs) {
        bottom: 70px;
        top: 126px;
        height: auto;
    }
}

@media (--xs) {
    .overflow-hidden-xs {
        overflow: hidden !important;
    }
}


.bold {
    font-weight: 700;
}