@custom-media --xxs (max-width: 320px);
@custom-media --xs (max-width: 767px);
@custom-media --xsH (max-width: 767px) and (orientation: landscape);
@custom-media --smMinus (max-width: 1099px);
@custom-media --sm (min-width: 768px) and (max-width: 1099px);
@custom-media --smH (min-width: 768px) and (max-width: 1099px) and (orientation: landscape);
@custom-media --smPlus (min-width: 768px);
@custom-media --mdMinus (max-width: 1899px);
@custom-media --md (min-width: 1100px) and (max-width: 1899px);
@custom-media --mdPlus (min-width: 1100px);
@custom-media --lg (min-width: 1900px);

:root {
  --colorPrimary: #d57e59;
  --colorPrimaryN2:#ff8d5e;
  --colorGrayN1: #efefef;
  --colorGrayN2: #999;
  --colorBolot: #b0b87f;
  --colorLightorange: #e9ba90;
  --colorPurple: #d06e6b;
  --colorLightgreen: #b9c966;
  --colorMarine: #5ca8bf;
  --colorSuccess: #5a7b44;
  --footerHeight: 52px;
  --tbl-grid: {
    display:table;
    width: 100%;
    table-layout: fixed;
  }
}
