.text-info2 {
  color: var(--colorMarine);
}

.text-lightgreen {
  color: var(--colorLightgreen);
}

.text-purple {
  color: var(--colorPurple);
}

.text-bolot {
  color: var(--colorBolot);
}

.text-lightorange {
  color: var(--colorLightorange);
}

.btn-military,
.btn-military:hover {
  background: url("../img/military-btn-bg.png") top center no-repeat;
  color: #fff;
  background-size: 100% 100%;
  border-color: #52733c;
}

.btn-pale {
  background: #333134;
  color: #fff;
  border-color: #333134;
}

* {
  outline: none !important;
}

@media (--md) {
  .text-md-demibold {
    font-weight: 500;
  }
}

.modal {
  z-index: 2000;
}

.modal-backdrop {
  z-index: 1500;
}

.nicescroll-rails-vr {
  &:before {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    width: 1px;
    background: #d3d3d3;
    content: "";
    pointer-events: none;
    box-sizing: content-box;
  }
}

.nicescroll-cursors {
  box-sizing: content-box;
}

.modal-dialog {
  &._3d {
    height: 80%;
    width: 80%;
    max-width: 1000px;

    & .modal-content {
      width: 100%;
      height: 100%;

      & [data-modal-3d] {
        height: 100%;
      }
    }

    & .modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 17px;
      height: 17px;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 17px;
        height: 2px;
        background-color: #f58766;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    & iframe {
      border: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    & #KeyShotXR {
      margin: 0 auto;
    }
  }
}

/*= require includes/vars.css */

/*= require includes/fonts.css */

/*= require includes/Accord-websit-icons.css*/

/*= require includes/layout.css */

/*= require includes/blocks/*.css */

.btn {
  transition: box-shadow 0.3s;
}

.btn-primary.btn-shadow {
  box-shadow: 0 5px 24px rgba(200, 95, 51, 0.52);
  &:hover {
    @media (--mdPlus) {
      box-shadow: 0 10px 24px rgba(200, 95, 51, 0);
    }
  }
}

/* .b-page-preloader {
    display: none !important;
    } */

    .comagic-js-consultant-sitephone-label--hidden {
      @media (--smMinus) {
        bottom: 0;
      }
    }


.OurPhone{
  display: none;
}