.b-404{
	text-align: center;
	height: 100%;
	display: table;
	width: 100%;
	&__inner{
		display: table-cell;
		vertical-align: middle;
	}

	&__title{
		font-size: 29px;
		margin-bottom: 10px;
	}

	&__text{
		font-size: 0.96em;
		margin-bottom: 19px;
	}

	&__pic{
		pointer-events: none;
	}
}