.b-aboutpage {
  position: relative;
  &__text {
    line-height: 1.3;
    overflow-y: hidden;
    @media (--smPlus) {
      float: left;
    }
    @media (--sm) {
      width: 58%;
    }
    @media (--md) {
      letter-spacing: 0.03em;
      line-height: 1.8;
      width: 67%;
    }
    @media (--lg) {
      font-size: 20px;
      width: 64%;
    }
    & h1 {
      font-weight: 700;
      @media (--sm) {
        line-height: 1.3;
        margin-bottom: 30px;
      }
      @media (--lg) {
        font-size: 38px;
      }
    }
    & p {
      & .b-aboutpage__bold-text {
        font-weight: 500;
        color: var(--colorPrimaryN2)
      }
      @media (--xs) {
        line-height: 1.33;
      }
      @media (--sm) {
        line-height: 1.7;
      }
      @media (--md) {
        margin: 0 0 17px;
      }
      @media (--lg) {
        margin-bottom: 29px;
        letter-spacing: -0.005em;
      }
    }
  }
  &__nav,
  &__aside {
    @media (--smPlus) {
      float: right;
    }
  }
  &__nav {
    @media (--md) {
      width: 312px;
    }
    @media (--lg) {
      width: 342px;
    }
  }
  &__aside {
    @media (--sm) {
      padding-right: 12px;
      padding-top: 62px;
      width: 212px;
    }
    @media (--md) {
      padding-right: 51px;
      padding-top: 18px;
      width: 287px;
    }
    @media (--lg) {
      padding-top: 68px;
      width: 334px;
    }
  }
  &__navlink {
    color: inherit;
  }
  &__navleaf {
    @media (--smPlus) {
      font-size: 16px;
      font-weight: 500;
      height: 40px;
      line-height: 40px;
      padding-left: 44px;
      position: relative;
      white-space: nowrap;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: "";
        display: block;
      }
      ;
      &--build:before {
        width: 24px;
        height: 21px;
        margin-top: -10px;
        background-image: url("../img/bricks.svg");
      }
      &--docs:before {
        width: 24px;
        height: 27px;
        margin-top: -13px;
        background-image: url("../img/file.svg");
      }
      &--gallery:before {
        width: 24px;
        height: 19px;
        margin-top: -10px;
        background-image: url("../img/multiple-shots.svg");
      }
      &--news:before {
        width: 24px;
        height: 19px;
        margin-top: -9px;
        background-image: url("../img/newspaper.svg");
      }
      &--baby:before {
        width: 24px;
        height: 24px;
        margin-top: -11px;
        background-image: url("../img/pacifier.svg");
      }
    }
  }
  &__scroll-pusher {
    display: block;
    width: 100%;
    height: auto;
    visibility: hidden;
  }
  &__loaddoc {
    display: table;
    width: 100%;
    @media (--sm) {
      margin-top: 14px;
    }
    @media (--md) {
      margin-top: 31px;
    }
    @media (--lg) {
      margin-top: 25px;
    }
  }
  &__loaddoc-pic-wrap,
  &__loaddoc-text-wrap {
    display: table-cell;
    vertical-align: middle;
  }
  &__loaddoc-pic {
    @media (--lg) {
      width: 40px;
      height: auto;
    }
  }
  &__loaddoc-pic-wrap {
    padding-right: 8px;
  }
  &__loaddoc-text-wrap {
    font-weight: 500;
    @media (--xs) {
      font-size: 13px;
    }
    @media (--sm) {
      font-size: 14px;
    }
    @media (--md) {
      font-size: 16px;
    }
    @media (--lg) {
      font-size: 20px;
    }
  }
}

.b-aboutpage,
.b-aboutpage__inner,
.b-aboutpage__text {
  height: 100%;
}
