.b-action {
  &__picwrap {
    @media (--xs) {
     padding-bottom: 30px;
     margin: 0 -29px;
   }
   @media (--sm) {
    padding-bottom: 29px;
  }
  @media (--md) {
    padding-bottom: 34px
  }
  @media (--lg) {
   padding-bottom: 34px
 }
}
&__picture {
  position: relative;
  z-index: 10;
  width: 100%;
}
&__text {
  letter-spacing: -0.01em;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    content: "";
  }
  
  @media (--xs) {
    padding: 0 0 18px;
    line-height: 1.3;
  }

  @media (--sm) {
    padding: 0 0 18px;
  }
  @media (--md) {
    font-size: 15px;
    line-height: 1.55;
    padding: 0 102px 20px 0;
    &:before,
    &:after {
      background: linear-gradient(to bottom, #a6ca04 0px, #a6c900 8px, #8fb407);
      right: 34px;
      top: -88px;
    }
    &:before {
      width: 60%;
      height: 8px;
    }
    &:after {
      bottom: 0;
      width: 8px;
    }
  }
  @media (--lg) {
    font-size: 20px;
    padding: 0 102px 20px 0;
    &:before,
    &:after {
      background: linear-gradient(to bottom, #a6ca04 0px, #a6c900 10px, #8fb407);
      right: 49px;
      top: -123px;
    }
    &:before {
      width: 60%;
      height: 10px;
    }
    &:after {
      bottom: 0;
      width: 10px;
    }
  }
}
}
