.b-article {

    &__header {
        font-weight: 500;
        @media (--xs) {
            font-size: 14px;
    		margin-bottom: 15px;
        }
        @media (--sm) {
            font-size: 14px;
            margin-bottom: 17px;
        }
        @media (--md) {
            font-size: 16px;
            margin-bottom: 21px;
        }
        @media (--lg) {
            font-size: 24px;
            margin-bottom: 34px;
        }
    }
    &__paragraph, & > p, & > .news_text > p {
        line-height: 1.5;
        @media (--xs) {
        	line-height: 1.33;
            font-size: 14px;
            margin-bottom: 15px;
            margin-right: -12px;
        }
        @media (--sm) {
            font-size: 13px;
    		margin-bottom: 16px;
        }
        @media (--md) {
            font-size: 15px;
            margin-bottom: 20px;
        }
        @media (--lg) {
            margin-bottom: 34px;
            font-size: 21px;
            letter-spacing: 0.014em;
        }
    }
    &__picwrap {
        text-align: center;
        @media (--smPlus) {
            width: 20%;
            float: left;
            padding: 0 4px 4px 0;
        }
    }
    &__pics {
        @media (--sm) {
            padding-bottom: 21px;
        }
        @media (--md) {
            padding-bottom: 28px;
        }
        @media (--lg) {
            padding-bottom: 43px;
        }
    }
    &__pic {
        max-width: 100%;
    }

    &__mobile-slider {
        margin-right: -29px;
        margin-left: -29px;
    }
    &__mobslide {
        width: 100%;
    }
}
