.b-aside-form {
    background: #302e31 none repeat scroll 0 0;
    top: 0;
    bottom:0;
    right: 100%;
    position: fixed;
    color: #fff;
    z-index: 400;
    &--right {
        right: auto;
        left: 100%;
    }
    @media (--xs) {
        width: 100%;
        padding: 64px 29px 0;
    }
    @media (--smPlus) {
        padding: 144px 92px 0 88px;
        width: 456px;
    }
    &--hypothec {
        @media (--sm) {
            width: 768px;
        }
        @media (--md) {
            width: 800px!important;
        }
        @media (--lg) {
            width: 800px;
        }
    }
/*     &--tour-view {
    padding: 180px 0 0 82px;
    background-size: 524px auto;
    background-position: center 38%;
    background-repeat: no-repeat;
    background-image: url("../img/tour-entry/tour-view-bg.png");
    @media (--xs) {
        padding: 99px 0 0 65px;
        background-position: center 14%;
        background-size: 339px auto;
    }
    @media (--sm) {
        width: 445px;
        background-position: center 41%;
        background-size: 307px auto;
    }
    @media (--md) {
        width: 445px;
        background-position: center 41%;
        background-size: 307px auto;
    }
    @media (--lg) {
        width: 445px;
    }
} */
    &--contacts {
        & > .b-aside-form__header {
            white-space: nowrap;
        }
        @media (--xs) {
            display: flex;
            padding-top: 0;

        }
        /* @media (--sm) {
            width: 768px;
        }
        @media (--md) {
            width: 800px;
        }
        @media (--lg) {
            width: 800px;
        } */
    }
    &__timepick {
        width: 100%;
    }
    &__timepicker-label {
        margin-bottom: 0;
        &--from {
            padding-right: 10px;
        }
        &--until {
            padding: 0 15px;
        }
    }
    &__timepick-head {
        font-weight: 500;
        padding-bottom: 12px;
    }
    &__header {
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 40px;
        &--tour {
            @media (--xs) {
                font-size: 22px;
            }
        }
    }
    &__inpwrap {
        margin-bottom: 27px;
        &--last {
            margin-bottom: 60px;
        }
        
        @media (--xs) {
            margin-bottom: 14px;
        }
    }
    &__inp {
        background: transparent;
        border: 1px solid #514f52;
        border-radius: 18px;
        font-weight: 500;
        padding-left: 16px;
        padding-top: 0;
        padding-bottom: 0;
        &::placeholder {
            color: #fff;
        }
        &--textfield {
            resize: none;
            height: 60px !important;
        }
        &:focus {
            box-shadow: none;
            border-color: var(--colorPrimaryN2)
        }
        &--captcha {
            margin-top: 2px;
        }
        &>.bs-caret {
            background: url("../img/arrow-down-mb-lightgray.svg") no-repeat center;
            display: block;
            background-size: contain;
            height: 8px;
            margin-top: -3px;
            position: absolute;
            right: 14px;
            top: 50%;
            width: 13px;
            &>.caret {
                display: none;
            }
        }
        &--v_success {
            &:focus {
                border-color: var(--colorSuccess);
            }
        }
        &.error {
            border-color: #e85354;
        }
    }
    &__hinttext {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.65;
    }
    &__hintleadtxt {
        font-size: 16px;
        font-weight: 500;
    }
    &__reqs-star {
        font-size: 32px;
        @media (--xs) {
            font-size: 20px;
            margin-right: 8px;
            float: left;
            line-height: 26px;
        }
    }
    &__btn {
        font-size: 17px;
    }
    &__backbtn {
        background: url("../img/back-arrow-white.svg") center no-repeat;
        height: 18px;
        left: 32px;
        position: absolute;
        top: 116px;
        width: 27px;
        cursor: pointer;
        @media (--xs) {
            top: 29px;
        }
        &--to-right {
            left: auto;
            right: 32px;
            transform: scaleX(-1);
        }
    }
    & label.error {
        color: #e85354;
        font-size: 90%;
        display: block;
        font-weight: 600;
        padding: 4px 3px 0;
        line-height: 1;
    }
    &__success-text {
        font-weight: 700;
        font-size: 29px;
    }
    &__error-text {
        font-weight: 500;
        font-size: 120%;
        color: #e85354;
    }
}

.bootstrap-select.open > .b-aside-form__inp {
    border: 2px solid var(--colorPrimaryN2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    &>.bs-caret {
        background-image: url("../img/arrow-down-mb.svg");
    }
    &--v_success>.bs-caret {
        background-image: url("../img/arrow-down-mb-green.svg?datauri");
    }
}

.b-aside-form .bootstrap-select.open .dropdown-menu {
    background: rgb(48, 46, 49);
    border: 2px solid var(--colorPrimaryN2);
    border-top: none;
    top: 26px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    & .text {
        color: #fff;
    }
}

.b-aside-form .bootstrap-select.open .b-aside-form__inp--v_success + .dropdown-menu,
.bootstrap-select.open > .b-aside-form__inp--v_success,
.b-aside-form--green .bootstrap-select.open .b-aside-form__inp + .dropdown-menu,
.b-aside-form--green .bootstrap-select.open > .b-aside-form__inp {
    border-color: var(--colorSuccess);
}

.b-aside-form--green .b-aside-form__inp {
    &:focus {
        border-color: var(--colorSuccess);
    }
}


.b-aside-form form{
    margin: auto;
}