.b-banklist {
    padding-bottom: 39px;
    &__table {
        width: 100%;
    }
    &__th {
        font-family: 'PT Sans Narrow', sans-serif;
        vertical-align: top;
        padding-bottom: 24px;
        border-bottom: 1px solid #d7dbde;
        @media (--sm) {
            padding-bottom: 16px;
            line-height: 1.1;
        }
    }
    &__td {
        /* width: 19%; */
        font-size: 22px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #d7dbde;
        @media (--sm) {
            font-size: 16px;
        }
        &--logo {
            padding: 6px 6px 6px 0;
            @media (--lg) {
                padding: 6px 90px 6px 0px;
            }
        }
        &--lic {
            width: 24%;
            padding: 6px;
            font-size: 15px;
            letter-spacing: -0.02em;
            @media (--sm) {
                font-size: 12px;
            }
        }
        &--sum {
            white-space: nowrap;
            padding-right: 10px;
        }
    }
}

.b-banklist__table--v2 .b-banklist__td {
    width: auto;
    padding-right: 28px;
    &--logo{
        padding-right: 0;
    }
}

.b-mob-banklist {
    margin-bottom: 0;
    padding-top: 6px;
    &__top-row{
        @apply --tbl-grid;
        margin-bottom: 15px;
    }
    &__bottom-row{
        display: table;
        width: 100%;
    }
    &__logowrap,
    &__percent,
    &__firstpay-cell,
    &__duration-cell,
    &__lic-cell {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
    }
    &__firstpay-cell {        
        padding: 2px 15px 2px 15px;
        &--border {
            border-left: 1px solid #efefef;
        }
    }
    &__duration-cell {
        border-left: 1px solid var(--colorGrayN1);
        border-width: 0 1px;
        padding: 2px 15px;
    }
    &__type {
        padding-right: 15px;
    }
    &__liclink {
        color: inherit!important;
        text-decoration: underline;
    }
    &__lic-cell {
        text-align: right;
    }
    &__percent {
        text-align: right;
    }
    &__leaf {
        padding: 16px 29px;
        &:nth-of-type(even) {
            background-color: #f4f4f4;
        }
    }
    &__percent-value {
        color: var(--colorPrimaryN2);
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.01em;
    }
}
