.b-mob-bottom-links {
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 100;

    &__link {
        display: block;
        position: relative;
        color: inherit;
        padding: 20px 29px;
        font-weight: 500;
        font-size: 16px;
        &:after{
        	content: "";
        	height: 16px;
        	width: 8px;
        	top: 50%;
        	margin-top: -8px;
        	background: url("../img/arrow-left-mb.svg") center no-repeat;
        	background-size: contain;
        	position: absolute;
        	right: 29px;
        }
    }
    &__list {
        margin: 0;
    }
    &__leaf {
        border-bottom: 1px solid var(--colorGrayN1);
        &:last-child {
            border: none;
        }
    }
}
