.b-bottom-progressbar{
	position: absolute;
	height: 6px;
	width: 100%;
	bottom: 0;
	background-color: #2f2e33;
	z-index: 100;
	&__track{
		position: absolute;
		height: 100%;
		background-color: var(--colorPrimary);
		width: 0%;
		left: 0;
		top: 0;
		transform: translateZ(0);
	}

	@media (--xs) {
		bottom: var(--footerHeight);
		position: fixed;
	}
}