.b-buy {
    &__col {
        @media (--sm) {
            padding-bottom: 34px;
        }
    }
    & p {

        @media (--sm) {
            font-size: 15px;
            letter-spacing: -0.016em;
            line-height: 1.5;
            margin-bottom: 0;
        }
        @media (--md) {
            font-size: 15px;
            letter-spacing: -0.016em;
            line-height: 1.45;
            margin-bottom: 13px;
        }
        @media (--lg) {
            font-size: 20px;
            line-height: 1.32;
            margin-bottom: 26px;
        }
    }
    &__phone {
        font-weight: 700;
        @media (--xs) {
            position: relative;
        }
        @media (--sm) {
            font-size: 22px;
            display: inline-block;
            margin-right: 7px;
        }
        @media (--md) {
            font-size: 22px;
            margin-top: -8px;
        }
        @media (--lg) {
            font-size: 22px;
            font-weight: 700;
            margin-top: -21px;
        }
    }
    &__header {
        font-weight: 700;

        @media (--sm) {
            font-size: 30px;
            letter-spacing: -0.01em;
            padding-bottom: 13px;
            margin-bottom: 16px;
            border-bottom: 1px solid var(--colorGrayN1);
        }
        @media (--md) {
            font-size: 30px;
            line-height: 1.35;
            padding-bottom: 18px;
        }
        @media (--lg) {
            font-size: 37px;
            line-height: 1.25;
            padding-bottom: 18px;
        }
    }
    &__readmore-link {
        @media (--smPlus) {
            font-weight: 700;
            color: var(--colorPrimaryN2);
            text-decoration: underline;
        }

        @media (--sm) {
            position: absolute;
            right: 20px;
            top: 11px;
            display: block;
            height: 23px;
            width: 23px;
            background: url("../img/arrow-left-mb.svg") center no-repeat;
            overflow: hidden;
            font-size: 0;
            color: transparent;
            border: 1px solid var(--colorGrayN1);
            border-radius: 50%;
            &:hover{
            	border-color: var(--colorPrimaryN2);
            }
        }
        @media (--lg) {
            font-size: 20px;
            line-height: 1.25;
        }
    }
    &__write-to-us-link {
        display: inline-block;
        border-bottom: 1px dashed #3B3E41;
        color: inherit;
        line-height: 1;
        &:hover {
            color: inherit;
        }
        @media (--sm) {
            font-size: 15px;
            letter-spacing: -0.03em;
        }
    }

    @media (--sm) {
        padding: 0 48px 0 56px;
    }
    @media (--md) {
        padding: 0 0 0 56px;
    }
    @media (--lg) {
        padding: 0 30px 0 90px;
    }
}



.b-mobile-buy{
	&__header{
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 7px;
        position: relative;
	}

	&__paragraph, & p{
		line-height: 1.3;
		position: relative;
	}

	&__pic{
		width: 100%;
		margin-top: -49px;
	}

    
}