.b-cardlist-header{
	padding-top: 8px;
	
	@media (--xs) {
		font-size: 18px;
	}
	@media (--sm) {
		padding-top: 12px;
		font-size: 24px;
	}
	@media (--md) {
		padding-top: 14px;
		letter-spacing: .01em;
		font-size: 26px;
	}
	@media (--lg) {
		padding-top: 16px;
		letter-spacing: .015em;
	}
	&--top{
		padding-top: 0!important;
	}
	&--with-line{		
		border-bottom: 1px solid var(--colorPrimaryN2);
		padding-bottom: 6px;
		@media (--sm) {
			padding-bottom: 8px;
		}
		@media (--mdPlus) {
			padding-bottom: 12px;
		}
	}
}