.b-card {
    position: relative;
    @media (--xs) {
        padding-bottom: 18px;
    }
    @media (--sm) {
        padding-bottom: 14px;
    }
    @media (--md) {
        padding-bottom: 18px;
    }
    @media (--lg) {
        padding-bottom: 24px;
    }
    &__wrap {
        width: 100%;
    }
    &__td {
        vertical-align: top;
        &--tr {
            width: 1px;
        }
        &--tl {
            @media (--md) {
                background: none;
            }
        }
    }
    &__corner {
        background-size: cover;
        @media (--xs) {
            width: 26px;
            height: 26px;
            background: url("../img/news/news-teaser-corner-xs.png") center no-repeat;
        }
        @media (--sm) {
            width: 28px;
            height: 28px;
            background: url("../img/news/news-teaser-corner-sm.png") center no-repeat;
        }
        @media (--md) {
            width: 34px;
            height: 34px;
            background: url("../img/news/news-teaser-corner-md.png") center no-repeat;
        }
        @media (--lg) {
            width: 47px;
            height: 48px;
            background: url("../img/news/news-teaser-corner-lg.png") center no-repeat;
        }
    }
    &__border {
        border: 1px solid var(--colorGrayN1);
        width: 100%;
        @media (--md) {
            border-color: #e5e5e5;
        }
        &--tl {
            background: #fff;
            border-width: 1px 0 0 1px;
            border-top-left-radius: 4px;
            @media (--xs) {
                height: 26px;
            }
            @media (--sm) {
                height: 28px;
            }
            @media (--md) {
                height: 34px;
            }
            @media (--lg) {
                height: 48px;
                border-width: 2px 0 0 2px;
            }
            &-v2 {
                @media (--md) {
                    background: #fff;
                }
            }
        }
        &--tr {
            border-width: 1px 1px 0 0;
            @media (--lg) {
                border-width: 2px 2px 0 0;
            }
        }
        &--m {
            background: #fff;
            border-width: 0 1px 1px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            @media (--xs) {
                padding: 0 24px 14px;
            }
            @media (--sm) {
                padding: 0 28px 24px;
            }
            @media (--md) {
                padding: 0 32px 24px;
            }
            @media (--lg) {
                padding: 0 48px 32px;
                border-width: 0 2px 2px;
            }
            &-v2 {
                background: #fff;
                @media (--xs) {
                    padding: 0 24px 19px
                }
                @media (--sm) {
                    padding: 0 24px 17px;
                }
                @media (--lg) {
                    padding: 0 44px 32px;
                    border-width: 0 2px 2px;
                }
            }
        }
        
    }
    &__title {
        font-weight: 500;
        position: relative;
        line-height: 1.5;
        &:after {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            content: "";
            border-top: 1px solid var(--colorPrimaryN2);
            @media (--md) {
                bottom: -8px;
              }

        }
        @media (--xs) {
            padding-bottom: 8px;
        }
        @media (--sm) {
            font-size: 14px;
            padding-bottom: 12px;
            line-height: 13px;
        }
        @media (--md) {
            font-size: 16px;
            padding-bottom: 4px;
            top: -9px;
            line-height:1.7;
        }
        @media (--lg) {
            font-size: 24px;
            padding-bottom: 19px;
        }
        &--v2 {
            overflow-y:hidden;
            @media (--xs) {
                /* padding-bottom: 8px; */
                top: -4px;
                line-height:1.8;
            }
            @media (--sm) {
                /* padding-bottom: 12px; */
                top: -4px;
                line-height:1.8;
                height:90px;
            }
            @media (--md) {
                /* padding-bottom: 14px; */
                height: 84px;
                
            }
            @media (--lg) {
                font-size: 23px;
                height:104px;
                /* padding-bottom: 21px; */
            }

            &:after{
                content: none;
                display: none;
            }
        }
        &--v3 {
            text-transform: uppercase;
            padding-bottom: 0;
            &:after {
                display: none;
            }
            @media (--xs) {
                min-height: 68px;
                top: -4px;
                line-height: 1.4;
            }
            @media (--sm) {
                height: 74px;
                top: -4px;
                line-height: 1.4;
            }
            @media (--md) {
                height: 86px;
                top: -11px;
                line-height: 1.4;
            }
            @media (--lg) {
                font-size: 24px;
                top: -11px;
                height: 125px;
                line-height: 1.4;
            }
        }
    }
    &__text {
        @media (--xs) {
            letter-spacing: -0.005em;
            line-height: 18px;
            padding-bottom: 25px;
            padding-top: 20px;
        }
        @media (--sm) {
            font-size: 13px;
            letter-spacing: -0.013em;
            line-height: 19px;
            padding-bottom: 18px;
            padding-top: 8px;
        }
        @media (--md) {
            font-size: 15px;
            letter-spacing: -0.013em;
            line-height: 23px;
            padding-bottom: 20px;
            padding-top: 11px;
        }
        @media (--lg) {
            padding-top: 17px;
            font-size: 22px;
            letter-spacing: -0.013em;
            line-height: 32px;
            padding-bottom: 25px;
        }
        &--v2 {
            font-weight: 500;
            @media (--xs) {
                padding-top: 0;
                padding-bottom: 16px;
            }
            @media (--sm) {
                padding-top: 0;
                padding-bottom: 24px;
            }
            @media (--md) {
                padding-bottom: 28px;
                padding-top: 4px;
                font-size: 16px;
            }
            @media (--lg) {
                padding-top: 4px;
                font-size: 23px;
            }
        }
    }
    &__date {
        float: left;
        @media (--xs) {
            font-size: 13px;
            letter-spacing: -0.03em;
        }
        @media (--sm) {
            font-size: 13px;
        }
        @media (--lg) {
            font-size: 24px;
            letter-spacing: -0.05em;
        }
    }
    &__readmore-wrap {
        float: right;
        padding-right: 9px;
        @media (--xs) {
            padding-right: 0;
        }
        &--v3 {
            padding-right: 0;
            border-bottom: 1px solid #f28c60;
            @media (--lg) {
                padding-bottom: 4px;
            }
        }
    }
    &__readmore {
        font-weight: 500;
        text-decoration: underline;
        @media (--xs) {
            font-size: 13px;
            letter-spacing: -0.03em;
        }
        @media (--lg) {
            font-size: 24px;
            letter-spacing: -0.05em;
        }
        &--v3 {
            font-weight: 400;
            color: inherit;
            text-decoration: none;
            color: #5e6367;
            font-size: 12px;
            @media (--xs) {
                font-weight: 500;
                letter-spacing: -0.01em;
            }
            @media (--sm) {
                font-size: 13px;
            }
            @media (--md) {
                font-size: 15px;
            }
            @media (--lg) {
                font-size: 22px;
                letter-spacing: -0.01em;
            }
        }
    }
    &__download {
        display: table;
        @media (--lg) {
            padding-top: 20px;
        }
    }
    &__download-icon-wrap,
    &__download-text {
        display: table-cell;
        vertical-align: middle;
    }
    &__download-text {
        color: #5e6367;
        @media (--xs) {
            font-size: 12px;
        }
        @media (--sm) {
            font-size: 13px;
        }
        @media (--md) {
            font-size: 15px;
            letter-spacing: -0.01em;
        }
        @media (--lg) {
            font-size: 22px;
            letter-spacing: -0.01em;
        }
    }
    &__download-icon {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &--adobe {
            background-image: url("../img/adobe.svg");
        }
        @media (--xs) {
             height: 24px;
            width: 24px;
            margin-right: 8px;
        }
        @media (--sm) {
            height: 26px;
            width: 26px;
            margin-right: 6px;
        }
        @media (--md) {
            height: 24px;
            width: 24px;
            margin-right: 8px;
        }
        @media (--lg) {
            height: 46px;
            width: 46px;
            margin-right: 10px;
        }
    }
    &__link-wrapper {
        color: inherit;
        display: block;
        &:hover {
            @media(--xs) {
                color: inherit;
            }
            @media(--sm) {
                color: inherit;
            }
            @media (--mdPlus) {
                color: #fff;
                & .b-card__border {
                    background: #ff8d5e;
                    border-color: #ff8d5e;
                    box-shadow: 1px 26px 38px rgba(255, 143, 94, 0.4);
                }
                & .b-card__download-text {
                    color: #fff;
                }
                & .b-card__corner--v2 {
                    background-image: url("../img/news/news-teaser-corner-hover.png");
                    background-size: 100% 100%;
                    background-position: top 1px left 0px;
                }
                & .b-card__doc-footer {
                    background: none;
                }
            }
        }
    }
    &--with-hover-state {
        &:hover {
            z-index: 10;
        }
    }
    &--muted {
        background: url("../img/actions/muted-card-border.png");
        background-size: 100% 100%;
        padding-bottom: 0;
        margin-bottom: 24px;
        & .b-card__title,
        & .b-card__readmore {
            color: #8f969c;
        }
        & .b-card__border {
            background: none;
            border: none;
        }
        & .b-card__corner {
            visibility: hidden;
        }
        & .text-primary {
            color: inherit;
        }
    }
    &__doc-footer {
        background: #fbfbfb;
        border-top: 1px solid #efefef;
        color: inherit !important;

        @media(--xs) {
            margin: 17px -24px -19px;
            padding: 19px 24px;
            font-size:90%;
        }
        @media(--sm) {
            margin: 17px -24px -17px;
            padding: 17px 24px;
            font-size:90%;
        }
        @media(--md) {
            margin: 22px -32px -24px;
            padding: 20px 32px;
            font-size:90%;
        }
        @media(--lg) {
            margin: 24px -44px -32px;
            padding: 22px 44px;
        }
    }
    &__author-data {
        width: 100%;
        line-height: 1.8;
    }
}
