.b-centered-text {
    margin: 0 auto;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    @media (--sm) {
        max-width: 670px;
    }
    @media (--md) {
        max-width: 770px;
    }
    @media (--lg) {
        max-width: 1083px;
    }

    & p {
        @media (--xs) {
            font-size: 15px;
            letter-spacing: -0.02em;
            margin-bottom: 11px;
        }
        @media (--sm) {
            font-size: 13px;
            margin-bottom: 7px;
        }
        @media (--md) {
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 7px;
        }
        @media (--lg) {
            font-size: 20px;
            line-height: 1.5;
            margin-bottom: 15px;
            letter-spacing: -0.01em;
        }
        
    }
    &__blockhead {
        font-weight: 500;
        @media (--md) {
            font-size: 16px;
        }
        @media (--lg) {
            font-size: 22px;
            margin-bottom: 14px;
        }

        & ~ p:last-child{
            @media (--xs) {
                margin-bottom: 38px;
            }
            @media (--smPlus) {
                margin-bottom: 84px;
            }
        }
    }
}
