.b-chooseview {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    &__mapimg {
        width: 100%;
        pointer-events: none;
    }
    &__header,
    &__subheader {
        padding-left: 82px;
        position: relative;
        @media (--xs) {
        	padding-left: 66px;
        }
        @media (--sm) {
        	top: -13px;
        }
        @media (--md) {
        	top: 28px;
        }
    }
    &__header {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -0.01em;
        @media (--xs) {
        	font-size: 22px;
        }
    }

    &__subheader {
    @media (--xs) {
      	font-size: 10px;
      }  }
    &__mapwrap {
        position: relative;
    }
    &__mappin {
        position: absolute;
        background: url("../img/pin-shadow.png") bottom left -5px no-repeat;
        height: 30px;
        width: 44px;
        margin-left: -22px;
    }
    &__pinlink {
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        right: 0;
        width: 24px;
        
        background: url("../img/mark-turq.svg") center no-repeat;
        background-size: contain;
        &:hover {
            background-image: url("../img/mark.svg");
        }
        &:after {
            content: "";
            width: 17px;
            height: 9px;
            background: url("../img/eye-icon.png") center no-repeat;
            position: absolute;
            left: 50%;
            margin-left: -9px;
            top: 9px;
        }
    }
}
