.b-clouds-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	background-image: url("/img/contacts/clouds-bg.png");
	background-size: 100% 100%;
	transform: rotate(180deg);
	top: 100%;
	opacity: 0.95;
	display: none;
	z-index: 1000;
}