.b-contacts-map {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-size: cover;
    cursor: grab;

    @media(--smPlus){
        position: absolute!important;
    }
    &--infras1 {
        cursor: auto;
        height: auto;
        @media (--xs) {
            overflow-x: scroll;
            margin-top: -213px;
        }
    }
    &--infras2 {
        @media (--xs) {
            padding-top: 80%;
            z-index: 98;
            margin-top: -58px;
            &:after {
                background: url("/img/contacts/clouds-bg.png") center no-repeat;
                background-size: cover;
                content: "";
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 38%;
                width: 100%;
                z-index: 1000;
            }
        }
    }
    &__inner-wrap {
        @media (--xs) {
            min-width: 988px;
            position: relative;
        }
    }
    &__pin {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        @media (--xs) {
            width: 9%;
            margin-left: -2%;
        }
        @media (--sm) {
            width: 9%;
            margin-left: -2%;
        }
        @media (--md) {
            width: 7%;
            margin-left: -1%;
        }
        @media (--lg) {
            width: 5%;
        }
        &--infras1-1 {
            bottom: 31%;
    left: 38%;
        }
        &--infras1-2 {
            bottom: 20%;
            left: 66%;
        }
        &--infras1-3 {
            bottom: 16%;
    left: 52%;
        }
        &--infras1-4 {
            bottom: 19%;
            left: 74%;
        }
        &--infras1-5 {
            bottom: 26%;
    left: 40%;
        }
        &--infras1-6 {
            bottom: 14%;
    left: 35%;
        }
        &--infras1-7 {
            bottom: 11%;
    left: 16%;
        }
        &--infras1-8 {
            bottom: 33%;
            left: 43%;
        }
        &--infras1-9 {
            bottom: 26%;
            left: 33%;
        }
        &--infras1-10 {
            bottom: 31%;
    left: 29%;
        }
        &--infras1-11 {
            bottom: 31%;
            left: 15%;
        }
        &--infras1-12 {
            bottom: 9%;
            left: 25%;
        }
        &--infras1-13 {
            bottom: 24%;
    left: 19%;
        }
        &--infras1-14 {
            bottom: 29%;
    left: 49%;
        }
    }
}
