.b-custom-checkbox {
    user-select: none;
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        cursor: pointer;
        position: relative;
        padding-left: 24px;
        line-height: 1.3;

        &:before {
            position: absolute;
            content: "";
            background: center no-repeat;
            background-size: 8px 7px;
            height: 16px;
            width: 16px;
            border-radius: 2px;
            border: 1px solid #514f52;
            top: 4px;
            left: 0;
            transition: border-color .15s;
        }

        &--light {
            &:before {

                border-color: #d2d3d5;
            }
        }
    }

    &__input:checked+&__label {
        &:before {
            background-color: var(--colorPrimaryN2);
            background-image: url(../img/check.svg);
        }
    }



    &__input:not(:checked).error+&__label {
        &:before {
            border-color: #e85354;
        }
    }

    &__input:not(:checked).error+&__label--light {
        &:before {
            border-color: #b63755;
        }
    }
}

.b-custom-checkbox--in-features-slider {
    &>.b-custom-checkbox__label {
        line-height: 0.9;
        font-size: 13px;
        margin-bottom: 28px;
        &:before {
            top: -2px;
        }
    }
}