.b-diary-slider {
    position: relative;
    &__img-slider {
        width: 100%;
    }
    &__video-preview-wrap {
        position: relative;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            content: "\006f";
            font-family: Accord websit icons;
            font-size: 72px;
            color: #fff;
            margin-left: -36px;
            margin-top: -36px;
            line-height: 72px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            @media (--sm) {
                left: 36%;
            }
        }
    }

    &__slide {
        color: inherit !important;

        @media (--sm) {
            padding-left: 87px;
            & > .b-diary-slider__img,
            & > .b-diary-slider__video-preview-wrap > .b-diary-slider__img {
                width: 72%;
            }
        }
        @media (min-width: 768px) and (max-width: 1099px) and (max-height: 860px) {
            & > .b-diary-slider__img,
            & > .b-diary-slider__video-preview-wrap > .b-diary-slider__img {
                width: auto;
                height: calc(100vh - 452px);
            }

            & > .b-diary-slider__video-preview-wrap {
                display: inline;
                &:after {
                    left: 50%;
                }
            }
        }
        @media (--md) {
            width: 35%;
            margin: 0 14%;
        }
        @media (--lg) {
            width: 52%;
            margin: 0 10%;
        }
    }
    &__sldesc {
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        @media (--xs) {
            padding: 20px 0 20px 28px;
        }
        @media (--sm) {
            width: 508px;
            height: 121px;
        }
        @media (--md) {
            left: -73%;
            top: 15px;
            width: 390px;
            position: absolute;
        }
        @media (--lg) {
            left: -29%;
            top: 15px;
            width: 436px;
            position: absolute;
        }
    }
    &__slhead {
        border-bottom: 1px solid var(--colorPrimary);
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 2px;
        margin-bottom: 3px;
        @media (--xs) {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            padding-bottom: 8px;
        }
    }
    &__sltext {
        font-size: 15px;
        letter-spacing: -0.01em;
        width: 60%;
        @media (--xs) {
            width: 90%;
            font-weight: 500;
            font-size: 14px;
        }
        @media (--sm) {
            width: 100%;
        }
    }
    &__author {
        display: block;
        font-size: 80%;
        padding-top: 10px;
    }
    &__img {
        width: 100%;
        background-position: center;
        background-size: contain;
        pointer-events: none;
        background-repeat: no-repeat;
        transition: all 0.28s;
        @media (--xs) {
            background-position: center !important;
        }
        @media (--sm) {
            width: auto;
            height: calc(100vh - 590px);
        }
    }
    &__controls {
        width: 202px;
        position: relative;
        height: 48px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 10;
        @media (--xs) {
            display: none;
            margin-top: 26px;
            margin-left: auto;
            margin-right: auto;
        }
        @media (--sm) {
            margin-left: 7%;
            margin-top: 74px;
        }
        @media (--md) {
            margin-top: 26px;
            margin-left: 8%;
        }
        @media (--lg) {
            margin-top: 44px;
            margin-left: 8%;
        }
        @media (min-width: 768px) and (max-width: 1099px) and (max-height: 860px) {
            margin-top: 30px;
        }
    }
    &__counter {
        position: absolute;
        width: 58px;
        height: 48px;
        line-height: 48px;
        white-space: nowrap;
        text-align: center;
        left: 50%;
        font-weight: 500;
        overflow: hidden;
        border: 1px solid var(--colorGrayN2);
        &--current {
            margin-left: -62px;
        }
        &--total {
            margin-left: 4px;
        }
    }
    &__navbtn {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 15px;
        margin-top: -7px;
        cursor: pointer;
        background: url("../img/arrow_left.svg") center no-repeat;
        background-size: contain;
        &--next {
            right: 0;
            transform: rotate(180deg);
        }
        &--left {
            left: 0;
        }
        &:hover {
            background-image: url("../img/arrow_left-hover.svg#datauri");
        }
        &.swiper-button-disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    &__mobswitcher {
        position: absolute;
        width: 100%;
        height: 10px;
        top: 116px;
        left: 0;
        z-index: 10;
    }
    &__mobtitle {
        font-weight: 700;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 114px;
        color: var(--colorPrimaryN2);
    }
    &__mobswitcher-navbtn {
        width: 10px;
        height: 12px;
        background: url("../img/arrow-left-mb.svg") center no-repeat;
        background-size: contain;
        cursor: pointer;
        float: right;
        &--prev {
            transform: rotate(180deg);
            float: left;
        }
        &.swiper-button-disabled {
            filter: grayscale(1);
            pointer-events: none;
        }
    }

    &__video-wrap {
        &:after {
            position: absolute;
            content: "";
            right: 50px;
            top: 0;
            left: 0;
            bottom: 60px;
        }
    }
}

.swiper-slide-active .swiper-slide-active .b-diary-slider__sldesc,
.swiper-slide-active .b-diary-slider__controls {
    visibility: visible;
    opacity: 1;
}

.swiper-slide-next > .b-diary-slider__img {
    background-position: left center;
}

.swiper-slide-prev > .b-diary-slider__img {
    background-position: right center;
}

.b-diary-primeslider__slide .swiper-slide {
    transition: all 0.2s;
}

.b-diary-primeslider__slide.swiper-slide-next .swiper-slide-next,
.b-diary-primeslider__slide.swiper-slide-next .swiper-slide-prev {
    visibility: hidden;
    opacity: 0;
}
