.b-diary-months-slider {
    height: 100%;
}

.b-diary-months-slider__vline {
    position: absolute;
    width: 1px;
    left: 50%;
    margin-left: -1px;
    &--top {
        top: 0;
        height: 56px;
        background: linear-gradient(to bottom, rgba(243, 243, 243, 0), rgba(243, 243, 243, 1));
        @media(--sm) {
            height: 172px;
        }
    }
    &--bottom {
        bottom: 0;
        height: 108px;
        background: #d6dbdf;
    }
    &--middle {
        top: 100px;
        bottom: 138px;
        background: linear-gradient(to bottom, rgb(243, 243, 243) 0px, #fc915d 194px, #d6dbdf 202px);
        @media (--sm) {
            top: 192px;
            bottom: 130px;
        }
    }
}


.b-diary-months-slider__placeholder {
    transition: none !important;
    &:before {
        position: absolute;
        height: 30px;
        width: 1px;
        left: 50%;
        margin-left: -1px;
        content: "";
        background: #d6dbdf;
    }
}

.b-diary-months-slider__item {
    text-align: center;
    width: 100%;
    font-weight: 700;
    position: relative;
    position: absolute;
    transition: all 0.3s;
    transition-delay: 0.01s;
    opacity: 0;
    z-index: 100;
    &--prev {
        bottom: 100%;
        color: #a0a5a9;
        font-size: 14px;
    }
    &--prev + & {
        font-size: 28px;
        color: var(--colorPrimaryN2);
        bottom: calc(100% - 96px);
        opacity: 1;
        @media (--sm) {
            bottom: calc(100% - 195px);
            font-size: 19px;
        }
    }
    &--prev + & + & {
        font-size: 22px;
        color: #a0a5a9;
        bottom: 108px;
        opacity: 1;
        cursor: pointer;
        @media (--sm) {
            font-size: 17px;
        }
    }
    &--prev + & + &+ & {
        font-size: 10px;
        bottom: 10px;
        opacity: 1;
        opacity: 1;
        cursor: pointer;
    }
    &--prev + & + & + &+ & {
        font-size: 0;
        bottom: -10px;
    }
}
