.b-diary-primeslider {
    height: 100%;
    @media (--xs) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 154px;
        height: auto;
    }
}

.b-diary-primeslider__slide {
    height: 90%;
    &:last-child {
        height: 100%;
    }
    @media (--xs) {
        height: 100%;
    }
}
