.b-docs-dl-all-link {
    position: absolute;
    right: 50%;
    color: var(--colorPrimary);
    font-weight: 500;
    display: block;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 38px;
    &:before {
        position: absolute;
        width: 24px;
        top: 4px;
        height: 19px;
        display: block;
        content: "";
        background: url("../img/inbox.svg");
        fill: var(--colorPrimary);
        left: 0;
    }
    @media (--sm) {
        margin-right: -344px;
        top: 153px;
    }
    @media (--md) {
        right: calc((50% - 350px) / 2);
        margin-right: -100px;
        top: 155px;
    }
    @media (--lg) {
        margin-right: -809px;
        top: 155px;
    }
}
