.b-flats-filter {
    background-color: #302e31;
    height: 100%;
    color: #fff;
    overflow-x: hidden;
    @media (--xs) {
        padding: 30px 26px 94px;
        overflow: hidden;
    }
    @media (--sm) {
        padding: 32px 48px 0;
    }
    @media (--md) {
        padding: 25px 38px 0;
    }
    @media (--lg) {
        padding: 29px 52px 0 52px;
    }
    &__row {
        width: 100%;
        display: table;
        table-layout: fixed;
        @media (--xs) {
            margin-bottom: 6px;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
        }
        @media (--sm) {
            margin-bottom: 12px;
        }
        @media (--md) {
            margin-bottom: 10px;
        }
        @media (--lg) {
            margin-bottom: 19px;
        }
    }
    &__line {
        display: table-row;
    }
    &__label {
        color: #fff;
        font-weight: 600;
        &--disabled {
            color: #7f7e7f;
        }
        @media (--xs) {
            font-size: 17px;
            padding-bottom: 12px;
            max-width: 280px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (--sm) {
            font-size: 17px;
            padding-bottom: 12px;
        }
        @media (--md) {
            font-size: 12px;
            padding-bottom: 5px;
        }
        @media (--lg) {
            font-size: 17px;
            padding-bottom: 12px;
        }
    }
    &__control-wrap {
        display: table-cell;
        vertical-align: top;
        &--1of2 {
            width: 50%;
            @media (--sm) {
                min-width: 146px;
            }
            @media (--md) {
                min-width: 98px;
            }
            @media (--lg) {
                min-width: 152px;
            }
        }
        &--build {
            width: 60%;
            @media (--md) {
                width: 70%;
            }
            @media (--lg) {
                width: 60%;
            }
        }
        &--for-slider {
            padding: 0 6px;
        }
    }
    &__titles {
        @media (--xs) {
            padding-bottom: 18px;
        }
        @media (--sm) {
            padding-bottom: 42px;
        }
        @media (--md) {
            padding-bottom: 30px;
        }
        @media (--lg) {
            padding-bottom: 42px;
        }
    }
    &__title {
        width: 50%;
        float: left;
        &--left {
            padding-right: 3px;
            text-align: right;
        }
        &--right {
            padding-left: 3px;
        }
    }
    &__title-text {
        display: inline-block;
        color: #625e5f;
        font-family: "PT Sans Narrow";
        font-weight: 700;
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 4px 0;
        @media (--xs) {
            font-size: 18px;
            border-bottom-width: 2px;
        }
        @media (--sm) {
            font-size: 26px;
            border-bottom-width: 3px;
        }
        @media (--md) {
            font-size: 19px;
            border-bottom-width: 3px;
        }
        @media (--lg) {
            font-size: 29px;
        }
        &--active {
            color: #fff;
            pointer-events: none;
            border-color: var(--colorPrimaryN2);
            @media (--lg) {
                padding-bottom: 2px;
            }
        }
    }
    &__bottom-pusher {
        height: 94px;
    }
    &__apply-btn {
        background-color: #ff8d5e;
        bottom: 0;
        color: #fff !important;
        display: block;
        font-size: 18px;
        font-weight: 500;
        height: 70px;
        left: 0;
        line-height: 70px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        z-index: 130;
        border: none;
    }
    &__close {
        color: #fff;
        cursor: pointer;
        font-size: 26px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__round-btn {
        height: 43px;
        white-space: nowrap;
        line-height: 43px;
        overflow: hidden;
        min-width: 43px;
        padding: 0 10px;
        border-radius: 26px;
        border: 1px solid #434143;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: border 0.2s;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        &:hover {
            border-color: #fff;
        }
        @media (--md) {
            min-width: 31px;
            height: 31px;
            line-height: 31px;
            font-size: 12px;
            padding: 0 6px;
            font-weight: 600;
            padding: 0 8px;
        }
        @media (--sm) {
            font-size: 12px;
        }
        &--build {
            background-image: url("/img/korpus.svg");
        }
        &--star {
            background-image: url("/img/star-white.svg");
        }
        &--wo-icon {
            border: 3px solid #00c7c4;
            line-height: 38px;
            background-image: none !important;
            @media (--md) {
                line-height: 26px;
            }
        }
    }
    &__slider-titles {
        @media (--xs) {
            max-width: 280px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (--md) {
            font-size: 9px;
        }
    }
    &__clearlink {
        color: #fff !important;
        font-weight: 600;
        @media (--xs) {
            display: block;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
        }
        @media (--md) {
            font-size: 11px;
        }

        /* low height sm screen */
        @media (min-width: 768px) and (max-width: 1099px) and (max-height: 900px) {
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 85px;
        }
        /* low height md screen */
        @media (min-width: 1100px) and (max-width: 1899px) and (max-height: 638px) {
            position: absolute;
            bottom: 20px;
            left: -4px;
            width: 65px;
        }
        /* low height lg screen */
        @media (min-width: 1900px) and (max-height: 900px) {
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 85px;
        }
    }
}

.b-flats-filter > form {
    @media (--smPlus) {
        min-height: 100%;
        position: relative;
    }
    @media (--sm) {
        padding-bottom: 78px;
    }
    @media (--md) {
        padding-bottom: 60px;
    }
    @media (--lg) {
        padding-bottom: 78px;
    }
}
