.b-flats-list {
    &__icon {
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(1);
        opacity: 0.5;
        cursor: help;
        &--active {
            filter: none;
            opacity: 1;
        }
        /*@media (--xs) {}*/
        @media (--sm) {
            height: 16px;
            width: 17px;
        }
        @media (--md) {
            height: 28px;
            width: 19px;
        }
        @media (--lg) {
            height: 31px;
            width: 26px;
        }
        &--brush {
            background-image: url("/img/paintbrush-primary.svg");
        }
        &--percent {
            background-image: url("/img/balcony-primary.svg");
        }
    }
    &__td {
        vertical-align: middle !important;
        &:last-child{
            text-align:right;
            white-space: nowrap;
        }
        @media (--sm) {
            font-size: 13px;
            padding: 14px 8px !important;
        }
        @media (--md) {
            padding: 15px 8px !important;
        }
        @media (--lg) {
            font-size: 23px;
            padding: 28px 8px !important;
        }
        &--n1 {
            color: var(--colorPrimaryN2);
            @media (--sm) {
                font-size: 22px;
            }
            @media (--md) {
                padding-right: 0!important;
                padding-left: 0!important;
                font-size: 28px;
            }
            @media (--lg) {
                font-size: 44px;
            }
        }
        @media(min-width: 1100px) and (max-width: 1366px) {
            vertical-align: top !important;
            & > .text-primary {
                display: block;
            }
        }
        @media(min-width: 768px) and (max-width: 980px) {
            vertical-align: top !important;
            & > .text-primary {
                display: block;
            }
        }

    }
    &__caption {
        color: inherit;
        font-weight: 600;
        @media (--lg) {
            font-size: 24px;
            padding-top: 86px;
        }
    }
    & u {
        cursor: pointer;
    }
}

.b-mobile-flats-list {

    &__td {
        text-align: center;
        font-weight: 500;
        vertical-align: middle!important;
        font-size: 12px;
        padding: 22px 8px !important;
        
        &:first-child{
            text-align:left;
            padding-right: 0!important;
            width: 20%;
        }
        &:last-child{
            width: 6%;
        }

        &--price {
            border-top: none !important;
            padding-top: 0!important;
        }
    }
    &__caption {
        text-align: center;
        color: inherit;
        font-weight: 500;
    }
    &__value {
        font-size: 18px;
        line-height: 20px;
        color: var(--colorPrimaryN2);
    }
    &__icon {
        height: 17px;
        width: 17px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(1);
        opacity: 0.5;
        margin-bottom: 4px;
        &--active {
            filter: none;
            opacity: 1;
        }
        &--brush {
            background-image: url("/img/paintbrush-primary.svg");
        }
        &--percent {
            background-image: url("/img/balcony-primary.svg");
        }
    }
}
