.b-flats {
    position: relative;
    padding-right: 7px;
    @media (--xs) {
        height: calc(100% - 102px);
    }
    @media (--smPlus) {
        height: calc(100% - 90px);
    }
    &__cell {
        transition: box-shadow 0.2s;
        @media (--xs) {
            border-bottom: 1px solid var(--colorGrayN1);
            padding-right: 0;
            padding-left: 0;
        }
        @media (--sm) {
            padding: 50% 0 0 0;
        }
        @media(--smPlus) {
            &:hover {
                z-index: 100;
                background: #fff;
                box-shadow: 0px 14px 16px 2px rgba(255, 141, 94, 0.6);
            }
        }
        @media (--mdPlus) {
            padding: 33.3% 0 0 0;
        }
    }
    &__cell-inner {
        width: 100%;
        @media (--smPlus) {
            border-right-color: #fbfcfe;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border: 1px solid var(--colorGrayN1);
            &:hover {
                border-color: var(--colorPrimaryN2);
                box-shadow: inset 0px 0px 0px 1px var(--colorPrimaryN2);
            }
        }
    }
    &__controls-btn {
        bottom: 92px;
        display: block;
        height: 45px;
        position: absolute;
        right: 30px;
        width: 45px;
        cursor: pointer;
        z-index: 100;
        background: url("/img/filters/filter.svg") center no-repeat;
        @media (--sm) {
            bottom: 28px;
        }
    }
    &__empty {
        display: table;
        margin: 0 auto;
        height: 100%
    }
    &__empty-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 28px
    }
    &__empty-header {
        font-size: 30px;
        margin-bottom: 2px;
        font-weight: 700;
    }
    &__empty-text {
        font-size: 13px;
        margin-bottom: 20px
    }

}
