.b-mobile-flatcard {
    padding-top: 20px;
    padding-bottom: 20px;
    &__icons {
        display: table;
        width: 100%;
        max-width: 96px;
        table-layout: fixed;
    }
    &__iconwrap {
        display: table-cell;
        padding-bottom: 8px;
        vertical-align: middle;
    }
    &__icon {
        opacity: 0.5;
        filter: grayscale(1);
        &--active {
            filter: none;
            opacity: 1;
        }
    }
    &__title {
        font-size: 15px;
        padding-bottom: 12px;
    }
    &__footage {
        padding-bottom: 8px;
    }

    &__img{
        width: 100%;
    }
}

.b-flatcard {
    @apply --tbl-grid;
    height: 100%;
    @media (--sm) {
        padding: 29px 34px 40px;
    }
    @media (--md) {
        padding: 26px 32px 36px;
    }
    @media (--lg) {
        padding: 45px 45px 53px;
    }
    &__row {
        display: table-row;
        &--middle {
            height: 100%;
        }
    }
    &__cell {
        display: table-cell;
        vertical-align: middle;
    }
    &__footage,
    &__title {
        width: 100%;
        @media (--sm) {
            font-size: 17px;
        }
        @media (--md) {
            font-size: 16px;
        }
        @media (--lg) {
            font-size: 23px;
        }
    }
    &__house-title,&__entrance-num{
        @media (--sm) {
            font-size: 15px;
        }
        @media (--md) {
            font-size: 14px;
        }
        @media (--lg) {
            font-size: 21px;
        }
    }
    &__iconbtn {
        display: inline-block;
        @media (--sm) {
            margin-left: 19px;
        }
        @media (--md) {
            margin-left: 22px;
        }
        @media (--lg) {
            margin-left: 30px;
        }
        &--active>.b-flatcard__icon {
            filter: none;
            opacity: 1;
        }
    }
    &__icon {
        opacity: 0.5;
        filter: grayscale(1);
        &--active {
            filter: none;
            opacity: 1;
        }
        @media (--lg) {
            height: 20px;
            width: auto;
        }
    }
    &__img {
        background-position: 50% center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        display: block;
        &--with-btn {
            display: flex;
        }
    }
    &__btn {
        visibility: hidden;
        opacity: 0;
        margin: auto;
        width: 90%;
        text-align: center;
        padding-left: auto;
        padding-right: auto;
        border-radius: 24px;
        font-size: 22px;
        @media (--md) {
            width: 95%;
            font-size: 14px;
        }
        @media (--lg) {
            padding: 0;
            height: 76px;
            line-height: 74px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.b-flatcard__img--with-btn:hover .b-flatcard__btn {
    opacity: 1;
    visibility: visible;
}
