.b-floor-scheme {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    &__compass {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 84px;
        height: 84px;
        background: url("/img/compass.svg") center no-repeat;
        background-size: contain;
        @media (--xs) {
            width: 60px;
            height: 60px;
        }
    }
    &__title {
        position: absolute;
        right: 24px;
        top: 24px;
        font-weight: 500;
    }
    &__img {
        width: 100%;
        max-width: 690px;
        height: auto;
        background-size: contain;
        background-position: center;
    }
    
}


