.b-footer {
    position: relative;
    width: 100%;
    bottom: 18px;
    overflow: hidden;
    height: var(--footerHeight);
    color: #767e86;
    left: 0;
    z-index: 100;
    @media (--xs) {
        background-color: #3b3e41;
        bottom: 0;
        z-index: 1;
    }
    &__inner {
        position: relative;
        height: 100%;
        display: table;
        width: 100%;
    }
    &__left,
    &__right {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
    }

    &__left{
        width: 100%
    }

    &__right {
        text-align: right;
        @media(--smPlus){
            
        }

        &--pad{
            padding-right: 20px;
        }
    }
    &__pic {
        display: inline-block;
        font-size: 36px;
        color: #c7cace;
        transition: all 0.2s;
        &:focus,
        &:active {
            color: #D5D9DD;
        }
        @media (--xs) {
            font-size: 30px;
        }
        &--left {
            @media (--xs) {
                height: 24px;
            }
        }
        &--globalFooterLogo{
            height: 30px;
        }
        &--overlayed {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &--flatsfilters {
            font-size: 32px;
            max-width: 100%;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        &>.fi-blueant-logo {
            transition: all 0.3s;
        }
        &:hover>.fi-blueant-logo {
            color: #477795!important;
        }
    }

    &__copy{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -.1px;
        @media(--xs){
            color: #c7cace;
        }
    }

    &__textLink{
        color: #767e86;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -.1px;
        border-bottom: 1px dashed currentColor;
        position: relative;
        @media(--xs){
            color: #c7cace;
        }
    }

    &--flatslist {
        position: absolute;
        z-index: 101;
    }
    &--flatfilters {
        left: auto;
        right: 0;
        height: auto;
        margin: 0;
        padding: 28px 0 0 0;
        margin: 0;
        padding-top: 0;
        margin-top: 28px;
        width: auto;
        & > .b-footer__inner {
            width: auto;
            table-layout: auto;
            @media (--md) {
                width: 103px;
                & .fi-blueant-logo {
                    font-size: 24px;
                }
            }
        }
        & > .b-footer__inner > .b-footer__right {
            padding-left: 18px;
        }
    }
}

.b-flats-filter__footer--v1 {
    position: absolute;
    bottom: 0;
    right: 0;
    @media (--md) {
        right: -18px;
    }
}

.l-footer--main .b-footer__pic {
    @media(--smPlus) {
        color: #767e86;
        /* &--left{
            position: relative;
            display: block;
            float: left;
        } */
    }
}
