.b-furnish {
  &__header {
    font-weight: 500;
    text-transform: uppercase;
    @media (--xs) {
      font-size: 14px;
      margin-bottom: 14px;
      font-weight: 700;
    }
    @media (--sm) {
      font-size: 15px;
      margin-bottom: 6px;
    }
    @media (--md) {
      font-size: 16px;
      margin-bottom: 9px;
    }
    @media (--lg) {
      font-size: 22px;
      margin-bottom: 11px;
    }
  }
  &__paragraph, & p {
    @media (--xs) {
      line-height: 1.33;
      font-size: 14px;
      margin-bottom: 15px;
      margin-right: -12px;
    }
    @media (--sm) {
      font-size: 13px;
      line-height: 1.55;
      margin-bottom: 22px;
    }
    @media (--md) {
      font-size: 15px;
      letter-spacing: -0.015em;
      line-height: 1.6;
      margin-bottom: 24px;
    }
    @media (--lg) {
      font-size: 19px;
      letter-spacing: 0.015em;
      margin-bottom: 23px;
    }
    & .b-furnish__bold {
      font-weight: 500;
    }
  }
  &__picsrow {
    @media (--sm) {
      padding-bottom: 24px;
    }
    @media (--md) {
      padding-bottom: 28px;
    }
    @media (--lg) {
      padding-bottom: 35px;
    }
  }
  &__pic {
    width: 50%;
    display: block;
    float: left;
  }
  &__mobile-slider {
    margin-right: -29px;
    margin-left: -29px;
    margin-bottom: 22px;
    &--last{
      margin-bottom: 0;
    }
  }
  &__mobslide {
    width: 100%;
  } 

  @media (--sm) {
    padding-left: 8px;
    padding-right: 7px;
  }

  @media (--md) {
    padding-left: 10px;
    padding-right: 12px;
  }
  @media (--lg) {
    padding-left: 65px;
    padding-right: 63px;
  }
}
