.b-gallery {
    height: 100%;
    overflow:hidden;
    @media (--xs) {
        height: auto;
        padding-bottom: 28px;
    }
	&__img-slider{
		width: 100%;
	}
    &__slide {
        filter: brightness(0.5);
        transition-property: filter;
        transition-duration: 3s;
        &.swiper-slide-active{
            filter: none;
        }
        /*&:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(21, 22, 23, 0.8);
            content: "";
            transition: all 0.3s;
        }
        &.swiper-slide-active {
            &:after {
                opacity: 0;
            }
        }*/
        @media (--md) {
            max-width: 612px;
            width: 50%;
        }
        @media (--lg) {
            max-width: 1126px;
        }
    }
    &__img {
        width: 100%;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        background-repeat: no-repeat;
    }
    &__controls {
        width: 202px;
        position: relative;
        height: 48px;
        @media (--xs) {
            margin-top: 26px;
        }
        @media (--sm) {
            margin-top: 61px;
        }
        @media (--md) {
            margin-top: 26px;
        }
        @media (--lg) {
            margin-top: 44px;
        }
    }
    &__counter {
        position: absolute;
        width: 58px;
        height: 48px;
        line-height: 48px;
        white-space: nowrap;
        text-align: center;
        left: 50%;
        font-weight: 500;
        overflow: hidden;
        border: 1px solid var(--colorGrayN2);
        &--current {
            margin-left: -62px;
        }
        &--total {
            margin-left: 4px;
        }
    }
    &__navbtn {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 15px;
        margin-top: -7px;
        cursor: pointer;
        background: url("../img/arrow_left.svg") center no-repeat;
        background-size: contain;
        &--next {
            right: 0;
            transform: rotate(180deg)
        }
        &--left {
            left: 0;
        }
        &:hover {
            background-image: url("../img/arrow_left-hover.svg#datauri");
        }
        &.swiper-button-disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    &__mob-header {
        height: 64px;
        line-height: 64px;
        white-space: nowrap;
        overflow-x: hidden;
        color: var(--colorPrimaryN2);
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        @media (--smPlus) {
        	display: none;
        }
    }
    &__switcher {
        position: absolute;
        right: 0;
        font-size: 12px;
        letter-spacing: 0.01em;
        top: 165px;
        
    }
    &__title {
        display: inline-block;
        margin-left: 12px;
        color: #5A5A5A;
        padding-bottom: 3px;
        text-transform: uppercase;
        &--active {
            border-bottom: 1px solid var(--colorPrimaryN2);
        }
    }
	
	&__mobswitcher{
		position: absolute;
		width: 100%;
		height: 10px;
		top: 66px;
		left: 0;
		z-index: 10;
	}

    &__mobswitcher-navbtn{
		width: 10px;
		height: 12px;
		background: url("../img/arrow-left-mb.svg") center no-repeat;
		background-size: contain;
		cursor: pointer;
		float: right;

		&--prev{
			transform: rotate(180deg);
			
			float: left;
		}

		&.swiper-button-disabled{
			filter: grayscale(1);
			pointer-events: none;
		}
    }
}
