.b-genplan {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0;
    @media (--md) {
        right: 239px;
    }
    @media (--lg) {
        right: 358px;
    }
    &__inner {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        overflow: hidden;
        @media (--xs) {
            left: 0;
        }
        @media (--sm) {
            left: 92px;
        }
        @media (--mdPlus) {
            left: 6%;
        }
    }
    &__track {
        position: absolute;
        top: 0;
        height: 100%;
        left: 100%;
        width: 100%;
        user-select: none;
        overflow: hidden;
        @media (--xs) {
            display: table;
        }

    }
    &__img-wrap {
        @media(--xs) {
            display: table-cell;
            vertical-align: middle;
            padding: 28px;
            color: white;
        }

        @media(--xsH) {
            padding: 48px 0 0 0;
        }
        @media (--smPlus) {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    &__img {
        @media (--xs) {
            display: none;
        }
    }
    &__close-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 33px;
        left: 33px;
        background: url("/img/delete-bold.svg") center no-repeat;
        background-size: contain;
        cursor: pointer;
        width: 24px;
        height: 24px;
        @media (--md) {
            width: 22px;
            height: 22px;
        }
        @media (--mdPlus) {
            left: 2%;
            height: auto;
            padding-top: 2%;
            width: 2%;
            top: 0;
            margin-top: 23px;
        }
    }
    &__show-btn {
        position: absolute;
        left: 3%;
        font-size: 12px;
        padding: 4px 29px;
        top: 22px;
        transform: translateY(-64px);
        transition: all 0.4s !important;
        &:after {
            content: "Готово";
        }
        &--active {
            transform: translateY(0px);
        }
        @media (--xs) {
            top: 30px;
            left: 83px;
        }
        @media (--sm) {
            top: 32px;
        }
        @media (--md) {
            top:21px;
        }
        @media (--smPlus) {
            &:after {
                content: "Показать результат";
            }
        }

    }
    &__overpic {
        @media (--xs) {
            display: none;
        }
        @media (--smPlus) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
            &--1A {
                background-image: url("/img/genplan/1A.svg");
            }
            &--2A {
                background-image: url("/img/genplan/2A.svg");
            }
            &--1B {
                background-image: url("/img/genplan/1B.svg");
            }
            &--2B {
                background-image: url("/img/genplan/2B.svg");
            }
        }
    }
    &__overlink {
        display: block;
        @media (--xs) {
            color: #fff;
            margin: 0 auto 26px;
            max-width: 284px;
            font-size: 28px;
            &:hover,
            &:active,
            &:focus {
                color: inherit;
            }
            &--active {
                color: var(--colorPrimaryN2)!important;
            }
        }

        @media (--xsH) {
            margin: 0 auto 12px;
            font-size: 22px;
        }

        @media (--smPlus) {
            font-size: 0px;
            color: transparent;
            position: absolute;
            z-index: 10;
            opacity: 0;
            transform: rotate(14deg);
            &:hover + .b-genplan__overpic {
                opacity: 0.5;
                visibility: visible;
            }
            &--active + .b-genplan__overpic {
                opacity: 1!important;
                visibility: visible;
            }
            &--1A {
                transform: rotate(15deg);
                border-bottom-right-radius: 44%;
                border-top-left-radius: 38%;
                height: 27%;
                left: 46%;
                top: 44%;
                width: 35%;
            }
            &--2A {
                border-bottom-right-radius: 44%;
                border-top-left-radius: 38%;
                height: 20%;
                left: 16%;
                top: 32%;
                width: 29%;
            }
            &--1B {
                border-top-left-radius: 60%;
                height: 17%;
                left: 54%;
                top: 28%;
                width: 32%;
            }
            &--2B {
                height: 16%;
                left: 27%;
                top: 19%;
                width: 25%;
            }
        }
    }
}
