.b-homepage-videobg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
    -webkit-transform-style: preserve-3d;
    background: url(../img/homepage-video-bg2.jpg) center no-repeat;
    background-size: cover;
}

.no-object-fit  .b-homepage-videobg{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    @media (--xs) {
        max-height: 100%;
    }
}


