.b-homepage-heading {
    text-align: center;
    color: #fff;
    font-family: 'AvenirNext';
    @media(--xs) {
        padding-bottom: 64px;
    }
    @media(--sm) {
        padding-bottom: 90px;
    }
    @media(--smH) {
        padding-bottom: 30px;
    }
    @media(--mdPlus) {
        padding-bottom: 66px;
    }

    &__main-h {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.48;
        @media (--xs) {
            font-size: 19px;
            margin-bottom: 10px;
            margin-left: -10px;
            margin-right: -10px;
            padding-top: 80px;
        }
        @media(--smH) {
            line-height: 1;
            font-size: 25px;
            padding-top: 50px;
        }
    }

    &__secondary-h {
        font-weight: 400;
        line-height: 1.56;
        margin-bottom: 52px;
        letter-spacing: 0.3px;
        font-size: 14px;
        @media (--xs) {
            display: none;
        }
        @media(--smH) {
            margin-bottom: 30px;
        }
    }

    &__btn {
        @media (--xs) {
            font-size: 12px;
            font-weight: 400;
            padding: 10px 28px;
        }
    }
}