.b-homepage-slides{
	height: 100%;
	@media (--xs) {
		position: fixed;
		height: auto;
		top: 0;
		bottom: var(--footerHeight);
		width: 100%;
	}
	&__wrapper{
		height: 100%;
	}
	&__slide{
		height: 100%;
	}
}