.b-hpnews {
    color: #fff;
    margin: 0 auto;

    @media (--sm) {
        width: 370px;
    }
    @media (--mdPlus) {
        width: 1040px;
        display: flex;
    }
    &__title {
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 16px;
        @media (--xs) {
            display: none;
        }
    }

    &__half {
        position: relative;
        padding-top: 2px;
        padding-bottom: 2px;
        @media (--xs) {
            display: none;
            &--active {
                display: block;
            }
        }
        @media (--mdPlus) {
            flex: 1;
        }
        &--left {
            @media (--sm) {
                padding-bottom: 10px;
                &:after {
                    position: absolute;
                    height: 2px;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    background: linear-gradient(to left, #f2c460 0%, #f2c460 19%, #e9eca2 20%, #e9eca2 39%, #b7c284 41%, #b7c284 59%, #d1e1aa 61%, #d1e1aa 80%, #9acfd7 81%, #9acfd7 100%);
                    content: "";
                }
            }
            @media (--mdPlus) {
                padding-right: 5px;
                padding-left: 60px;
                &:after {
                    position: absolute;
                    width: 2px;
                    right: -1px;
                    top: 0;
                    bottom: 0;
                    background: linear-gradient(to bottom, #f2c460 0%, #f2c460 19%, #e9eca2 20%, #e9eca2 39%, #b7c284 41%, #b7c284 59%, #d1e1aa 61%, #d1e1aa 80%, #9acfd7 81%, #9acfd7 100%);
                    content: "";
                }
            }
        }

        &--right {
            @media (--sm) {
                padding-top: 30px;
            }
            @media (--smH) {
                padding-top: 20px;
            }
            @media (--mdPlus) {
                padding-left: 65px;
            }
        }
    }



    &__list {
        padding: 0;
        margin: 0;
        @media (--xs) {
            min-height: 84px;
        }
    }

    &__leaf {
        font-size: 13px;
        list-style: none;
        position: relative;
        line-height: 13px;
        padding: 0 0 14px 14px;
        @media (--smPlus) {
            font-size: 15px;
            font-weight: 600;
            line-height: 1;
            padding-bottom: 20px;
            padding-left: 18px;
        }
        @media (--smH) {
            padding-bottom: 10px;
            font-size: 14px;
        }
        &:before {
            width: 7px;
            height: 7px;
            background-color: #9acfd7;
            position: absolute;
            content: "";
            top: 1px;
            left: 0;
            @media (--smPlus) {
                width: 11px;
                height: 11px;
            }
        }



        &--n2 {
            &:before {
                background-color: #d1c371;
            }
        }

        &--n6 {
            &:before {
                background-color: #da7479;
            }
        }

        &--n7 {
            &:before {
                background-color: #d0e2bc;
            }
        }

        @media (--mdPlus) {

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__link {
        color: inherit;
    }

    &__xshead {
        position: relative;
        padding-bottom: 22px;
        margin-bottom: 20px;
        padding-top: 1px;
        &:after {
            position: absolute;
            height: 2px;
            left: 0;
            right: 0;
            background: linear-gradient(to left, #f2c460 0%, #f2c460 19%, #e9eca2 20%, #e9eca2 39%, #b7c284 41%, #b7c284 59%, #d1e1aa 61%, #d1e1aa 80%, #9acfd7 81%, #9acfd7 100%);
            content: "";
            bottom: 0;
        }
        @media (--smPlus) {
            display: none;
        }
    }

    &__xstitle {
        text-align: center;
        font-size: 11px;
        font-weight: 600;
    }

    &__xsarrow {
        position: absolute;
        height: 20px;
        width: 20px;
        line-height: 10px;
        text-align: center;
        display: block;
        top: 0;
        filter: grayscale(1);
        pointer-events: none;
        font-size: 14px;
        background: url(../img/b-hpnews__arrow.svg?datauri) center right no-repeat;
        background-size: contain;

        &--left {
            left: 0;
            transform: scaleX(-1);
        }
        &--right {
            right: 0;
        }

        &--active {
            filter: grayscale(0);
            pointer-events: auto;
        }
    }
}