.b-hypothec {
    height: 100%;
    @media (--xs) {
        padding-top: 10px;
        background: #f4f4f4;
    }
    @media (--sm) {
        padding: 0 40px 0 52px;
    }
    @media (--md) {
        padding: 0 52px 0;
    }
    @media (--lg) {
        padding: 0 52px 0;
    }
    &__desc {
        @media (--sm) {
            padding-bottom: 30px;
        }
        @media (--md) {
            line-height: 1.55;
            padding-bottom: 34px;
            width: 90%;
        }
        @media (--lg) {
            font-size: 19px;
            letter-spacing: 0.015em;
            padding-right: 73px;
            line-height: 1.38;
            padding-bottom: 58px;
        }
    }
    &__head {
        font-weight: 700;
        @media (--xs) {
            font-size: 30px;
            padding-bottom: 12px;
        }
        @media (--sm) {
            font-size: 30px;
            padding-bottom: 18px;
        }
        @media (--md) {
            font-size: 30px;
            padding-bottom: 18px;
        }
        @media (--lg) {
            font-size: 38px;
            padding-bottom: 35px;
            &--v2 {
                padding-bottom: 16px;
            }
        }
    }

    &__bubble-icons {
        @media (--sm) {
            float: right;
        }
        @media (--md) {
            padding: 50px 0 0 0;
        }
        @media (--lg) {
            padding: 60px 0 0 0;
        }
    }

    &__bubble-ico {
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 19px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #cecfd0;
        display: block;
        cursor: help;

        &:first-child {
            margin-left: 0;
        }
        &--gift {
            background-image: url("../img/gift.svg");
        }
        &--zero {
            background-image: url("../img/zeropercents.svg");
            background-position: 61% 40%;
        }
        &--percent {
            background-image: url("../img/percents.svg");
        }
        &--lock {
            background-image: url("../img/lock.svg");
        }

        &:hover {
            border: 2px solid var(--colorPrimaryN2);
        }
    }

    &__orderbtn {
        width: 274px;
        @media (--sm) {
            float: left;
        }
        &:hover {
            box-shadow: 0 10px 24px rgba(200, 95, 51, 0);
        }
        &.btn-military {
            box-shadow: 0 10px 24px rgba(55, 79, 43, 0.25);
            &:hover {
                box-shadow: 0 10px 24px rgba(55, 79, 43, 0);
            }
        }
    }
    &__left,
    &__right {
        float: left;
    }
    &__left {
        @media (--xs) {
            float: none;
        }
        @media (--sm) {
            float: none;
        }
        @media (--md) {
            width: 28%;
        }
        @media (--lg) {
            width: 23%;
        }
    }
    &__right {
        /* overflow: scroll; */
        @media (--xs) {
            float: none;
            margin-left: -29px;
            margin-right: -29px;
            padding-right: 29px;
            padding-left: 29px;
        }
        @media (--sm) {
            float: none;
            width: 100%;
            height: calc(100% - 180px);
            padding-right: 22px;
        }
        @media (--md) {
            height: 100%;
            width: 72%;
            padding-left: 36px;
            padding-right: 22px;
        }
        @media (--lg) {
            height: 100%;
            width: 77%;
            padding-right: 22px;
        }
    }
    &__right ul,
    &__right ol {
        padding-left: 24px;
    }
    &__paragraph,
    &__right ul > li,
    &__right ol > li,
    &__right p {
        margin-bottom: 10px;
        @media (--md) {
            font-size: 15px;
            letter-spacing: -0.01em;
        }
        @media (--lg) {
            font-size: 20px;
            letter-spacing: -0.005em;
        }
    }
}

.b-mobile-hypothec {
    position: relative;
    padding-top: 20px;
    min-height: 100%;
    &__btnswrap {
        border-bottom: 1px solid var(--colorGrayN1);
        padding-bottom: 20px;
    }
    &__btnswrap > .btn-group {
        width: 264px;
        margin: 0 auto;
    }
    &__btn {
        font-size: 14px;
        font-weight: 600;
        &--active,
        &--active:hover {
            background-color: var(--colorPrimaryN2) !important;
            color: #fff !important;
            border-color: var(--colorPrimaryN2) !important;
        }
    }
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        bottom: 0;
        background-color: var(--colorPrimaryN2);
        content: "";
    }

    &--v2:after {
        background-color: var(--colorSuccess);
    }
}

.b-mobile-hypothec--v2 .b-mobile-hypothec__btn--active {
    background: var(--colorSuccess) !important;
    border-color: var(--colorSuccess) !important;
}

.b-mobile-hypothec__tab ul,
.b-mobile-hypothec__tab ol {
    margin-bottom: 0;
    padding-top: 6px;
    padding-left: 0;
    list-style-position: inside;
    & > li {
        padding: 19px 29px;
        line-height: 1.36;
        &:nth-of-type(even) {
            background-color: #f4f4f4;
        }
    }
}

.MortgageBanklistWrapper {
    @media (--smPlus) {
        height: calc(100% - 200px);
    }

    @media (--mdPlus) {
        height: calc(100% - 90px);
    }
}

.l-hypothec {
    & .MortgageBanklistWrapper {
        margin: 32px auto 0;
    }

    & .MortgageBanklist {
        margin: 0 auto;

        @media (--sm) {
            margin-top: 0;
        }
    }
}
