.b-insurdesc {
  padding: 40px 20px;

  letter-spacing: -0.01em;
  position: relative;
  @media (--xs) {
    padding-left: 0;
    padding-right: 8px;
  }
  & > p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 22px;
    & .b-insurdesc__bold {
      font-weight: 500;
    }

    & > i {
      color: var(--colorPrimaryN2);
      font-style: normal;
      font-weight: 500;
    }
  }
}