.b-infras {
  position: relative;
  z-index: 100;

  & h1 {
    font-weight: 700;
    @media (--xs) {
      font-size: 20px;
      margin-bottom: 8px;
    }
    @media (--sm) {
      font-size: 29px;
      line-height: 1.3;
      margin-bottom: 38px;
    }
    @media (--md) {
      font-size: 29px;
      padding-bottom: 9px;
    }
    @media (--lg) {
      font-size: 37px;
      padding-bottom: 18px;
    }
  }
  &__subheader {
    font-weight: 500;
    letter-spacing: 0.008em;
    @media (--xs) {
      padding-bottom: 11px;
    }
    @media (--sm) {
      font-size: 15px;
      font-weight: 600;
      padding-bottom: 24px;
    }
    @media (--md) {
      font-size: 16px;
      padding-bottom: 15px;
    }
    @media (--lg) {
      font-size: 20px;
      padding-bottom: 29px;
    }
  }
  &__text {
    line-height: 1.3;
    @media (--xs) {

    }
    @media (--smPlus) {
      float: left;
    }
    @media (--sm) {
      width: 92%;
    }
    @media (--md) {
      letter-spacing: 0.03em;
      line-height: 1.8;
      width: 67%;
    }
    @media (--lg) {
      font-size: 20px;
      width: 64%;
    }
  }
  & p {
    & .b-infras__bold {
      font-weight: 500;
    }
    @media (--xs) {
      line-height: 1.3;
      margin-bottom: 16px;
    }
    @media (--sm) {
      font-size: 15px;
      letter-spacing: -0.01em;
      line-height: 1.6;
      margin: 0 0 16px;
    }
    @media (--md) {
      margin: 0 0 9px;
    }
    @media (--lg) {
      margin-bottom: 29px;
      letter-spacing: -0.005em;
    }
  }
  &__aside {
    @media (--smPlus) {
      float: right;
      display: table;
    }
    @media (--sm) {
      position: absolute;
      right: 0;
      top: 0;
      width: 312px;
    }
    @media (--md) {
      margin-top: 7px;
      width: 255px;
    }
    @media (--lg) {
      margin-top: 10px;
      width: 277px;
    }
  }
  &__asideline {
    display: table-row;
    color: inherit;
    font-weight: 500;
  }
  &__asidepic,
  &__asidetext {
    display: table-cell;
    vertical-align: middle;
    height: 38px;
  }
  &__asidepic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
  }
  &__asidepic--360deg {
    background-image: url("../img/360-degrees.svg");
  }
  &__asideline:hover &__asidepic--360deg {
    background-image: url("../img/360-degrees-hover.svg#datauri");
  }
  &__asidepic--routes {
    background-image: url("../img/directional-sign-pointing-left-and-right.svg");
  }
  &__asideline:hover &__asidepic--routes {
    background-image: url("../img/directional-sign-pointing-left-and-right-hover.svg#datauri");
  }
  &__asidetext {
    font-size: 16px;
    padding-left: 14px;
  }

}
