.b-logo {
    text-align: center;
    &__pic {
        max-width: 100%;
        @media (--xs) {
            max-height: 24px;
        }
    }
}
.b-logo__pic--white {
        display: none;
    }
@media (--smPlus) {
    
    .l-topbar--white .b-logo__pic--dark {
        display: none;
    }
    .l-topbar--white .b-logo__pic--white {
        display: inline;
    }
}
