.b-menu {
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  background: #252324;
  overflow: hidden;
  &__inner {
    display: table;
    margin: auto;
    align-self: center;
    position: relative;
    opacity: 0;
  }
  &__left, &__right {
    display: table-cell;
    vertical-align: top;
  }
  &__left {
    @media (--md) {
      padding-right: 92px;
    }
    @media (--lg) {
      padding-right: 57px;
    }
  }
  &__right {
    @media (--md) {
      padding-left: 92px;
    }
    @media (--lg) {
      padding-top: 3px;
      padding-left: 57px;
    }
  }
  &__nav {
    float: right;
  }
  &__leaf {
    display: block;
    color: var(--colorGrayN2);
    font-size: 22px;
    letter-spacing: -0.01em;
    margin-bottom: 11px;
    @media (--md) {
      margin-bottom: 12px;
    }
    @media (--lg) {
      font-size: 30px;
      margin-bottom: 8px;
    }
    &:hover {
      color: #fff;
    }
    &--active {
      color: #fff;
    }
  }
  &__leaf-inner {
    display: inline-block;
    border-bottom: 2px solid #252324;
  }
  &__leaf--active>&__leaf-inner {
    border-color: var(--colorPrimaryN2);
  }
  &__contacts {
    letter-spacing: -0.01em;
    @media (--xs) {}
    @media (--sm) {}
    @media (--md) {
      font-size: 14px;
    }
    @media (--lg) {
      font-size: 22px;
    }
  }
  &__contact-header {
    color: var(--colorGrayN2);
    @media (--md) {
      padding-bottom: 7px;
    }
  }
  &__contact-text {
    color: #fff;
  }
  &__contact-block {
    padding-bottom: 40px;
  }
  &__soc {
    &--mobile {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0;
    }
  }
  &__socicon {
    float: left;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    @media (--xs) {
      height: 54px;
      width: 54px;
      margin-right: 12px;
    }
    @media (--sm) {
      height: 54px;
      width: 54px;
      margin-right: 12px;
    }
    @media (--md) {
      height: 38px;
      width: 38px;
      margin-right: 12px;
    }
    @media (--lg) {
      height: 54px;
      width: 54px;
      margin-right: 12px;
    }
    &--fb {
      background-image: url("../img/menu/fb.svg");
      @media (--mdPlus) {
        &:hover {
          background-image: url("../img/menu/fb_hover.svg?datauri");
        }
      }
    }
    &--vk {
      background-image: url("../img/menu/vk.svg");
      @media (--mdPlus) {
        &:hover {
          background-image: url("../img/menu/vk_hover.svg?datauri");
        }
      }
    }
    &--insta {
      background-image: url("../img/menu/insta.svg");
      @media (--mdPlus) {
        &:hover {
          background-image: url("../img/menu/insta_hover.svg?datauri");
        }
      }
    }
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    height: 18px;
    width: 18px;
    background: url("../img/close.svg") center no-repeat;
    background-size: contain;
    left: 28px;
    top: 21px;
    @media (--smPlus) {
      left: 37px;
      top: 32px;
      height: 25px;
      width: 25px;
    }
  }
  &__ball {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #252324;
    opacity: 1;
    will-change: width;
    width: 0px;
  }
  &__ball-pusher {
    width: 100%;
    height: auto;
  }
}
