.b-mobile-fullscreen-map {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 100;
    @media (--xs) {
        &--active {
            display: block;
            top: 60px;
        }
    }
    &__close-icon {
        position: absolute;
        display: block;
        width: 34px;
        height: 34px;
        top: 12px;
        right: 12px;
        background: #343234 url("/img/genplan/close.svg") center no-repeat;
        background-size: 42%;
        border-radius: 50%;
        box-shadow: 1px 1px 10px rgba(52, 50, 52, .6);
    }
    &__gmap-cont {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%!important;
        width: 100%!important;
    }
}
