.b-multycheckbox__btn {
    width: 47px;
    height: 47px;
    border: 1px solid #434143;
    border-radius: 50%;
    transition: all 0.4s;
    color: #fff;
    line-height: 47px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14px;

    &:after{
    	position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        bottom: 0;
        width: 2px;
        background: #00c7c4;
        transform: rotate(45deg);
		display: none;
    	content: "";
    }
    @media (--md) {
        width: 33px;
        height: 33px;
        line-height: 33px;
        font-size: 11px;
    }

    &--disabled{
    	color: #434143;
    	pointer-events: none;

    }
}

.b-multycheckbox__input[value='1'] + .b-multycheckbox__btn {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 3px #00c7c4 inset;
    &--disabled{
    	box-shadow: 0 0 0 3px #434143 inset;
  
    }
}

.b-multycheckbox__input[value='0'] + .b-multycheckbox__btn {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 3px #00c7c4 inset;
    &:after {
		display: block;
    }

	&--disabled{
    	box-shadow: 0 0 0 3px #434143 inset;
    	&:after{
    		background: #434143;
    	}
    }
}


/* .b-multycheckbox__input[value='2'] + .b-multycheckbox__btn {
    
} */
