.b-nav {
    padding-top: 8px;
    @media (--xs) {
        padding-top: 4px;
    }
    &__burger {
        background: url("../img/menu.svg") center no-repeat;
        width: 22px;
        height: 18px;
        background-size: contain;
        display: block;
        border:none;
        @media (--xs) {
            height: 16px;
            width: 20px;
        }
    }
}

@media (--smPlus) {
    .l-topbar--white .b-nav__burger {
        background: url("../img/menu-white.svg?datauri") center no-repeat;
    }
}
