.b-news-menu-mobile {
    position: absolute;
    @media (--xs) {
        padding-left: 30px;
        right: 28px;
        top: 19px;
    }
    @media (--sm) {
        padding-left: 30px;
        right: 83px;
        top: 150px;
        &:before {
            position: absolute;
            width: 23px;
            height: 23px;
            display: block;
            content: "";
            background: url("../img/calendar2.png");
            fill: var(--colorPrimary);
            left: 0;
            top: 50%;
            margin-top: -14px;
        }
    }
    &__year {
        float: right;
        @media (--sm) {
            float: left;
        }
    }
    &__month {
        float: left;
        @media (--sm) {
            float: right;
        }
    }
    &__dropmenu {
        min-width: 100%;
        text-align: center;
        box-shadow: 0 9px 28px rgba(255, 143, 94, 0.3277);
        border: none;
        padding: 0;
        top: 0;
        margin: 0;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        & > li >a {
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
            font-size: 13px;
            padding: 0;
            &:hover {
                color: #fff;
                background-color: #ff8f5e;
            }
        }
        &--v2 > li >a {
            color: var(--colorPrimary);
            font-weight: 500;
        }
    }
    &__item-title,
    &__subitem-title {
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
        cursor: pointer;
    }
    &__item-title {
        color: var(--colorPrimary);
        font-weight: 500;
        font-size: 13px;
        padding: 0 7px;
    }
    &__subitem-title {
        font-size: 13px;
        padding: 0 7px;
    }
}
