.b-news-menu {
    position: absolute;
    top: 188px;
    @media (--md) {
        margin-top: -16px;
        padding-left: 34px;
        right: calc((50% - 350px) / 2);
        margin-right: -50px;
        &:before {
            position: absolute;
            width: 17px;
            height: 23px;
            display: block;
            content: "";
            background: url("../img/date.svg");
            fill: var(--colorPrimary);
            left: 0;
        }
    }
    @media (--lg) {
        margin-top: -16px;
        right: calc((50% - 504px) / 2);
        padding-left: 34px;
        margin-right: -50px;
        &:before {
            position: absolute;
            width: 17px;
            height: 23px;
            display: block;
            content: "";
            background: url("../img/date.svg?datauri");
            fill: var(--colorPrimary);
            left: 0;
        }
    }
    &__item-title {
        font-weight: 500;
        color: var(--colorPrimary);
        cursor: pointer;
        @media (--md) {
            font-size: 16px;
            padding-bottom: 6px;
        }
        @media (--lg) {
            font-size: 16px;
            padding-bottom: 6px;
        }
    }
    &__subitem {
        @media (--md) {
            padding: 0 0 4px 14px;
            letter-spacing: -0.05em;
            &:last-child {
                padding-bottom: 0;
            }
            ;
        }
        @media (--lg) {
            padding: 0 0 4px 14px;
            letter-spacing: -0.05em;
            &:last-child {
                padding-bottom: 0;
            }
            ;
        }
        &--active {
            @media(--mdPlus) {
                color: var(--colorPrimary);
            }
        }
    }
    &__link {
        color: inherit;
    }
}
