.b-parralax-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    pointer-events: none;
}

.b-parralax-bg__track {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    &--baby-1 {
        background-image: url("../img/baby/baby-lg-bg.png");
        height: 120%;
        @media (--sm) {
            height: 110%;
        }
    }
    &--baby-2 {
        @media(--xs) {
            background: url("../img/baby/baby-xs-bg.png") center bottom no-repeat;
            background-size: 100% auto;
        }
        @media(--smPlus) {
            background-image: url("../img/baby/baby-lg-bg2.png");
            height: 120%;
        }
        @media (--sm) {
            height: 100%;
        }
    }
}
