.b-phone {
    text-align: right;
    white-space: nowrap;
    &__text {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        top: 4px;
        padding-bottom: 1px;
        &:after {
            position: absolute;
            width: 100%;
            bottom: 0;
            content: "";
            height: 1px;
            left: 3px;
            background: url("../img/dashed_line_phone.svg") no-repeat;
        }
    }
}

.l-topbar--white .b-phone{
    color: #fff;
    &__text:after{
        background:none;
        border-bottom: 1px dashed #fff;
    }
}
