.b-pinbtn {
    border: 1px solid #dfdfdf;
    border-radius: 34px;
    font-weight: 500;
    position: absolute;
    &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -7px;
        height: 14px;
        width: 14px;
        background-color: #5dc6c4;
        border-radius: 7px;
    }
    &--wo-pin:before {
        display: none;
    }
    &:before {
        background-color: #dfdfdf;
        content: "";
        height: 1px;
        left: 100%;
        margin-left: -22px;
        position: absolute;
        top: 50%;
        width: 320px;
    }
    &--muted {
        background: rgba(255, 255, 255, 0.65);
    }
    &--pros-3-3 {
        z-index: 20;
    }
    @media (--sm) {
        & {
            padding: 6px 46px 6px 25px;
            font-size: 11px;
            margin-top: -15px;
        }
        &:after {
            margin-top: -5px;
            height: 10px;
            width: 10px;
            border-radius: 5px;
        }
        &--pros-1-1 {
            left: 55%;
            margin-left: -230px;
            top: 16%;
        }
        &--pros-1-2 {
            left: 31%;
            margin-left: -232px;
            top: 36%;
        }
        &--pros-2-1 {
            left: 27%;
            margin-left: -191px;
            top: 54%;
        }
        &--pros-3-1 {
            left: 26%;
            margin-left: -142px;
            top: 23%;
        }
        &--pros-3-2 {
            left: 26%;
            margin-left: -178px;
            top: 43%;
        }
        &--pros-3-3 {
            left: 64%;
            margin-left: -127px;
            top: 53%;
        }
        &--pros-4-1 {
            left: 43%;
            margin-left: -293px;
            top: 44%;
        }

        &--pros-5-1 {
            left: 55%;
    margin-left: -245px;
    top: 48%;
        }
        &--pros-5-2 {
            left: 23%;
    margin-left: -224px;
    top: 81%;
        }
    }
    @media (--md) {
        & {
            padding: 7px 56px 7px 30px;
            margin-top: -17px;
        }
        &--pros-1-1 {
            left: 48%;
            margin-left: -265px;
            top: 21%;
        }
        &--pros-1-2 {
            left: 25%;
            margin-left: -284px;
            top: 41%;
        }
        &--pros-2-1 {
            left: 31%;
            margin-left: -282px;
            top: 24%;
        }
        &--pros-3-1 {
            left: 25%;
            margin-left: -198px;
            top: 23%;
        }
        &--pros-3-2 {
            left: 26%;
            margin-left: -341px;
            top: 42%;
        }
        &--pros-3-3 {
            left: 67%;
            margin-left: -169px;
            top: 53%;
        }
        &--pros-4-1 {
            left: 44%;
            margin-left: -349px;
            top: 21%;
        }

        &--pros-5-1 {
            left: 59%;
            margin-left: -299px;
            top: 16%;
        }
        &--pros-5-2 {
            left: 16%;
            margin-left: -267px;
            top: 30%;
        }
        &:after {
            margin-top: -6px;
            height: 12px;
            width: 12px;
            border-radius: 6px;
        }
    }
    @media (--lg) {
        & {
            padding: 7px 56px 7px 30px;
            margin-top: -16px;
        }
        &:before {
            width: 200px;
        }
        &--pros-1-1 {
            left: 50%;
            margin-left: -267px;
            top: 20%;
        }
        &--pros-1-2 {
            left: 29%;
            margin-left: -314px;
            top: 38%;
        }
        &--pros-2-1 {
            left: 35%;
            margin-left: -310px;
            top: 26%;
        }
        &--pros-3-1 {
            left: 26%;
            margin-left: -195px;
            top: 22%;
        }
        &--pros-3-2 {
            left: 26%;
            margin-left: -314px;
            top: 42%;
        }
        &--pros-3-3 {
            left: 64%;
            margin-left: -168px;
            top: 53%;
        }
        &--pros-4-1 {
            left: 47%;
            margin-left: -361px;
            top: 28%;
        }
        &--pros-5-1 {
            left: 47%;
            margin-left: -361px;
            top: 13%;
        }
        &--pros-5-2 {
            left: 14%;
            margin-left: -331px;
            top: 34%;
        }
    }
}

@media (--xs) {
    .l-pros .b-pinbtn {
        display: none;
    }
}
