.b-popup-gallery {
    & .fancybox-nav span {
        visibility: visible;
    }
    &__backbtn {
        background: rgba(0, 0, 0, 0) url("../img/back-arrow-white.svg") no-repeat scroll center center;
        height: 18px;
        left: 27px;
        position: fixed;
        top: 117px;
        width: 27px;
        visibility: visible !important;
        opacity: 1 !important;
    }
    &__navbtn {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 15px;
        margin-top: -7px;
        cursor: pointer;
        background: url("../img/arrow_left-white.svg") center no-repeat;
        background-size: contain;
        &--next {
            right: 10px;
            transform: rotate(180deg)
        }
        &--prev {
            left: 10px;
        }
        &:hover {
            background-image: url("../img/arrow_left-hover.svg#datauri");
        }
        &.swiper-button-disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    &__popup-video-wrap {
        height: 100%;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
}

.b-popup-gallery__inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    @media (--sm) {
        padding-right: 64px;
        padding-left: 64px;
    }
}

.b-popup-gallery__slide-inner {
    margin: auto;
    height: 100vh;
    text-align: center;
    display: flex;
    padding: 28px;
}

.b-popup-gallery__img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.b-popup-gallery__closebtn {
    background: rgba(0, 0, 0, 0) url("../img/back-arrow-white.svg") no-repeat scroll center center;
    cursor: pointer;
    height: 18px;
    left: 28px;
    position: absolute;
    top: 116px;
    width: 27px;
}
