.b-pros {
    position: absolute;
    @media(--xs) {
        top: 94px;
        &__desc {
            margin-right: -10px;
        }
    }
    @media (--sm) {
        left: 7.5%;
        top: 145px;
    }
    @media (--md) {
        left: 4%;
        top: 232px;
        &--2 {
            bottom: 110px;
            top: auto;
        }
        &--3 {
           
            top: 436px;
            left:2%;
        }

        &--5 {
            bottom: 58px;
            top: auto;
        }
    }
    @media (--lg) {
        left: 3%;
        top: 23%;
        &--2 {
            top: 33%;
        }
        &--3 {
            top: 349px;
        }

        &--4 {
            top: 330px;
        }

        &--5 {
            top: 349px;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        padding-bottom: 10px;
        @media (--sm) {
            font-size: 30px;
            letter-spacing: -0.02em;
            line-height: 1.35;
            padding-bottom: 18px;
        }
        @media (--md) {
            font-size: 30px;
            letter-spacing: -0.02em;
            line-height: 1.4;
        }
        @media (--lg) {
            font-size: 53px;
            letter-spacing: -0.02em;
            line-height: 1.4;
            padding-bottom: 11px;
        }
    }
    &__desc {
        letter-spacing: 0.01em;
        line-height: 1.3;
        @media (--smPlus) {
            letter-spacing: 0;
            font-size: 15px;
            line-height: 1.4;
        }
        @media (--lg) {
            font-size: 26px;
            &--v-tight{
                line-height: 1.3;
            }
        }
    }
}