.b-prospage-pics {
    /*  background: pink; */
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    pointer-events: none;
    bottom: 0;

    &--slide-1 {
        top: 37px;
        text-align: right;
        @media (--xs) {
            width: 100%;
            top: 218px;
        }
        @media (--sm) {
            width: 100%;
            top: 253px;
        }
        @media (--md) {
            width: 87%;
        }
        @media (--lg) {
            width: 68%;
        }
    }
    &--slide-2 {
        @media (--sm) {
            width: 68%;
        }
        @media (--md) {
            width: 75%;
        }
        @media (--lg) {
            width: 57%;
        }
    }
    &--slide-3 {
        @media (--xs) {
            top: 251px;
        }
        @media (--sm) {
            top: 296px;
        }
        @media (--md) {
            top: 56px;
            width: 92%;
        }
        @media (--lg) {
            top: 133px;
            width: 76%;
        }
    }
    &--slide-4 {
        @media (--md) {
            width: 73%;
        }
        @media (--lg) {
            width: 57%;
        }
    }
    &--slide-5 {
        @media (--md) {
            width: 82%;
        }
        @media (--lg) {
            width: 69%;
        }
    }
    &__wrap {
        position: absolute;
        right: 0;
        min-width: 100%;
        text-align: right;
        &--1 {
            @media (--xs) {
                min-width: 530px;
            }
            @media (max-width: 530px) {
                right: -68px;
            }
            @media (--sm) {
                min-width: 899px;
                right: -132px;
            }
            @media (--md) {
                min-width: 1132px;
                right: -22px;
                left: 0;
            }
            @media (--lg) {
                right: -15px;
            }
        }
        &--2 {
            @media (--xs) {
                min-width: 444px;
                right: -145px;
            }
            @media (--sm) {
                min-width: 708px;
                right: -186px;
            }
            @media (--md) {
                min-width: 90%;
            }
            @media (--lg) {
                min-width: 90%;
            }
        }
        &--3 {
            @media (--xs) {
                min-width: 517px;
                right: -145px;
            }
            @media (--sm) {
                right: -139px;
            }
            @media (--md) {
                min-width: auto;
                width: 93%;
            }
            @media (--lg) {
                min-width: 85%;
            }
        }
        &--4 {
            @media (--xs) {
                min-width: 408px;
                width: 100%;
                right: -107px;
            }
            @media (--sm) {
                min-width: 854px;
                right: -228px;
            }
        }
        &--5 {
            @media(--xs) {
                min-width: 444px;
                right: -166px;
            }
            @media(--sm) {
                right: -100px;
                min-width: 93%;
            }
            @media (--md) {
                min-width: 86%;
            }
            @media (--lg) {
                min-width: 75%;
            }
        }
    }
    &__img {
        width: 100%;
        position: relative;
        &--overlay {
            position: absolute;
            right: 0;
        }
        &--2-1 {
            @media (--xs) {
                right: 7%;
                top: 74%;
            }
            @media (--sm) {
                top: 45%;
            }
            @media (--md) {
                top: 12%;
            }
            @media (--lg) {
                top: 17%;
            }
        }
        &--2-2 {
            @media (--xs) {
                right: -15%;
                top: -10%;
            }
            @media (--sm) {
                top: -15%;
            }
            @media (--md) {
                top: -47%;
            }
            @media (--lg) {
                top: -43%;
            }
        }
        &--2-3 {
            @media (--xs) {
                top: 78%;
            }
            @media (--sm) {
                top: 76%;
            }
            @media (--md) {
                top: 44%;
            }
            @media (--lg) {
                top: 47%;
            }
        }
        &--2-4 {
            @media (--xs) {
                right: -7%;
                top: 69%;
            }
            @media (--sm) {
                top: 65%;
            }
            @media (--md) {
                top: 33%;
            }
            @media (--lg) {
                top: 36%;
            }
        }
        &--2-5 {
            @media (--xs) {
                right: -3%;
                top: 99%;
            }
            @media (--sm) {
                right: -10%;
                top: 89%;
            }
            @media (--md) {
                right: -12%;
                top: 57%;
            }
            @media (--lg) {
                margin-right: -11%;
                top: 60%;
            }
        }
        &--4-1 {
            @media (--xs) {
                right: -1%;
                top: 107%;
            }
            @media (--sm) {
                top: 68%;
            }
            @media (--md) {
                top: 44%;
            }
            @media (--lg) {
                top: 53%;
            }
        }
        &--4-2 {
            @media (--xs) {
                right: 1%;
                top: 70%;
            }
            @media (--sm) {
                top: 31%;
            }
            @media (--md) {
                right: 2%;
                top: 8%;
            }
            @media (--lg) {
                top: 16%;
            }
        }
        &--4-3 {
            @media (--xs) {
                right: -1%;
                top: 36%;
            }
            @media (--sm) {
                top: -5px;
            }
            @media (--md) {
                right: 1%;
                top: -24%;
            }
            @media (--lg) {
                top: -15%;
            }
        }
        &--4-4 {
            @media (--xs) {
                right: -5%;
                top: 78%;
            }
            @media (--sm) {
                right: -4%;
                top: 40%;
            }
            @media (--md) {
                right: -5%;
                top: 17%;
            }
            @media (--lg) {
                right: -4%;
                top: 26%;
            }
        }
        &--4-5 {
            @media (--xs) {
                top: 88%;
            }
            @media (--sm) {
                top: 50%;
            }
            @media (--md) {
                right: 2%;
                top: 27%;
            }
            @media (--lg) {
                top: 35%;
            }
        }
        &--5-1 {
            @media (--xs) {
                top: 51%;
            }
            @media (--sm) {
                top: 68%;
            }
            @media (--md) {
                right: -2%;
                top: 37%;
            }
            @media (--lg) {
                top: 44%;
            }
        }
        &--5-2 {
            @media (--xs) {
                top: 65%;
            }
            @media (--sm) {
                top: 41%;
            }
            @media (--md) {
                right: -2%;
                top: 11%;
            }
            @media (--lg) {
                top: 17%;
            }
        }
        &--5-3 {
            @media (--xs) {
                top: 76%;
            }
            @media (--sm) {
                top: 51%;
            }
            @media (--md) {
                right: -3%;
                top: 21%;
            }
            @media (--lg) {
                top: 27%;
            }
        }
        &--5-4 {
            @media (--xs) {
                top: 40%;
            }
            @media (--sm) {
                top: 15%;
            }
            @media (--md) {
                right: -2%;
                top: -16%;
            }
            @media (--lg) {
                top: -10%;
            }
        }
        &--5-5 {
            @media (--xs) {
                top: 98%;
            }
            @media (--sm) {
                top: 74%;
            }
            @media (--md) {
                right: -4%;
                top: 42%;
            }
            @media (--lg) {
                top: 50%;
            }
        }
        &--5-6 {
            @media (--xs) {
                top: 88%;
            }
            @media (--sm) {
                top: 47%;
            }
            @media (--md) {
                right: -3%;
                top: 15%;
            }
            @media (--lg) {
                right: -1%;
                top: 22%;
            }
        }
    }
}
