.b-prev-screen-btn {
    width: 25px;
    height: 16px;
    position: absolute;
    background: url("../img/back-arrow.svg") center no-repeat;
    background-size: contain;
    cursor: pointer;
    @media (--smPlus) {
        left: 28px;
        top: 119px;
    }

    &--white{
        background-image: url("../img/back-arrow-white.svg")
    }
}
