.b-prospage-callback-form {
    height: 100%;
    @apply --tbl-grid;
    &__wrap {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        @media (--xs) {
            padding: 52px 28px 20px;
        }
    }
    &__lead {
        font-size: 15px;
        letter-spacing: -0.02em;
        padding-bottom: 23px;
        @media (--xs) {
            font-size: 14px;
            letter-spacing: normal;
            line-height: 1.35;
            padding-bottom: 29px;
        }
        @media (--lg) {
            font-size: 20px;
            padding-bottom: 19px;
        }
    }
    &__label {
        display: block;
        font-family: 'PT Sans Narrow', sans-serif;
        margin-bottom: 29px;
        &--error {
            color: #b63755;
        }
        @media (--xs) {
            margin-bottom: 39px;
        }
    }
    &__input {
        display: block;
        margin: 0 auto 9px;
        padding: 0;
        background: none;
        border: none;
        border-bottom: 1px solid #d2d3d5;
        font-weight: 700;
        text-align: center;
        font-size: 28px;
        letter-spacing: 1px;
        width: 292px;
        &--error {
            border-color: #b63755;
        }
        @media (--xs) {
            font-size: 23px;
            width: 227px;
        }
        @media (--lg) {
            font-size: 34px;
            width: 342px;
        }
        &::placeholder{
            color: inherit;
        }
    }
    &__btn {
        padding: 13px 55px;
        @media (--xs) {
            padding: 11px 55px;
        }
    }
    &__success-text {
        display: block;
        text-align: center;
        font-size: 15px;
        &:before {
            display: block;
            content: "Спасибо!";
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 10px;
        }
        &:after {
            display: block;
            margin: 29px auto 0;
            height: 48px;
            width: 48px;
            background: #01a31c;
            border-radius: 50%;
            overflow: hidden;
            content: "\0050";
            font-family: "Accord websit icons";
            color: white;
            text-align: center;
            line-height: 48px;
            font-size: 21px;
        }
    }
}
