.b-radio {
    &__input {
        display: none;
    }
    &__item {
        width: 47px;
        height: 47px;
        border: 1px solid #434143;
        border-radius: 50%;
        transition: all 0.2s;
        color: #fff;
        font-weight: 500;
        text-align: center;
        line-height: 45px;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 0 0 0 3px rgba(0,0,0,0) inset;
        @media (--md) {
            width: 33px;
            height: 33px;
            line-height: 32px;
            font-size: 14px;
        }

        &:hover{
            border-color: #fff;
        }
    }
    &__input:checked + &__item {
        border: 1px solid rgba(0,0,0,0);
        box-shadow: 0 0 0 3px #00c7c4 inset;
    }


    &--disabled{
        pointer-events: none;
        & .b-radio__input + .b-radio__item{
            color: #7F7E7F;
        }

        & .b-radio__input:checked + .b-radio__item{
            box-shadow: 0 0 0 3px #434143 inset;

        }
    }
}
