.b-rewards {
    bottom: 100%;
    padding-bottom: 24px;
    right: 24px;
    position: absolute;
    /*transform: translateZ(0);*/
    z-index: 100;
    &__item {
        display: block;
        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .14));
        @media (--mdPlus) {
            transition: all 0.3s;
            &:hover {
                filter: none;
                opacity: 0.98;
            }
        }
    }
    &__pic {
        height: 76px;
    }

    @media (--smMinus) {
        display: none;
    }
}