.b-single-flat {
    position: relative;
    @media (--xs) {
        height: calc(100% - 102px);
    }
    @media (--smPlus) {
        height: calc(100% - 90px);
    }
    @media (--xs) {
        padding-top: 24px;
    }
    @media (--sm) {
        padding: 84px 47px 0 50px;
    }
    @media (--md) {
        padding: 70px 47px 0 80px;
    }
    @media (--lg) {
        padding: 114px 47px 0 96px;
    }
    &__inner {
        margin-bottom: 8px;
        @media (--smPlus) {
            display: flex;
            width: 100%;
        }
    }
    &__sliderWrap {
        @media (--xs) {
            width: 100%;
            margin-bottom: 20px;
        }
        @media (--sm) {
            width: 53%;
        }
        @media (--md) {
            width: 53%;
        }
        @media (--lg) {
            width: 54%;
        }
    }

    &__details {
        @media (--xs) {
            padding-bottom: 10px;
        }
        @media (--sm) {
            padding-left: 55px;
        }
        @media (--md) {
            padding-left: 58px;
        }
        @media (--lg) {
            padding-left: 100px;
        }
    }

    &__title {
        line-height: 1;
        font-weight: 700;
        @media (--xs) {
            font-size: 20px;
            padding-bottom: 20px;
        }
        @media (--sm) {
            font-size: 22px;
            padding-bottom: 13px;
        }
        @media (--md) {
            font-size: 26px;
            padding-bottom: 18px;
        }
        @media (--lg) {
            font-size: 44px;
            padding-bottom: 28px;
        }
    }
    &__beds,
    &__footage,
    &__cost {
        @media (--xs) {
            font-size: 13px;
            padding-bottom: 12px;
        }
        @media (--sm) {
            font-size: 13px;
            padding-bottom: 12px;
        }
        @media (--md) {
            font-size: 13px;
            padding-bottom: 12px;
        }
        @media (--lg) {
            font-size: 21px;
            padding-bottom: 18px;
        }
    }

    &__price {
        vertical-align: top;
        &--to {
            & > .text-primary {
                white-space: nowrap;
            }
        }
    }

    &__icons {
        display: table;
        width: 100%;
        @media (--xs) {
            max-width: 300px;
            margin-bottom: 19px;
        }
        @media (--sm) {
            max-width: 227px;
            margin-bottom: 19px;
        }
        @media (--md) {
            max-width: 270px;
            margin-bottom: 19px;
        }
        @media (--lg) {
            max-width: 456px;
            margin-bottom: 34px;
        }
    }

    &__icon-wrap {
        display: table-cell;
    }

    &__icon-path {
        fill: currentColor;
    }

    &__icon {
        border-radius: 50%;
        position: relative;
        display: block;
        cursor: help;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        color: #000;
        @media (--xs) {
            height: 48px;
            width: 48px;
        }
        @media (--sm) {
            height: 42px;
            width: 42px;
        }
        @media (--md) {
            height: 48px;
            width: 48px;
        }
        @media (--lg) {
            height: 81px;
            width: 81px;
        }
        &--button {
            cursor: pointer;
        }
        &:after {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: "";
            border: 1px solid var(--colorGrayN1);
        }

        & > svg {
            width: 70%;
            height: auto;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover,
        &--active {
            color: var(--colorPrimaryN2);
            &:after {
                border: 3px solid var(--colorPrimaryN2);
            }
        }
        &--height {
            background-image: url("/img/icon_3m.svg");
        }
        &--plan {
            background-image: url("/img/plan.svg");
            background-size: 49%;
        }
        &--window {
            background-image: url("/img/window.svg");
            background-size: 49%;
        }
        &--tv {
            background-image: url("/img/prey_4.svg");
        }
    }
    &__promohint {
        opacity: 0.64;
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid rgb(221, 221, 221);
        @media (--xs) {
            margin-bottom: 17px;
        }
        @media (--sm) {
            margin-bottom: 17px;
            max-width: 98%;
        }
        @media (--md) {
            margin-bottom: 22px;
            max-width: 333px;
        }
        @media (--lg) {
            margin-bottom: 34px;
            max-width: 518px;
            font-size: 20px;
            margin-top: 18px;
            padding-top: 18px;
        }
    }
    &__downloads {
        display: table;
        width: 100%;
        @media (--xs) {
            margin-bottom: 17px;
            max-width: 300px;
        }
        @media (--sm) {
            margin-bottom: 12px;
            max-width: 232px;
        }
        @media (--md) {
            margin-bottom: 14px;
            max-width: 270px;
        }
        @media (--lg) {
            margin-bottom: 24px;
            max-width: 456px;
        }
    }
    &__downl-item {
        display: table-cell;
        vertical-align: middle;
    }
    &__downl-icon {
        display: block;
        border-radius: 50%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (--xs) {
            margin-right: 8px;
            height: 27px;
            width: 27px;
        }
        @media (--sm) {
            margin-right: 6px;
            height: 24px;
            width: 24px;
        }
        @media (--md) {
            margin-right: 8px;
            height: 27px;
            width: 27px;
        }
        @media (--lg) {
            margin-right: 13px;
            height: 45px;
            width: 45px;
        }
        &--pdf {
            background-image: url("/img/flats/adobe.svg");
        }
        &--printer {
            background-image: url("/img/flats/printer.svg");
        }
    }
    &__downl-text {
        display: block;
        color: inherit;
        @media (--lg) {
            font-size: 23px;
        }
    }
    &__btn {
        border-radius: 54px;
        @media (--xs) {
            padding: 11px 21px;
        }
        @media (--sm) {
            font-size: 12px;
            padding: 9px 19px;
        }
        @media (--md) {
            font-size: 13px;
            padding: 11px 29px;
        }
        @media (--lg) {
            border-radius: 54px;
            font-size: 22px;
            padding: 20px 54px;
        }
    }
    &__title-text {
        position: relative;
        display: inline-block;
    }
    &__title-star {
        position: absolute;
        top: 0;
        background: url("/img/star-gray.svg") center no-repeat;
        background-size: contain;
        height: 15px;
        right: -20px;
        width: 15px;
        opacity: 0.6;
        &--active {
            opacity: 1;
            background-image: url("/img/star-primary.svg");
        }
        @media (--xs) {
            display: none;
        }
        @media (--lg) {
            height: 25px;
            right: -37px;
            width: 27px;
        }
    }
}
