.b-socfooter {
    border-top: 1px solid #d0d4d8;
    display: table;
    width: 100%;
    position: relative;
    z-index: 200;
    @media (--xs) {
        padding: 14px 0;
        border: none;
    }
    @media (--sm) {
        padding: 16px 0;
    }
    @media (--md) {
        padding: 10px 0;
    }
    @media (--lg) {
        padding: 14px 0;
    }
    &__soc-inner {
        display: table;
    }
    &__bottom-date,
    &__socwrap,
    &__socicon-wrap,
    &__soctext {
        display: table-cell;
        vertical-align: middle;
    }
    &__bottom-date,
    &__soctext {
        letter-spacing: -0.01em;
        font-size: 13px;
        @media (--md) {
            font-size: 14px;
        }
        @media (--lg) {
            font-size: 16px;
        }
    }
    &__bottom-date {
        @media (--xs) {
            font-weight: 500;
            font-size: 12px;
        }
    }
    &__socwrap {
        width: 1px;
    }
    &__socicon-wrap {
        padding-left: 12px;
    }
    &__socicon {
        display: block;
        height: 34px;
        width: 34px;
        border: 1px solid #d0d4d8;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        @media (--sm) {
            height: 30px;
            width: 30px;
        }
        @media (--md) {
            height: 32px;
            width: 32px;
        }
        &:hover {
            border-color: var(--colorPrimary);
        }
        &--fb {
            background-size: auto 44%;
            background-image: url("../img/facebook-logo.svg");
        }
        &--vk {
            background-size: 60% auto;
            background-image: url("../img/vk.svg");
        }
    }
}
