.b-starred-flats-modal {
    @media (--sm) {
        padding: 8px 14px 0;
    }
    @media (--mdPlus) {
        padding: 16px 28px 0;
    }
    &__miniplans {
        & > tbody > tr >td {
            border-top: none;
            padding: 0 20px;
            @media (--sm) {
                padding: 0 17px;
            }
        }
        margin-bottom: 0;
    }
    &__left {
        width: 238px;
        float: left;
        @media (--sm) {
            width: 180px;
        }
    }
    &__right {
        position: relative;
        float: left;
        overflow-x: scroll;
        @media (--sm) {
            max-width: 422px;
        }
        @media (--md) {
            max-width: 486px;
        }

        @media (--lg) {
            max-width: 854px;
        }
    }
    &__miniplan,
    &__plan-val {
        @media (--sm) {
            width: 105px;
        }
        @media (--md) {
            width: 122px;
        }
        @media (--lg) {
            width: 130px;
        }
    }
    &__miniplans,
    &__title {
        @media (--sm) {
            height: 170px;
        }
        @media (--md) {
            height: 216px;
        }
        @media (--lg) {
            height: 224px;
        }
    }
    &__title {
        font-weight: 700;
        float: left;
        letter-spacing: 0.01em;
        @media (--sm) {
            font-size: 24px;
        }
        @media (--md) {
            font-size: 28px;
        }

        @media (--lg) {
            font-size: 30px;
        }
    }
    &__table {        
        & > tbody > tr > td{
            white-space: nowrap;
            vertical-align: middle;
            padding-top:0;
            padding-bottom:0;
            @media (--sm) {
                height: 36px;
            }
            @media (--mdPlus) {
                height: 44px;
            }
            
        }
        
        @media (--md) {
            font-size: 15px;

        }

        @media (--sm) {
            font-size: 12px;
        }
        
        &--values {
            text-align: center;
            width: 100%;
            @media (--lg) {
                font-size: 16px;
            }
            & > tbody > tr > td {
                @media (--sm) {
                    padding-left: 17px;
                    padding-right: 17px;
                }
                @media (--mdPlus) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }

        &--headings{
            @media (--lg) {
                font-size: 15px;
            }
        }
    }
    &__plan-hint {
        @media (--sm) {
            font-size: 12px;
        }

        @media (--lg) {
            font-size: 15px;
            padding-bottom: 5px;
        }
    }
    &__plan-name {
        font-weight: 700;
        color: var(--colorPrimaryN2);
        line-height: 1;
        @media (--sm) {
            font-size: 16px;
            padding-bottom: 24px;
        }
        @media (--mdPlus) {
            font-size: 18px;
            padding-bottom: 33px;
        }
    }
    &__img {
        width: 100%;
        transition: all 0.3s;
        max-height: 144px;
        @media (--sm) {
            max-height: 96px;
        }
    }
    &__img-wrap {
        position: relative;
        &:hover {
            &>.b-starred-flats-modal__img {
                opacity: 0.5;
            }
            &>.b-starred-flats-modal__img-link {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__img-link {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 50%;
        display: block;
        margin-top: -14px;
        border: 1px solid var(--colorGrayN2);
        border-radius: 50%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s;
        visibility: hidden;
        opacity: 0;
        &:hover {
            border-color: var(--colorPrimary);
        }
        @media (--mdPlus) {
            width: 34px;
            height: 34px;
            margin-top: -17px;
        }
        &--go {
            background-image: url("/img/flats/more.svg");
            left: calc(50% - 32px);
            @media (--mdPlus) {
                left: calc(50% - 42px);
            }
        }
        &--remove {
            background-image: url("/img/flats/delete.svg");
            right: calc(50% - 32px);
            @media (--mdPlus) {
                right: calc(50% - 42px);
            }
        }
    }
    &__emptytext {
        font-weight: 700;
        font-size: 30px;
        padding: 50px 70px 70px;
        text-align: center;
        display: none;
    }
}

.b-starred-flats-modal--empty > .b-starred-flats-modal__emptytext {
    display: block;
}

.b-starred-flats-modal--empty > .b-starred-flats-modal__left,
.b-starred-flats-modal--empty > .b-starred-flats-modal__right {
    display: none;
}
