.b-taglist {
    margin: 0;
    list-style: none;
    padding: 0;
    &__leaf {
        float: left;
        margin: 0 3px 0px 0;
        @media (--smPlus) {
            margin: 0 3px 3px 0;
        }
    }
    &__link {
        color: inherit;
        cursor: pointer;
        display: block;
        letter-spacing: -0.013em;
        &,
        &:active,
        &:hover,
        &:focus {
            color: inherit;
        }
        &--active {
            @media (--xs) {
                text-decoration: underline;
            }
            @media (--smPlus) {
                background: #FBF0E3;
            }
        }
        @media (--xs) {
            &:after {
                content: ",";
                font-weight: 600;
            }
        }
        @media (--smPlus) {
            font-size: 15px;
            height: 28px;
            line-height: 26px;
            white-space: nowrap;
            padding: 0 9px;
            border: 1px solid #e4e5e7;
            border-radius: 3px;
            &:hover {
                border-color: var(--colorGrayN2);
            }
        }
    }
}
