.b-topleft-header {
    position: absolute;
    font-weight: 700;
    @media (--xs) {
        font-size: 20px;
        left: 28px;
        top: 23px;
    }
    @media (--smPlus) {
        left: 87px;
        top: 148px;
    }
    &--white {
        color: #fff;
    }
    &--tour-entry-header {
        @media (--xs) {
            color: inherit;
            background: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 126px;
            padding-left: 29px;
            padding-top: 82px;
            overflow: hidden;
        }
        @media (--sm) {
            left: 94px;
            top: 183px;
        }
        @media (--md) {
            left: 94px;
            top: 187px;
        }
        @media (--lg) {
            top: 183px;
        }
    }
}

.l-article .b-topleft-header{
    @media (--xs) {
        position: static;
        padding-right: 28px;
        padding-left: 28px;
    }

    @media (--sm) {
        position: static;
        padding-right: 38px;
        padding-left: 38px;
    }
}

.l-diary .b-topleft-header{
     @media(min-width: 768px) and (max-width: 1099px) and (max-height: 860px){
        top: 106px;
    }
}
