.b-tour-entry {
    @media(--xs) {
        top: auto;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 70px;
        overflow: hidden;
    }
    &__choose-angle-btn {
        position: absolute;
        left: 96px;
        padding-left: 50px;
        padding-right: 50px;
        top: 254px;
        @media(--lg) {
            top: 252px;
        }
    }
    &__mobile-choose-angle-btn {
        background: #fff url("../img/arrow-left-mb.svg") center right 31px no-repeat;
        background-size: 8px;
        color: inherit;
        font-size: 16px;
        font-weight: 500;
        left: 0;
        letter-spacing: 0.015em;
        padding: 24px 0 24px 29px;
        width: 100%;
        display: block;
    }
}
