.b-toggle {
    &--disabled {
        pointer-events: none;
    }
    &__item {
        &--furnish:after {
            background-image: url("/img/paintbrush.svg");
        }
        &--balcony:after {
            background-image: url("/img/balcony.svg");
        }
    }
}

.b-toggle--disabled .b-toggle__item--balcony:after {
    background-image: url("/img/balcony-gray.svg");
}

.b-toggle__input {
    display: none;
}

.b-toggle__input + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.b-toggle__input--round + label {
    width: 82px;
    height: 48px;
    @media (--md) {
        height: 36px;
        width: 59px;
    }
}

.b-toggle__input--round + label:before {
    display: block;
    position: absolute;
    bottom: 5px;
    content: "";
    right: 1px;
    border-radius: 60px;
    left: 1px;
    top: 4px;
    border: 1px solid #434143;
    @media (--md) {
        top: 2px;
    }
}

.b-toggle__input--round + label:after {
    width: 45px;
    height: 45px;
    top: 0;
    border: 3px solid #434143;
    border-radius: 50%;
    transition: all 0.4s;
    position: absolute;
    content: "";
    background-color: #302E31;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    @media (--md) {
        width: 31px;
        height: 31px;
    }
}

.b-toggle--disabled > .b-toggle__input--round + label:after {
    border-color: #434143 !important;
    transition: none !important;
}


/* .b-toggle__input--round:checked + label:before {
    background-color: #8ce196;
} */

.b-toggle__input--round:checked + label:after {
    margin-left: 36px;
    border-color: #00c7c4;
    @media (--md) {
        margin-left: 26px;
    }
}
