.b-topbarlink {
    display: block;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 30px;
    color: var(--colorPrimaryN2);
    position: relative;
    border-bottom: 1px solid #F28C60;
    display: inline-block;
    line-height: 1.3;
} 

@media (min-width:1100px) {
    .b-topbarlink {
        font-size: 16px;
        margin-left: 38px
    }
}

.b-topbarlink__inner {
    color: #3b3e41;
}

.l-topbar--white .b-topbarlink__inner{
    color: #fff;
}
