.b-underlinded-header {
    font-weight: 500;
    border-bottom: 1px solid var(--colorPrimary);
    /* @media (--xs) {} */
    @media (--sm) {
        padding-bottom: 7px;
        margin-bottom: 19px;
    }
    @media (--md) {
        font-size: 17px;
        letter-spacing: -0.01em;
        margin-bottom: 21px;
        padding-bottom: 8px;
    }
    @media (--lg) {
        font-size: 24px;
        padding-bottom: 14px;
        margin-bottom: 31px;
    }
}
