.b-webcams {
    &--on-diary-page {
        z-index: 150;
        position: absolute;
        @media (--xs) {
            top: 68px;
            left: 28px;
            right: 28px;
        }

        @media (--sm) {
            top: 208px;
            left: 83px;
            right: 87px;
        }

        @media (min-width: 768px) and (max-width: 1099px) and (max-height: 860px) {
            top: 117px;
            left: auto;
            right: 0;
            max-width: 300px;
        }

        @media (--mdPlus) {
            top: 219px;
            left: 83px;
            max-width: 90%;
        }
    }

    &__item {
        display: inline-block;
        color: inherit;
        position: relative;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
        @media (--xs) {
            margin-right: 24px;
            padding-left: 33px;
        }

        @media (--sm) {
            margin-bottom: 20px;
            margin-right: 24px;
            padding-left: 33px;
        }

        @media (--mdPlus) {
            margin-bottom: 20px;
            margin-right: 27px;
            padding-left: 33px;
        }

        &:before {
            content: "";
            width: 25px;
            height: 25px;
            display: block;
            background: center no-repeat url(/img/webcam_icon.svg);
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -13px;
            @media (--xs) {
            }
        }
    }
}
