.FlatplanSlider {
    width: 100%;
    &_planItem {
        pointer-events: none;
        user-select: none;
    }

    &_planPic {
        max-height: 60vh;
        min-height: 400px;
        width: 100%;
    }

    &_titleSlide {
        text-align: center;
    }

    &_title {
        font-size: 17px;
    }

    &_titlesRow {
        height: 30px;
    }

    &_titlesArrow {
        border: 0;
        display: block;
        position: absolute;
        top: 50%;
        padding: 0;
        height: 30px;
        width: 30px;
        margin-top: -15px;
        z-index: 10;
        background: none;
        &-prev {
            left: 0;
        }
        &-next {
            right: 0;
        }
        & > svg {
            width: 25%;
            height: auto;
        }
    }

    &_titlesUnderline {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: var(--colorPrimaryN2);
        width: 10px;
        left: 50%;
        transform: translateX(-50%) translateZ(0);
        will-change: width;
        transition: all 0.2s;
    }
}
