.MortgageBanklist {
    margin: 40px auto 0;
    padding-bottom: 90px;
}
@media (--xs) {
    .MortgageBanklist {
        padding-bottom: 80px;
    }
}
@media (--sm) {
    .MortgageBanklist {
        margin-top: 40px;
    }
}
.MortgageBanklist_row {
    min-height: 71px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px 8px 20px 0 rgba(70, 87, 115, 0.1);
    margin-top: 10px;
    padding: 6px 28px;
}
@media (--xs) {
    .MortgageBanklist_row {
        padding: 6px 15px;
        min-height: 0;
    }
}
.MortgageBanklist_cell {
    height: 100%;
    z-index: 10;
}
@media (--sm) {
    .MortgageBanklist_cell:not(.MortgageBanklist_cell-img) {
        flex-basis: 18%;
    }
}
.MortgageBanklist_cell:not(:last-of-type) {
    margin-right: 5px;
}
.MortgageBanklist_cell-img {
    flex-basis: 20%;
    max-width: 164px;
    @media (--mdPlus){
        flex-basis: 16%;
    }
}
.MortgageBanklist_logoPic {
    width: 100%;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    &:after {
        content: "";
        padding-top: 36%;
        display: block;
    }
}
@media (--sm) {
    .MortgageBanklist_cell-rate {
        flex-basis: 8%;
    }
}
@media (--xs) {
    .MortgageBanklist_cell-description {
        display: none;
    }
}
.MortgageBanklist_header {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    padding-bottom: 7px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
}
@media (--xs) {
    .MortgageBanklist_header {
        font-size: 0.8rem;
    }
}
.MortgageBanklist_header-star{
    position: relative;
    &:after {
        content: "*";
        color: #fcca4d;
        font-size: 20px;
        position: absolute;
        margin-top: -4px;
        pointer-events: none;
    }
}



.MortgageBanklist_text {
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: normal;
    text-align: center;
    font-size: 1.25rem;
}
@media (--xs) {
    .MortgageBanklist_text {
        font-size: 1.2rem;
    }
}
.MortgageBanklist_tipText {
    font-size: 12px;
    padding-top: 12px;
    float: right;
    color: #4a5565;
    line-height: 1;
}
@media (--xs) {
    .MortgageBanklist_tipText {
        text-align: center;
    }
}
.MortgageBanklist_tipSign {
    color: #fcca4d;
    font-size: 24px;
    padding-right: 10px;
    position: relative;
    top: 8px;
}
