.MortgageCalc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
@media (--smMinus) {
    .MortgageCalc {
        flex-wrap: wrap;
    }
}
.MortgageCalc_option {
    height: 50px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media (--smMinus) {
        flex-basis: 100%;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    @media (--mdPlus) {
        width: 30%;
    }
}

.MortgageCalc_text {
    @media (--xs) {
        font-size: 1.2rem;
    }
    @media (--smPlus) {
        font-size: 1.4rem;
    }
}

.MortgageCalc_sumWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.MortgageCalc_sum,
.MortgageCalc_sign {
    display: inline-block;
    font-weight: 500;
}
@media (--xs) {
    .MortgageCalc_sum,
    .MortgageCalc_sign {
        font-size: 1.2rem;
    }
}
@media (--smPlus) {
    .MortgageCalc_sum,
    .MortgageCalc_sign {
        font-size: 1.4rem;
    }
}
.MortgageCalc_sign {
    padding-left: 5px;
}
.MortgageCalc_sum {
    padding: 8px 5px 8px 10px;
}
