.MortgageSlider {
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.MortgageSlider_track {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #d4d9dc;
    border: 0;
}
.MortgageSlider_progress {
    background: #f28c60;
    border: 0;
    outline: 0;
    border-radius: 4px;
}
.MortgageSlider_handle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 0;
    top: 50%;
    margin-top: -11px;
    margin-left: -11px;
    background: #fff;
    border: 1px solid #d4d9dc;
    cursor: grab;
    &:after {
        content: "";
        pointer-events: none;
        width: 8px;
        height: 8px;
        background: #f28c60;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
        border-radius: 50%;
    }
}

.ui-state-active.ui-state-focus.MortgageSlider_handle {
    cursor: grabbing;
}

.MortgageSlider_rangeVals {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #3b4145;
    display: flex;
}
.MortgageSlider_valViewWrap {
    width: 50%;
    max-width: 50%;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #fff;
}
.MortgageSlider_valViewWrap-max {
    justify-content: flex-end;
    border-left: 1px solid #3b4145;
}
.MortgageSlider_minValViewEl,
.MortgageSlider_maxValViewEl {
    margin-right: 4px;
    transform: translateZ(0);
}
.MortgageSlider_popupInp {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: 0;
    width: 100%;
    background: none;
}
