.SiteMap {
    @media (--xs) {
        padding-bottom: 24px;
        padding-left: 16px;
    }
    @media (--sm) {
        padding-bottom: 40px;
        padding-left: 16px;
    }

    &_group {
        padding-bottom: 12px;


    }
    &_groupHead {
        margin-bottom: 2px;
        font-size: 17px;
        font-weight: 700;
        line-height: 1.47;
        letter-spacing: normal;
    }

    &_item {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.67;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: -26px;
            top: -1px;
            bottom: 0;
            width: 10px;
            transform: translateY(-12px);
            border-left: 1px solid #cfcfcf;
            border-bottom: 1px solid #cfcfcf;
        }

        &:first-child {
            &:before {
                top: 9px;
            }
        }
    }

    &_list {
        padding-left: 26px;
        list-style: none;
    }

    &_link,
    &_headLink {
        color: inherit;
        &:hover {
            color: #f28c60;
            text-decoration: underline;
        }
    }
}