.Subscribe {
    text-align: center;
    @media (--smMinus) {
        padding-bottom: 72px;
    }
    &-txtLeft {
        text-align: left;
    }
    &_text {
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #323232;
    }

    &_inputWrap {
        margin-bottom: 24px;
    }

    &_inp {
        display: block;
        width: 80%;
        background: none;
        border: 0;
        border-bottom: 2px solid #e4e5e7;
        margin: 0 auto;
        color: #7d7d7d;
        letter-spacing: 0.4px;
        font-size: 16px;
        padding: 10px;
        font-weight: 500;
        text-align: center;
        &.error {
            border-color: #b63755;
        }
        & + label.error {
            color: #b63755;
            font-size: 12px;
        }
    }

    &_successText {
        font-weight: 500;
        font-size: 18px;
        width: 70%;
        min-width: 262px;
        margin: 0 auto;
        color: #f28c60;
        padding-top: 16px;
    }

    &-hypothecPageDesktop {
        text-align: left;

        & .Subscribe_inp {
            text-align: left;
            margin-right: auto;
            margin-left: 0;
            padding-left: 1px;
        }

        & .Subscribe_successText{
            margin-right: auto;
            margin-left: 0;
        }
    }
}
