<div class="b-mobaccordion" id="aboutProjectMobileAccordion">
  <div>
    <div class="b-mobaccordion__head" id="headingOne">
      <h4>
        <a class="b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseOne">
          О застройщике
        </a>
      </h4> </div>
      <div class="b-mobaccordion__pan collapse in" id="collapseOne">
        <p> <span class="b-mobaccordion__bold">Команда</span>, создавшая холдинг, обладает многолетним успешным опытом в реализации строительных проектов на территории России и за рубежом, что является залогом успешного воплощения основной концепции холдинга:</p>
        <p> <span class="b-mobaccordion__bold">“</span>Cоздание современного, удобного, комфортного и безопасного пространства для жизни людей<span class="b-mobaccordion__bold">”</span></p>
        <p> В число успешных бизнес-проектов учредителей холдинга входят: </p>
        <p> – Корпорация «Аккорд» – лидер в сфере строительства и инвестиций в Азербайджане и на Южном Кавказе. </p>
        <p> – Портфель реализованных проектов корпорации включает в себя <span class="b-mobaccordion__bold">750 000</span> квадратных метров жилья в г. Баку, 690 км. автомобильных дорог, <span class="b-mobaccordion__bold">25</span> мостов и туннелей. </p>
        <p> – На сегодняшний день у корпорации «Аккорд» функционирует <span class="b-mobaccordion__bold">38</span> заводов по производству и переработке широкого спектра продукции. </p>
        <p> – Вертикальная интеграция бизнеса позволяет корпорации полностью контролировать сроки и качество строительства, что подтверждается международным наградами, </p>
        <p> в частности в 2012 году корпорация стала обладателем Премии <span class="b-mobaccordion__bold">«Caspian Energy Integration Award – 2012»</span>, учрежденной Каспийско-Европейским Интеграционным Деловым Клубом <span class="b-mobaccordion__bold">(CEIBC)</span> в номинации “Строительная компания Года”.</p>
        <div class="b-aboutpage__loaddoc">
          <div class="b-aboutpage__loaddoc-pic-wrap"><img src="img/adobe.svg" alt="ADOBE" class="b-aboutpage__loaddoc-pic"></div>
          <div class="b-aboutpage__loaddoc-text-wrap">Скачать презентацию</div>
        </div>
      </div>
    </div>
    <div>
      <div class="b-mobaccordion__head" id="headingTwo">
        <h4>
          <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseTwo">
            Новости
          </a>
        </h4> </div>
        <div class="b-mobaccordion__pan collapse" id="collapseTwo">
          <div> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
        </div>
      </div>
      <div>
        <div class="b-mobaccordion__head" id="headingThree">
          <h4>
            <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseThree">
              Галерея
            </a>
          </h4> </div>
          <div class="b-mobaccordion__pan  collapse" id="collapseThree" class="collapse">
            <div> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
          </div>
        </div>
      </div>
