<div class="b-card b-card--with-hover-state">
    <table class="b-card__wrap b-card__wrap--v2">
        <tbody>
            <tr>
                <td class="b-card__td b-card__td--tl">
                    <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                </td>
                <td class="b-card__td b-card__td--tr">
                    <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="b-card__td b-card__td--m">
                    <div class="b-card__border b-card__border--m b-card__border--m-v2">
                        <div class="b-card__title b-card__title--v3">ВАШИ ДРУЗЬЯ
                            <br><span class="text-primary">ВАША ЦЕННОСТЬ</span></div>
                        <div class="b-card__text b-card__text--v2">Дом 1a</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
