<div class="b-scheme" id="roadScheme">
    <div class="b-scheme__img-wrap">
        <img src="/img/pushers/19x10.gif" alt="" class="b-scheme__img hidden-md hidden-lg">
    </div>
    <a href="#" class="b-scheme__close-btn"></a>
</div>
<div class="b-contacts hidden-xs">
    <div id="contactsMap" class="b-contacts-map"></div>
    
   <img class="b-bg-clouds" src="img/contacts/clouds-bg.png" alt="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 b-contacts__col">
                <h1 class="b-contacts__header">Контактная
                    <br class="hidden-sm"> информация
                    <div class="b-contacts__text-toggler visible-sm"></div>
                </h1>
                <div class="b-contacts__content-block">
                    <div class="clearfix">
                        <p class="b-contacts__paragraph pull-left-sm"> Телефон: <span class="b-contacts__highlight">+7 (495) 135-32-44</span>
                            <br>Почта: <span class="b-contacts__highlight">info@1331111.ru</span></p>
                        <br class="hidden-sm">
                        <p class="b-contacts__paragraph pull-right-sm text-right-sm"> График работы:
                            <br class="hidden-sm"><span class="b-contacts__highlight">9:00-20:00 пн-пт</span>
                            <br> <span class="b-contacts__highlight">10:00-20:00 сб-вс</span> </p>
                    </div>
                </div> <a href="#" class="b-contacts__readmore-link" data-aside-menu="messageUsAsideMenu">Написать нам</a> </div>
            <div class="col-md-3 col-lg-4 b-contacts__col b-contacts__col--n2">
                <div class="b-contacts__header"> Как добраться
                    <br class="hidden-sm"> на автомобиле
                    <div class="b-contacts__text-toggler visible-sm"></div>
                </div>
                <div class="b-contacts__content-block">
                    <p class="b-contacts__paragraph">По Минскому или Киевскому шоссе до поворота на деревню Крёкшино; Доступны также альтернативные пути – по Можайскому и Боровскому шоссе; Cамый быстрый способ – использовать платный Северный обход Одинцова.</p>

                </div>
                    
                    <div class="clearfix">
                        <a href="#" class="b-contacts__readmore-link" id="showCarRouteOnBigMapBtn">Построить маршрут</a>
                        <a href="#" class="b-contacts__readmore-link b-contacts__readmore-link--scheme" id="showSchemeLink">Схема проезда</a>
                    </div>
                
                 </div>
            <div class="col-md-6 col-lg-5 b-contacts__col b-contacts__col--n3">
                <div class="b-contacts__header"> Как добраться
                    <br class="hidden-sm"> на электричке
                    <div class="b-contacts__text-toggler visible-sm"></div>
                </div>
                <div class="b-contacts__content-block">
                    <p class="b-contacts__paragraph"> От Белорусского вокзала, платформы «Беговая» или «Фили» до ж/д станции «Жаворонки», далее несколько остановок на автобусе №1055. От Киевского вокзала до Ж/Д станции «Крекшино», далее несколько остановок на автобусе №1055. </p>
                    <p class="b-contacts__paragraph"> Оставьте заявку на сайте или позвоните в офис продаж за 24 часа до поездки и наш фирменный транспорт встретит Вас на Ж/Д станции. </p>
                </div>
                <div class="clearfix">
                    <div class="pull-left"> <a href="#" id="showTransitRouteOnBigMapBtn" class="b-contacts__readmore-link">Построить маршрут</a> </div>
                    <div class="pull-right"> <a href="#" data-aside-menu="transportOrderAsideForm" class="b-contacts__readmore-link">Заказать транспорт от ЖД</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-mobile-contacts visible-xs">
    <div class="container-fluid">
        <div class="b-mobile-contacts__header">Контакты</div>
        <table class="b-mobile-contacts__address">
            <tr>
                <td>Телефон:</td>
                <td>+7 (495) 135-32-44</td>
            </tr>
            <tr>
                <td>Почта:</td>
                <td>info@1331111.ru</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 10px;">&nbsp;</td>
            </tr>
            <tr>
                <td>График работы:
                    <br>пн-пт</td>
                <td>9:00-20:00</td>
            </tr>
        </table>
    </div>
</div>
<div class="b-mobaccordion" id="contactsMobileAccordion">
    <div>
        <div class="b-mobaccordion__head" id="headingOne">
            <h4>
                    <a class="b-mobaccordion__headlink" data-toggle="collapse" data-parent="#contactsMobileAccordion" href="#collapseOne">
                      Как добраться на автомобиле
                    </a>
                </h4> </div>
        <div class="b-mobaccordion__pan collapse in" id="collapseOne">
            <p class="b-mobaccordion__paragraph"> По Минскому или Киевскому шоссе до поворота на деревню Крёкшино; Доступны также альтернативные пути – по Можайскому и Боровскому шоссе. </p>
            <p class="b-mobaccordion__paragraph">Cамый быстрый способ – использовать платный Северный обход Одинцова.</p>
            <p><a href="#" id="showSchemeLinkMobile" style="text-decoration: underline;"><span class="bold">Схема проезда</span></a></p>
            <br>
            <p class="b-mobaccordion__paragraph text-center"> <a href="#" id="showRouteToBuildingsForCarBtn" class="btn btn-primary">Построить маршрут</a> </p>
        </div>
    </div>
    <div>
        <div class="b-mobaccordion__head" id="headingTwo">
            <h4>
                    <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#contactsMobileAccordion" href="#collapseTwo">
                      Как добраться на электричке
                    </a>
                </h4> </div>
        <div class="b-mobaccordion__pan collapse" id="collapseTwo">
            <p class="b-mobaccordion__paragraph">От Белорусского вокзала, платформы «Беговая» или «Фили» до ж/д станции «Жаворонки», далее несколько остановок на автобусе №1055. От Киевского вокзала до Ж/Д станции «Крекшино», далее несколько остановок на автобусе №1055. </p>
            <br>
            <p class="b-mobaccordion__paragraph text-center"> <a href="#"  class="btn btn-primary" id="showRouteToBuildingsForTransitBtn">Построить маршрут</a> </p>
        </div>
    </div>
    <div>
        <div class="b-mobaccordion__head" id="headingThree">
            <h4>
                    <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#contactsMobileAccordion" href="#collapseThree">
                      Заказ транспорта
                    </a>
                </h4> </div>
        <div class="b-mobaccordion__pan collapse" id="collapseThree">
            <p class="b-mobaccordion__paragraph">От Белорусского вокзала, платформы Оставьте заявку на сайте или позвоните в офис продаж за 24 часа до поездки и наш фирменный транспорт встретит Вас на Ж/Д станции. </p>
            <br>
            <p class="b-mobaccordion__paragraph text-center"> <a href="#" class="btn btn-primary" data-aside-menu="transportOrderAsideForm">Заказать транспорт</a> </p>
        </div>
    </div>
</div>
