{% set randomID = range(1,999) | random %}
<div class="b-custom-checkbox">
    <input type="checkbox" class="b-custom-checkbox__input" id="randomID_{{ randomID }}" name="agree" autocomplete="off" required="required">
    <label for="randomID_{{ randomID }}" class="b-custom-checkbox__label">Я согласен(-на) на обработку моих
        <br><a href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" class="text-primary"><u>персональных данных</u></a>
    </label>
</div>