<div class="b-diary-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a href="/ajax_examples/get_diary_slides.json" class="b-diary-slider__slide  swiper-slide swiper-slide-active">
                <div class="b-diary-slider__video-wrap embed-responsive embed-responsive-16by9 visible-xs">
                  <iframe class="embed-responsive-item" webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/209070629?title=0&byline=0&rand=lkjflsdajf{{i}}"></iframe>
                </div>
                <div class="b-diary-slider__sldesc">
                    <div class="b-diary-slider__slhead">Видеоотчет</div>
                    <div class="b-diary-slider__sltext"> Завершение кладки кирпичных парапетов и работы по кладке внешних стен. Корпус 1Б 
                    <br><small class="b-diary-slider__author">Загружено 12.07.2017 <br>Констодоглопропетренко Василий Иванович</small></div>
                </div> 
                <div class="b-diary-slider__video-preview-wrap hidden-xs">
                    <img class="b-diary-slider__img swiper-lazy hidden-xs swiper-lazy-loaded" src="img/gallery/15x8-pusher.png" alt="" style="background-image: url(&quot;img/gallery/1.jpg&quot;);">
                </div>
            </a>
            <a href="/ajax_examples/get_diary_slides.json" class="b-diary-slider__slide swiper-slide">
            <img class="b-diary-slider__img swiper-lazy visible-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="b-diary-slider__sldesc">
                    
                    <div class="b-diary-slider__slhead">Lorem ipsum</div>
                    <div class="b-diary-slider__sltext"> Завершение кладки кирпичных парапетов и работы по кладке внешних стен. Корпус 1Б Lorem ipsum dolor sit amet, consectetur.
                        <br><small class="b-diary-slider__author">Загружено 12.07.2017 <br>Констодоглопропетренко Василий Иванович</small> </div>
                </div> <img class="b-diary-slider__img swiper-lazy hidden-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </a>
            <a href="/ajax_examples/get_diary_slides.json" class="b-diary-slider__slide swiper-slide">
            <img class="b-diary-slider__img swiper-lazy visible-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="b-diary-slider__sldesc">
                    <div class="b-diary-slider__slhead">Lorem ipsum</div>
                    <div class="b-diary-slider__sltext"> Завершение кладки кирпичных парапетов и работы по кладке внешних стен. Корпус 1Б Lorem ipsum dolor sit amet, consectetur.
                        <br><small class="b-diary-slider__author">Загружено 12.07.2017 <br>Констодоглопропетренко Василий Иванович</small> </div>
                </div> <img class="b-diary-slider__img swiper-lazy hidden-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/1.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </a>
            <a href="/ajax_examples/get_diary_slides.json" class="b-diary-slider__slide swiper-slide">
            <img class="b-diary-slider__img swiper-lazy visible-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="b-diary-slider__sldesc">
                    <div class="b-diary-slider__slhead">Lorem ipsum</div>
                    <div class="b-diary-slider__sltext"> Завершение кладки кирпичных парапетов и работы по кладке внешних стен. Корпус 1Б Lorem ipsum dolor sit amet, consectetur.
                        <br><small class="b-diary-slider__author">Загружено 12.07.2017 <br>Констодоглопропетренко Василий Иванович</small></div>
                </div> <img class="b-diary-slider__img swiper-lazy hidden-xs" src="img/gallery/15x8-pusher.png" data-background="img/gallery/2.jpg" alt="">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </a>
        </div>
    </div>
    <div class="b-diary-slider__controls">
        <div class="b-diary-slider__pager"></div>
        <div class="b-diary-slider__navbtn b-diary-slider__navbtn--next"></div>
        <div class="b-diary-slider__navbtn b-diary-slider__navbtn--prev"></div>
    </div>
</div>

