<div class="b-card b-card--with-hover-state">
    <a href="#" class="b-card__link-wrapper">
        <table class="b-card__wrap b-card__wrap--v2">
            <tbody>
                <tr>
                    <td class="b-card__td b-card__td--tl">
                        <div class="b-card__border b-card__border--tl b-card__border--tl-v2">&nbsp;</div>
                    </td>
                    <td class="b-card__td b-card__td--tr">
                        <div class="b-card__corner b-card__corner--v2">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="b-card__td b-card__td--m">
                        <div class="b-card__border b-card__border--m b-card__border--m-v2">
                            <div class="b-card__title b-card__title--v2">Проектная декларация</div>
                            <div class="b-card__text b-card__text--v2">Дом 1a</div>
                            <div class="b-card__download">
                                <div class="b-card__download-icon-wrap">
                                    <div class="b-card__download-icon b-card__download-icon--adobe">&nbsp;</div>
                                </div>
                                <div class="b-card__download-text">Скачать PDF – 3,1 MB</div>
                            </div>
                            <div class="b-card__footer">
                                <table class="b-card__author-data">
                                    <tr>
                                        <td>Загружено</td>
                                        <td class="text-right">12.07.2017</td>
                                    </tr>
                                    <tr>
                                        <td>Загрузил</td>
                                        <td class="text-right">Василий Иванович</td>
                                    </tr>
                                </table>
                            </div>
             
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </a>
</div>
