<div class="b-flats-filter" id="singFlatPageFiltersBlock">
    <div class="b-flats-filter__titles clearfix">
        <div class="b-flats-filter__title b-flats-filter__title--left"> <a href="/flats.html" class="b-flats-filter__title-text b-flats-filter__title-text--active">КВАРТИРЫ</a></div>
        <div class="b-flats-filter__title b-flats-filter__title--right"><a href="/flats2.html" class="b-flats-filter__title-text">КЛАДОВАЯ</a></div>
    </div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap  b-flats-filter__control-wrap--2of2">
            <div class="b-flats-filter__label">Балкон</div>
            <div class="b-toggle">
                <input id="balconyInput" class="b-toggle__input b-toggle__input--round" type="checkbox">
                <label for="balconyInput" class="b-toggle__item b-toggle__item--balcony"></label>
            </div>
        </div>
    </div>
    <div class="b-flats-filter__label">Спален</div>
    <div class="b-flats-filter__row"> {% for i in range(1,5) %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="bedroomsInput{{i}}" name="bedroomsInput" class="b-radio__input">
                <label for="bedroomsInput{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Этаж</div>
    <div class="b-flats-filter__row"> {% for i in range(1,5) %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="floorsInput{{i}}" name="floorsInput" class="b-radio__input">
                <label for="floorsInput{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Вид из окон</div>
    <div class="b-flats-filter__row"> {% for i in ["Ю","С","В","З"] %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="viewDirectionInput{{i}}" name="viewDirectionInput" class="b-radio__input">
                <label for="viewDirectionInput{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Площадь</div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap">
            <input id="singleFlatAreaRangeInput" type="text" value="" data-slider-min="42" data-slider-max="188" data-slider-step="1" data-slider-value="[42,188]" />
            <div class="text-center"><span id="areaMin">42</span> - <span id="areaMax">188</span></div>
        </div>
    </div>
    <div class="b-flats-filter__label">Стадия готовности</div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap">
            <input id="singleFlatCompletenessRangeInput" type="text" value="" data-slider-min="42" data-slider-max="188" data-slider-step="1" data-slider-value="[42,188]" />
            <div class="text-center"><span id="singleFlatCompletenessDateMin">42</span> - <span id="singleFlatCompletenessDateMax">188</span></div>
        </div>
    </div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap b-flats-filter__control-wrap--1of2">
            <div class="b-flats-filter__label">Корпус</div>
            <div class="b-flats-filter__round-btn b-flats-filter__round-btn--build" data-toggle="modal" data-target='#genplanModal'></div>
        </div>
        <div class="hidden-xs b-flats-filter__control-wrap  b-flats-filter__control-wrap--2of2">
            <div class="b-flats-filter__label">Избранное</div>
            <div class="b-flats-filter__round-btn b-flats-filter__round-btn--star"  data-toggle="modal" href='#starredFlatsModal'></div>
        </div>
    </div>
    <div class="b-flats-filter__bottom-pusher visible-xs">&nbsp;</div>
     <a href="#" class="b-flats-filter__apply-btn visible-xs">Найти</a>
    <div class="b-flats-filter__footer b-flats-filter__footer--v1 hidden-xs clearfix"> {% include "./b-footer--flatfiltres.html" %} </div>
    <div class="b-flats-filter__close visible-xs visible-sm">&times;</div>
</div>
