<div class="b-flats-filter" id="allFlatsPageFiltersBlock">
<form action="./" method="get" id="formFilterApartments">
    <input type="hidden" name="area_from">
    <input type="hidden" name="area_to">
    <input type="hidden" name="finish_to" autocomplete="off" />
    <input type="hidden" name="finish_from" autocomplete="off" />
    <div class="hidden">
        <input type="checkbox" name="house[]" value="13" autocomplete="off" />
        <input type="checkbox" name="house[]" value="14" autocomplete="off" />
        <input type="checkbox" name="house[]" value="15" autocomplete="off" />
        <input type="checkbox" name="house[]" value="16" autocomplete="off" />
    </div>
    <div class="b-flats-filter__titles clearfix">
        <div class="b-flats-filter__title b-flats-filter__title--left"> <a href="/flats.html" class="b-flats-filter__title-text b-flats-filter__title-text--active">КВАРТИРЫ</a></div>
        <div class="b-flats-filter__title b-flats-filter__title--right"><a href="/flats2.html" class="b-flats-filter__title-text">КЛАДОВАЯ</a></div>
    </div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap  b-flats-filter__control-wrap--2of2">
            <div class="b-flats-filter__label">Балкон</div>
            <div class="b-toggle">
                <input id="balconyInput" value="1" class="b-toggle__input b-toggle__input--round" name="balcony" type="checkbox">
                <label for="balconyInput" class="b-toggle__item b-toggle__item--balcony"></label>
            </div>
        </div>
    </div>
    <div class="b-flats-filter__label">Спален</div>
    <div class="b-flats-filter__row"> {% for i in range(1,5) %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="bedroomsInput{{i}}" name="bedrooms[]" class="b-radio__input" value="{{i}}">
                <label for="bedroomsInput{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Этаж</div>
    <div class="b-flats-filter__row"> {% for i in range(1,5) %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="floorsInput{{i}}" value="{{i}}" name="floor[]" class="b-radio__input">
                <label for="floorsInput{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Вид из окон</div>
    <div class="b-flats-filter__row"> {% for i in ["Ю","С","В","З"] %}
        <div class="b-flats-filter__control-wrap">
            <div class="b-radio">
                <input type="checkbox" id="view_direction{{i}}" name="view_direction[]" class="b-radio__input" value="{{i}}">
                <label for="view_direction{{i}}" class="b-radio__item">{{i}}</label>
            </div>
        </div> {% endfor %} </div>
    <div class="b-flats-filter__label">Площадь</div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap">
            <input id="areaRangeInput" type="text" data-area-slider="" value="" data-slider-min="42" data-slider-max="188" data-slider-step="1" data-slider-value="[42,188]" />
            <div class="text-center"><span id="areaMin">42</span> - <span id="areaMax">188</span></div>
        </div>
    </div>
    <div class="b-flats-filter__label">Стадия готовности</div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap">
            <input id="completenessRangeInput" data-realese-slider="" type="text" value="" data-slider-min="1483217999" data-slider-max="1530392399"  data-slider-value="[1483217999,1530392399]" />
            <div class="text-center"><span id="completenessDateMin">1483217999</span> - <span id="completenessDateMax">1530392399</span></div>
        </div>
    </div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap b-flats-filter__control-wrap--1of2">
            <div class="b-flats-filter__label">Корпус</div>
            <div class="b-flats-filter__round-btn b-flats-filter__round-btn--build" onclick="genplanShow();"></div>
        </div>
        <div class="hidden-xs b-flats-filter__control-wrap  b-flats-filter__control-wrap--2of2">
            <div class="b-flats-filter__label">Избранное</div>
            <div class="b-flats-filter__round-btn b-flats-filter__round-btn--star"  data-toggle="modal" href='#starredFlatsModal'></div>
        </div>
    </div>
    <div class="b-flats-filter__bottom-pusher visible-xs">&nbsp;</div>
     <button type="submit" class="b-flats-filter__apply-btn visible-xs">Найти</button>
    <div class="b-flats-filter__footer b-flats-filter__footer--v1 hidden-xs clearfix"> {% include "./b-footer--flatfiltres.html" %} </div>
</form>
<div class="b-flats-filter__close visible-xs visible-sm">&times;</div>
</div>
