<div class="b-flats-filter">
    <div class="b-flats-filter__titles clearfix">
        <div class="b-flats-filter__title b-flats-filter__title--left"> <a href="/flats.html" class="b-flats-filter__title-text">КВАРТИРЫ</a></div>
        <div class="b-flats-filter__title b-flats-filter__title--right"><a href="/flats2.html" class="b-flats-filter__title-text b-flats-filter__title-text--active">КЛАДОВАЯ</a></div>
    </div>
    <div class="b-flats-filter__label">Площадь</div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap">
            <input id="areaRangeInput" type="text" value="" data-slider-min="42" data-slider-max="188" data-slider-step="1" data-slider-value="[42,188]" />
            <div class="text-center"><span id="areaMin">42</span> - <span id="areaMax">188</span></div>
        </div>
    </div>
    <div class="b-flats-filter__row">
        <div class="b-flats-filter__control-wrap b-flats-filter__control-wrap--1of2">
            <div class="b-flats-filter__label">Корпус</div>
            <div class="b-flats-filter__round-btn b-flats-filter__round-btn--build"  data-toggle="modal" data-target='#genplanModal'"></div>
        </div>
        <div class="b-flats-filter__control-wrap  b-flats-filter__control-wrap--2of2 hidden-xs">
            <div class="b-flats-filter__label">Подъезд</div>
            <div class="b-flats-filter__round-btn">5</div>
        </div>
    </div>
    <div class="b-flats-filter__bottom-pusher visible-xs">&nbsp;</div>
     <a href="#" class="b-flats-filter__apply-btn visible-xs">Найти</a>
    <div class="hidden-xs clearfix"> {% include "./b-footer--flatfiltres.html" %} </div>
    <div class="b-flats-filter__close visible-xs visible-sm">&times;</div>
</div>
