<div id="flastListTableContainer">
    <section class="b-flats-list hidden-xs">
        <table class="b-flats-list__table table">
            <caption class="b-flats-list__caption">Квартиры выбранной планировки</caption>
            <tbody>
                {% for i in range(1,10) %}
                <tr>
                    <td class="b-flats-list__td b-flats-list__td--n1">№2</td>
                    <td class="b-flats-list__td">корпус <b class="text-primary">2B</b></td>
                    <td class="b-flats-list__td">секция <b class="text-primary">1</b></td>
                    <td class="b-flats-list__td">этаж <b class="text-primary">1</b></td>
                    <td class="b-flats-list__td">студия</td>
                    <td class="b-flats-list__td">общая площадь <b class="text-primary">31.1 м<sup>2</sup></b></td>
                    <td class="b-flats-list__td"><u data-plan-img="/upload/shop_1/6/7/5/item_675/shop_property_file_675_580.svg" data-plan-section="1">на этаже</u></td>
                    <td class="b-flats-list__td">
                        <div class="b-flats-list__icon b-flats-list__icon--percent b-flats-list__icon--active" data-toggle="popover" data-content="с балконом"></div>
                    </td>
                    <td class="b-flats-list__td">
                        Стоимость <b class="text-primary"><s>22 222 222 руб.</s></b>
                    </td>
                </tr>
                
             {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="b-mobile-flats-list visible-xs">
        <table class="b-mobile-flats-list__table table">
            <caption class="b-mobile-flats-list__caption">Квартиры выбранной планировки</caption>
            <tbody>
                {% for i in range(1,10) %}
                <tr>
                    <td class="b-mobile-flats-list__td">
                        <div class="b-mobile-flats-list__value">№2</div> квартира</td>
                    <td class="b-mobile-flats-list__td">
                        <div class="b-mobile-flats-list__value">2B</div> корпус </td>
                    <td class="b-mobile-flats-list__td">
                        <div class="b-mobile-flats-list__value">1</div> этаж </td>
                    <td class="b-mobile-flats-list__td">
                        <div class="b-mobile-flats-list__value">31.1 м<sup>2</sup></div> площадь </td>
                    <td class="b-mobile-flats-list__td">
                        <div class="b-mobile-flats-list__icon b-mobile-flats-list__icon--percent b-mobile-flats-list__icon--active" data-toggle="popover" data-content="с балконом"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10 " class="b-mobile-flats-list__td b-mobile-flats-list__td--price ">
                    <div class="b-mobile-flats-list__value"><s>22 222 222 руб.</s></div>
                        Стоимость 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
