<footer class="b-footer container-fluid">
    <div class="b-footer__inner">
        <div class="b-footer__left">
            <span class="b-footer__copy">2018 © <span class="hidden-xs">ЖК «Аккорд.Smart-квартал»</span></span>
        </div>
        <div class="b-footer__right b-footer__right--pad">
            <a href="/sitemap.html" class="b-footer__textLink">
                Карта&nbsp;сайта
            </a>
        </div>
        <div class="b-footer__right b-footer__right--pad"><a href="#"><img class="b-footer__pic b-footer__pic--globalFooterLogo" src="img/sdi-logo-gray.png" alt=""> </a></div>
        <div class="b-footer__right b-footer__right--pad">
            <a target="_blank" href="http://blue-ant.ru/" class="b-footer__pic b-footer__pic--right">
                <i class="fi-blueant-logo"></i>
            </a>
        </div>
    </div>
</footer>