<footer class="b-footer b-footer--flatfilters container-fluid">
    <div class="b-footer__inner">
        <div class="b-footer__left">
            <a href="#"><img class="b-footer__pic b-footer__pic--left b-footer__pic--flatsfilters" src="img/sdi-logo.png" alt=""></a>
        </div>
        <div class="b-footer__right">
            <a target="_blank" href="http://blue-ant.ru/" class="b-footer__pic b-footer__pic--right b-footer__pic--flatsfilters">
                <i class="fi-blueant-logo"></i>
            </a>
        </div>
    </div>
</footer>