<div class="b-genplan" id="genplan">
    <div class="b-genplan__inner">
        <div class="b-genplan__img-wrap"> 
            <img src="/img/genplan/genplan.jpg" alt="" class="b-genplan__img">
            <a href="#" class="b-genplan__overlink b-genplan__overlink--1A" data-house-num-title="1A" data-house="13"></a>
            <div class="b-genplan__overpic b-genplan__overpic--1A"></div>
            <a href="#" class="b-genplan__overlink b-genplan__overlink--2A" data-house-num-title="2A" data-house="14"></a>
            <div class="b-genplan__overpic b-genplan__overpic--2A"></div>
            <a href="#" class="b-genplan__overlink b-genplan__overlink--1B" data-house-num-title="1B" data-house="15"></a>
            <div class="b-genplan__overpic b-genplan__overpic--1B"></div>
            <a href="#" class="b-genplan__overlink b-genplan__overlink--2B" data-house-num-title="2B" data-house="16"></a>
            <div class="b-genplan__overpic b-genplan__overpic--2B"></div>
        </div>
    </div>
    <div class="b-genplan__close-btn" onclick="genplanHide();"></div>
</div>
