<div class="b-genplan-modal modal modal-centered fade" id="genplanModal">
  <div class="b-genplan-modal__inner modal-dialog modal-fluid hidden-xs">
    <div class="b-genplan-modal__img-wrap">
      <div class="b-genplan-modal__close-btn" data-dismiss="modal"></div> <img src="/img/genplan/genplan.jpg" alt="" class="b-genplan-modal__img">
      <a href="#" class="b-genplan-modal__overlink b-genplan-modal__overlink--1A" data-house-num-title="1A" data-house="13"></a>
      <div class="b-genplan-modal__overpic b-genplan-modal__overpic--1A"></div>
      <a href="#" class="b-genplan-modal__overlink b-genplan-modal__overlink--2A" data-house-num-title="2A" data-house="14"></a>
      <div class="b-genplan-modal__overpic b-genplan-modal__overpic--2A"></div>
      <a href="#" class="b-genplan-modal__overlink b-genplan-modal__overlink--1B" data-house-num-title="1B" data-house="15"></a>
      <div class="b-genplan-modal__overpic b-genplan-modal__overpic--1B"></div>
      <a href="#" class="b-genplan-modal__overlink b-genplan-modal__overlink--2B" data-house-num-title="2B" data-house="16"></a>
      <div class="b-genplan-modal__overpic b-genplan-modal__overpic--2B"></div>
    </div>
  </div>
  <div class="b-genplan-modal__mobile-inner modal-dialog visible-xs-inline-block">
    <div class="b-genplan-modal__mobile-close-btn" data-dismiss="modal"></div>
    <div class="b-genplan-modal__mobile-menu">
      <ul class="list-unstyled text-center">
        <li> <a class="b-genplan-modal__mobile-menu-link" href="#" data-house-num-title="1A" data-house="13">
          Корпус <span class="bold">1A</span>
        </a> </li>
        <li> <a class="b-genplan-modal__mobile-menu-link" href="#" data-house-num-title="2A" data-house="14">
          Корпус <span class="bold">2A</span>
        </a> </li>
        <li> <a class="b-genplan-modal__mobile-menu-link" href="#" data-house-num-title="1B" data-house="15">
          Корпус <span class="bold">1B</span>
        </a> </li>
        <li> <a class="b-genplan-modal__mobile-menu-link" href="#" data-house-num-title="2B" data-house="16">
          Корпус <span class="bold">2B</span>
        </a> </li>
      </ul>
    </div>
  </div>
</div>
