<div class="b-menu container-fluid" id="mainMenu">
  <div class="b-menu__ball">
    <img src="/img/pushers/square.gif" alt="" class="b-menu__ball-pusher">
  </div>
  <div class="b-menu__inner">
    <div class="b-menu__left">
      <nav class="b-menu__nav">
        <a href="/about.html" class="b-menu__leaf ajax-link"> <span class="b-menu__leaf-inner">О smart-квартале</span></a>
        <a href="/about2.html" class="b-menu__leaf ajax-link"> <span class="b-menu__leaf-inner">О застройщике</span></a>
        <a href="/infras1.html" class="b-menu__leaf ajax-link"> <span class="b-menu__leaf-inner">Инфраструктура</span></a>
        <a href="/corporate-sales.html" class="b-menu__leaf"><span class="b-menu__leaf-inner">Корпоративные продажи</span></a>
        <a href="/buy.html" class="b-menu__leaf"> <span class="b-menu__leaf-inner">Как купить</span></a>
        <a href="/actions.html" class="b-menu__leaf ajax-link"><span class="b-menu__leaf-inner">Акции</span></a>
        <a href="/flats.html" class="b-menu__leaf"> <span class="b-menu__leaf-inner">Выбрать квартиру</span></a>
        <a href="/furnish.html" class="b-menu__leaf"> <span class="b-menu__leaf-inner">Квартиры с отделкой</span></a>
        <a href="/flats2.html" class="b-menu__leaf"> <span class="b-menu__leaf-inner">Выбрать кладовую</span></a>
        <a href="/contacts.html" class="b-menu__leaf"> <span class="b-menu__leaf-inner">Контакты</span></a>
      </nav>
    </div>
    <div class="b-menu__right hidden-xs hidden-sm">
      <div class="b-menu__contacts">
        <div class="b-menu__contact-block">
          <div class="b-menu__contact-header">Мы в соцсетях</div>
          <div class="b-menu__soc clearfix">
            <a href="#" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--fb">&nbsp;</a>
            <a href="#" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--vk">&nbsp;</a>
            <a href="https://www.instagram.com/sdi_group/" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--insta">&nbsp;</a>
          </div>
        </div>
        <div class="b-menu__contact-block">
          <div class="b-menu__contact-header">Связаться с нами</div>
          <div class="b-menu__contact-text">Почта: info@1331111.ru
            <br>Телефон: +7 495 535-21-54</div>
        </div>
        <div class="b-menu__contact-block">
          <div class="b-menu__contact-header">Расположение</div>
          <div class="b-menu__contact-text"> 17 мин. от МКАД, Московская область,
            <br> Одинцовский район, с.п. Жаворонковское,
            <br> д. Митькино</div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-menu__soc b-menu__soc--mobile clearfix visible-xs visible-sm">
    <a href="#" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--fb">&nbsp;</a>
    <a href="#" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--vk">&nbsp;</a>
    <a href="#" target="_blank" rel="nofollow noopener" class="b-menu__socicon b-menu__socicon--insta">&nbsp;</a>
  </div>
  <div class="b-menu__close-btn">&nbsp;</div>
</div>
