<div class="b-mobaccordion" id="aboutProjectMobileAccordion">
  <div>
    <div class="b-mobaccordion__head" id="headingOne">
      <h4>
        <a class="b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseOne">
          О проекте
        </a>
      </h4> </div>
      <div class="b-mobaccordion__pan collapse in" id="collapseOne">
        <p> – это <span class="bold">34&nbsp;Га</span> благоустроенной, ухоженной и охраняемой территории
          <br>– четырёхэтажный монолитно-кирпичный жилой комплекс из <span class="bold">12</span>&nbsp;зданий общей площадью более <span class="bold">131&nbsp;000 кв. м2</span>
          <br>– <span class="bold">3</span>&nbsp;очереди поэтапно реализуемой застройки
          <br>– Уют малоэтажности в сочетании с продуманной планировкой и развитой инфраструктурой </p>
          <p>Основа философии проекта – концепция <span class="bold">«Живите с умом!»</span>. Каждый квадратный метр площади должен быть функционален. Опираясь на свой многолетний опыт и опыт европейских коллег, мы разработали квартиры уникальной smart-планировки – понятные и комфортные.</p>
            <p>Установленная в каждой квартире система «Умный дом», охраняет и защищает ваше имущество от проникновения, протечек и пожара. «Умный дом» значительно экономит энергоресурсы - вы будете приятно удивлены счетам за коммунальные услуги. Расширенные возможности позволят вам управлять освещением, климатом, AV-техникой не только находясь дома, но и из любой точки мира. </p> {#
            <p>Доступные каждому жителю Smart-квартала дополнительные сервисы помогут вам присматривать за детьми на детской площадке и за автомобилем на паркинге, управлять комунальными платежами, забронировать столик в ресторане, заказать продукты с доставкой до квартиры, узнать текущую загруженность фитнес-центра на территории жилого комплекса, быть в курсе регламентных работ управляющей компании.</p> #} </div>
          </div>
          <div>
            <div class="b-mobaccordion__head" id="headingTwo">
              <h4>
                <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseTwo">
                  Новости
                </a>
              </h4> </div>
              <div class="b-mobaccordion__pan collapse" id="collapseTwo">
                <div> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
              </div>
            </div>
            <div>
              <div class="b-mobaccordion__head" id="headingThree">
                <h4>
                  <a class="collapsed b-mobaccordion__headlink" data-toggle="collapse" data-parent="#aboutProjectMobileAccordion" href="#collapseThree">
                    Галерея
                  </a>
                </h4> </div>
                <div class="b-mobaccordion__pan  collapse" id="collapseThree" class="collapse">
                  <div> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
