<div class="b-card">
  <table class="b-card__wrap">
    <tbody>
      <tr>
        <td class="b-card__td b-card__td--tl">
          <div class="b-card__border b-card__border--tl b-card__border--v1">&nbsp;</div>
        </td>
        <td class="b-card__td b-card__td--tr">
          <div class="b-card__corner">&nbsp;</div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="b-card__td b-card__td--m">
          <div class="b-card__border b-card__border--m b-card__border--v1">
            <div class="b-card__title">ЖК «Аккорд Smart-квартал»&nbsp;– Умный подход к девелопменту</div>
            <div class="b-card__text"> 04 октября 2016 года состоялась пресс-конференция, в рамках которой первые лица компании SDI Group поделились подробностями девелоперской деятельности на международном и Подмосковном рынке недвижимости, рассказали о размере инвестиций в свой столичный флагманский проект – малоэтажный жилой комплекс «Аккорд. Smart-квартал», о ходе его строительства, целевой аудитории и покупательском спросе. </div>
            <div class="b-card__footer clearfix">
              <div class="b-card__date">27 октября 2016г.</div>
              <div class="b-card__readmore-wrap"> <a href="/article.html" class="b-card__readmore ajax-link">Подробнее</a></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
