<div class="b-single-flat container-fluid">
  <div class="b-single-flat__inner">
    <div class="b-single-flat__title visible-xs">
      <div class="b-single-flat__title-text"> Планировка 2k-2
        <div class="b-single-flat__title-star"></div>
      </div>
    </div>
    <div class="b-single-flat__sliderWrap">

      <div class="FlatplanSlider">

        <div class="FlatplanSlider_titlesRow swiper-container">

          <div class="FlatplanSlider_titles swiper-wrapper">
            <div class="FlatplanSlider_titleSlide swiper-slide"><span class="FlatplanSlider_title">3D планировка</span></div>
            <div class="FlatplanSlider_titleSlide swiper-slide"><span class="FlatplanSlider_title">Базовая планировка</span></div>
            <div class="FlatplanSlider_titleSlide swiper-slide"><span class="FlatplanSlider_title">Перепланировка 1</span></div>
          </div>

          <button class="FlatplanSlider_titlesArrow FlatplanSlider_titlesArrow-prev">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14">
              <path fill="#f28c60" d="M4.898 4.25q0 0.102-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18t-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path>
            </svg>
          </button>

          <button class="FlatplanSlider_titlesArrow FlatplanSlider_titlesArrow-next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14">
              <path fill="#f28c60" d="M4.648 7.5q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-0.391-0.391q-0.078-0.078-0.078-0.18t0.078-0.18l3.070-3.070-3.070-3.070q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.641 3.641q0.078 0.078 0.078 0.18z"></path>
            </svg>
          </button>

          <div class="FlatplanSlider_titlesUnderline"></div>

        </div>

        <div class="FlatplanSlider_plansRow swiper-container">
          <div class="FlatplanSlider_plansTrack swiper-wrapper">

            <div class="FlatplanSlider_planItem swiper-slide">
              <img class="FlatplanSlider_planPic" src="/img/flats/17.svg" alt="Планировка 2k-2" />
            </div>

            <div class="FlatplanSlider_planItem swiper-slide">
              <img class="FlatplanSlider_planPic" src="/img/tmp/430x294.png" alt="Планировка 2k-2" />
            </div>

            <div class="FlatplanSlider_planItem swiper-slide">
              <img class="FlatplanSlider_planPic" src="/img/tmp/565x490.png" alt="Планировка 2k-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-single-flat__details">
      <div class="b-single-flat__backbtn"></div>
      <div class="b-single-flat__title hidden-xs">
        <div class="b-single-flat__title-text"> Планировка 2k-2
          <div class="b-single-flat__title-star"></div>
        </div>
      </div>
      <div class="b-single-flat__downloads hidden-xs">
        <div class="b-single-flat__downl-item">
          <div class="va">
            <div class="va-item">
              <div href="#" class="b-single-flat__downl-icon b-single-flat__downl-icon--pdf"> </div>
            </div>
            <div class="va-item"> <a href="#" class="b-single-flat__downl-text">Скачать PDF </a> </div>
          </div>
        </div>
        <div class="b-single-flat__downl-item">
          <div class="va">
            <div class="va-item">
              <div class="b-single-flat__downl-icon b-single-flat__downl-icon--printer"></div>
            </div>
            <div class="va-item"> <a href="#" class="b-single-flat__downl-text">Распечатать</a> </div>
          </div>
        </div>
      </div>
      <div class="b-single-flat__icons">
        <div class="b-single-flat__icon-wrap">
          <div class="b-single-flat__icon b-single-flat__icon--height" data-toggle="popover" data-placement="top" data-content="<div class=&quot;text-center&quot;>Потолки<br><span style='font-size:120%; font-weight:700;'>3 м</span></div>"></div>
        </div>
        <div class="b-single-flat__icon-wrap">
          <div class="b-single-flat__icon b-single-flat__icon--window" data-toggle="popover" data-placement="top" data-content="<div class=&quot;text-center&quot;>панорамные<br>балконы</div> "></div>
        </div>
        <div class="b-single-flat__icon-wrap">
          <div class="b-single-flat__icon b-single-flat__icon--plan" data-toggle="popover" data-placement="top" data-content="<div class=&quot;text-center&quot;>smart<br>планировки</div>"></div>
        </div>
        <div class="b-single-flat__icon-wrap">
          <div class="b-single-flat__icon b-single-flat__icon--tv" data-toggle="popover" data-placement="top" data-content="<div class=&quot;text-center&quot;>умный&amp;nbsp;дом</div>"></div>
        </div>

        <div class="b-single-flat__icon-wrap">
          <a data-3d="akkord_3_83.5.html" class="b-single-flat__icon b-single-flat__icon--button b-single-flat__icon--active" href="#3d-Modal" data-toggle="popover" data-placement="top" data-content="<div class=&quot;text-center&quot;>Посмотреть 3D-вид <br />планировки</div>">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 48"><defs><path id="a" d="M.5.1h22.1v22.2H.5z"/><path id="c" d="M.3.7h12.9v7.7H.3z"/></defs><g fill="none" fill-rule="evenodd"><path class="b-single-flat__icon-path" d="M14 23h.7l1.3-.1c.5-.1 1-.2 1.3-.5.4-.2.7-.5 1-.9.2-.4.4-1 .4-1.6 0-1-.3-1.6-.9-2.1a3 3 0 0 0-2.1-.8c-.8 0-1.4.1-2 .5-.5.3-1 .8-1.3 1.4l-2-.7c.4-1 1.1-1.8 2-2.3 1-.5 2-.7 3.1-.7.7 0 1.4 0 2 .3l1.7.8a4.1 4.1 0 0 1 1.6 3.5 4.3 4.3 0 0 1-3 4 4.4 4.4 0 0 1 2.6 1.6l.7 1.3a4.9 4.9 0 0 1-.2 3.8c-.3.7-.8 1.2-1.3 1.6-.5.5-1.1.8-1.8 1a7.6 7.6 0 0 1-5.8-.5 5 5 0 0 1-2.2-2.9L12 29c.3 1 .7 1.6 1.2 2 .6.4 1.3.6 2.3.6.5 0 1 0 1.4-.2a3.4 3.4 0 0 0 2.2-3.2c0-.7-.1-1.2-.4-1.7a3 3 0 0 0-1-1c-.4-.3-.9-.5-1.4-.6l-1.6-.1H14V23zM26.7 31.2h4c1 0 2-.1 2.9-.4a5.8 5.8 0 0 0 3.7-3.4 8 8 0 0 0 .5-3.1 8 8 0 0 0-.5-3.1 5.8 5.8 0 0 0-3.7-3.4c-1-.2-1.8-.4-2.9-.4h-4v13.8zm-2-15.7h6.7a9.2 9.2 0 0 1 5.7 2 7.6 7.6 0 0 1 2.6 3.9c.3.9.4 1.8.4 2.9 0 1-.1 2-.4 3l-1 2.2-1.6 1.7a9 9 0 0 1-5.7 2h-6.7V15.4z"/><g transform="translate(27 .3)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path class="b-single-flat__icon-path" d="M22.6 22.3h-3C19.6 11.7 11.1 3 .6 3v-3c12.1 0 22 10 22 22.2" mask="url(#b)"/></g><g transform="translate(23 -.7)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path class="b-single-flat__icon-path" d="M.3.7l8.1 7.7L13.2 3S9.8 1.3 6.8 1L.3.7" mask="url(#d)"/></g><path class="b-single-flat__icon-path" d="M3 25.7C3 36.3 11.6 45 22.1 45v3C10 47.9 0 37.9 0 25.7h3z"/><path class="b-single-flat__icon-path" d="M26.3 48.3l-8-7.7-4.8 5.4s3.3 1.7 6.4 2l6.4.3"/></g></svg>
          </a>

        </div>


      </div>
      <div class="b-single-flat__beds">Количество спален: <span class="text-primary bold">2</span></div>
      <div class="b-single-flat__footage">Общая площадь: от <span class="text-primary bold">60,20 м<sup>2</sup></span> до <span class="text-primary bold">62,50 м<sup>2</sup></span> </div>
      <div class="b-single-flat__cost">

        <table>
          <tr>
            <td class="b-single-flat__price b-single-flat__price--from">Стоимость: </td>
            <td class="b-single-flat__price b-single-flat__price--to">&nbsp;от&nbsp;<span class="text-primary bold"><s>15 222 222 руб.</s></span>  &nbsp;до&nbsp;<span class="text-primary bold"><s>22 222 222 руб.</s></span></td>
          </tr>
        </table>

      </div>

      <div class="b-single-flat__promohint">
        Спасибо что выбрали наш проект! Мы готовы дать Вам больше! Свяжитесь с нами и получите <b class="text-primary">20&nbsp;000&nbsp;рублей</b>&nbsp;скидки за звонок.
      </div>

      <a href="#" data-aside-menu="getPriceAsideForm" class="btn btn-primary btn-shadow btn-lg b-single-flat__btn">Получить наилучшие условия</a> </div>
    </div> {% include "./b-flats-list.html" %} </div>
