<footer class="b-socfooter clearfix">
    <div class="b-socfooter__bottom-date"> 12 сентября 2016г. </div>
    <div class="b-socfooter__socwrap">
        <div class="b-socfooter__soc-inner">
            <div class="b-socfooter__soctext hidden-xs">Поделиться:</div>
            <div class="b-socfooter__socicon-wrap">
                <a href="#" class="b-socfooter__socicon b-socfooter__socicon--fb"></a>
            </div>
            <div class="b-socfooter__socicon-wrap">
                <a href="#" class="b-socfooter__socicon b-socfooter__socicon--vk"></a>
            </div>
        </div>
    </div>
</footer>
