<div class="modal modal-centered fade" id="3d-modal">
    <div class="modal-dialog _3d">
        <div class="modal-content">
            <em class="modal-close" data-dismiss="modal" aria-hidden="true"></em>
            <div data-modal-3d></div>
        </div>
    </div>
</div>
