<div class="b-aside-form b-aside-form--right b-aside-form--contacts" id="callMeAsideMenu">
    <div class="b-aside-form__header hidden-xs">Заказать звонок</div>
    <form style="margin:auto;width: 100%;" id="callMeForm" method="post" data-action="/tmp.json">
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" required placeholder="Имя *" name="name" type="text"> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" required placeholder="Телефон *" name="phone" type="text"> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" placeholder="Удобное время звонка" name="time" type="text"> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <div class="row">
                <div class="col-xs-5"> <img src="http://placehold.it/98x36" alt="" class="img-responsive"> </div>
                <div class="col-xs-7">
                    <input type="text" placeholder="код с картинки *" name="captcha" required class="form-control b-aside-form__inp b-aside-form__inp--captcha"> </div>
            </div>
        </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            {% include "./blocks/b-custom-checkbox.html" %}
        </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input type="submit" class="b-aside-form__btn btn btn-primary btn-block" name="submit" value="Отправить">
        </div>
        <div class="b-aside-form__hinttext clearfix"><span class="bold">*</span> - Поля, обязательные для заполнения
        </div>
    </form>
    <div data-dismiss-aside-menu="" class="b-aside-form__backbtn b-aside-form__backbtn--to-right"></div>
</div>