<div class="modal modal-centered fade" id="floorSchemeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="b-floor-scheme">
                <div class="text-center"> <img class="b-floor-scheme__img" src="/img/floor-schemes/123.svg" alt=""> </div>
                <div class="b-floor-scheme__compass"></div>
                <div class="b-floor-scheme__title">Секция <span class="text-primary">3С</span></div>
            </div>
        </div>
    </div>
</div>
