<div class="b-aside-form b-aside-form--contacts" id="getPriceAsideForm">
    <div class="b-aside-form__header hidden-xs">Узнать стоимость</div>
    <form style="margin:auto;width: 100%;" id="form7">
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" placeholder="Имя *" type="text" required> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" placeholder="Телефон *" type="text" name="phone" required> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input class="form-control b-aside-form__inp" placeholder="Удобное время звонка" type="text" name="time"> </div>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <div class="row">
                <div class="col-xs-5"> <img id="formCaptcha_5_2521" src="/captcha.php?id=2521&amp;height=36&amp;width=100" height="36" onclick="$('#formCaptcha_5_2521').updateCaptcha('2521', 36); return false" alt="" class="img-responsive"> </div>
                <div class="col-xs-7">
                    <input type="text" placeholder="код с картинки *" name="captcha" class="form-control b-aside-form__inp b-aside-form__inp--captcha required" autocomplete="off" aria-required="true">
                    <input type="hidden" name="captcha_id" value="2521"> </div>
            </div>
        </div>
        <br>
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <button type="submit" class="b-aside-form__btn btn btn-primary btn-block">Отправить</button>
        </div>
    </form>
    <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
</div>
