<a href="/buy.html" class="b-prev-screen-btn hidden-xs"></a>
<div class="b-hypothec hidden-xs">
  <div class="container-fluid" style="height: 100%;">
    <div class="b-hypothec__left">
      <h1 class="b-hypothec__head b-hypothec__head--v2">Военная ипотека</h1>
      <div class="b-hypothec__desc"> Военнослужащий и участвуете в накопительно-ипотечной системе? Имеете право получить военную ипотеку до 2,3 млн. рублей на срок до 45 лет!</div>
      <div class="clearfix visible-sm"></div>
      <button class="b-hypothec__orderbtn btn btn-lg btn-military" data-aside-menu="hypothecAsideMenu2">Отправить заявку</button>
      <div class="clearfix visible-sm" style="padding-bottom: 46px;"></div>
    </div>
    <div class="b-hypothec__right">
      <div class="b-hypothec__head b-hypothec__head--v2">Вижу цель не вижу препятствий!</div>
      <ol>
        <li>Подача документов в банк на одобрение кредита всего по 4 документам!</li>
        <li>Подписание кредитного договора в банке и подписание ПДДУ в офисе ЖК “Аккорд.Smart-квартал”.</li>
        <li>Передача документов на согласование в ФКГУ.</li>
        <li>Предоставление зарегестрированного ДДУ в банк и написания на перечисления денег.</li>
        <li>Регистрация ДДУ.</li>
        <li>Подписание ДДУ в офисе ЖК “Аккорд.Smart-квартал”.</li>
      </ol>
      <p class="b-hypothec__paragraph">&nbsp;</p>
      <div class="b-banklist">
        <table class="b-banklist__table b-banklist__table--v2">
          <thead>
            <tr>
              <th class="b-banklist__th">банк</th>
              <th class="b-banklist__th">программа<br>кредитования</th>
              <th class="b-banklist__th">срок<br>кредитования</th>
              <th class="b-banklist__th">процентная<br>ставка</th>
              <th class="b-banklist__th">сумма<br>кредита</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="b-banklist__td b-banklist__td--logo"><img class="img-responsive" src="img/banks-logos/bank-1.png" alt=""></td>
              <td class="b-banklist__td b-banklist__td--lic"> генеральная лицензия
                <br> Банка № 328
                <br> от 03.09.2012 г. </td>
                <td class="b-banklist__td">до 30 лет</td>
                <td class="b-banklist__td">10%</td>
                <td class="b-banklist__td b-banklist__td--sum">2 290 000 руб.</td>
              </tr>
              <tr>
                <td class="b-banklist__td b-banklist__td--logo"><img class="img-responsive" src="img/banks-logos/bank-2.png" alt=""></td>
                <td class="b-banklist__td b-banklist__td--lic">генеральная лицензия
                  <br> Банка России №588
                  <br> от 05.09.2016</td>
                  <td class="b-banklist__td">до 30 лет</td>
                  <td class="b-banklist__td">11,4%</td>
                  <td class="b-banklist__td b-banklist__td--sum">1 930 000 руб.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="b-mobile-hypothec b-mobile-hypothec--v2 visible-xs">
      <div class="b-mobile-hypothec__btnswrap">
        <div class="btn-group btn-group-justified"> <a href="#hypothec1-mob-getting" class="b-mobile-hypothec__btn b-mobile-hypothec__btn--active btn btn-default btn-sm" data-toggle="tab">Как получить</a> <a href="#hypothec1-mob-banks" class="b-mobile-hypothec__btn btn btn-default btn-sm" data-toggle="tab">Банки</a> </div>
      </div>
      <div class="b-mobile-hypothec__tabpanes tab-content">
        <div class="b-mobile-hypothec__tab tab-pane fade in active" id="hypothec1-mob-getting">
          <ol>
            <li>Подача документов в банк на одобрение кредита всего по 4 документам!</li>
            <li>Подписание кредитного договора в банке и подписание ПДДУ в офисе ЖК “Аккорд.Smart-квартал”.</li>
            <li>Передача документов на согласование в ФКГУ.</li>
            <li>Предоставление зарегестрированного ДДУ в банк и написания на перечисления денег.</li>
            <li>Регистрация ДДУ.</li>
            <li>Подписание ДДУ в офисе ЖК “Аккорд.Smart-квартал”.</li>
          </ol>
        </div>
        <div class="b-mobile-hypothec__tab tab-pane fade" id="hypothec1-mob-banks">
          <ul class="b-mob-banklist list-unstyled"> {% for i in range(1,16) %}
            <li class="b-mob-banklist__leaf">
              <div class="b-mob-banklist__top-row">
                <div class="b-mob-banklist__logowrap"> <img src="img/banks-logos/bank-2.png" alt="" class="img-responsive"> </div>
                <div class="b-mob-banklist__percent">от <span class="b-mob-banklist__percent-value">10%</span> </div>
              </div>
              <div class="b-mob-banklist__bottom-row">
                <div class="b-mob-banklist__type">Потреб. кредит <br> военнослужащим</div>
                <div class="b-mob-banklist__firstpay-cell b-mob-banklist__firstpay-cell--border"> взнос <br> 20% </div>
                <div class="b-mob-banklist__duration-cell"> до <br> 30 лет </div>
                <!-- <div class="b-mob-banklist__lic-cell"> <a href="#" class="b-mob-banklist__liclink">лицензия</a> </div> -->
              </div>
            </li> {% endfor %} </ul>
          </div>
        </div>  </div>
