<div class="b-aside-form b-aside-form--hypothec" id="hypothecAsideMenu2">
  <div class="b-aside-form__header hidden-xs">Заявка</div>
  <form>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
          <input type="text" class="form-control b-aside-form__inp b-aside-form__inp--v_success" placeholder="Ваше имя"> </div>
          <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
            <input type="email" class="form-control b-aside-form__inp b-aside-form__inp--v_success" placeholder="Ваша эл.почта"> </div>
            <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2 b-aside-form__inpwrap">
              <input type="text" class="form-control b-aside-form__inp b-aside-form__inp--v_success" placeholder="Ваш телефон"> </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <select data-style="form-control b-aside-form__inp b-aside-form__inp--v_success" class="selectpicker" title="Банк" data-width="100%">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
              </div>
              <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                <input type="email" class="form-control b-aside-form__inp b-aside-form__inp--v_success" placeholder="Размер кредита" value="14 000 000 &#8381;"> </div>
                <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                  <input type="text" class="form-control b-aside-form__inp b-aside-form__inp--v_success" placeholder="Первоночальный взнос" value="850 000 &#8381;"> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--captchawrap b-aside-form__inpwrap--v2">
                    <label>Введите символы с картинки</label>
                    <div class="row">
                      <div class="col-xs-5"> <img src="http://placehold.it/98x36" alt="" class="img-responsive"> </div>
                      <div class="col-xs-7">
                        <input type="text" class="form-control b-aside-form__inp b-aside-form__inp--v_success b-aside-form__inp--captcha"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group b-aside-form__inpwrap b-aside-form__inpwrap--v2">
                      <button type="submit" class="b-aside-form__btn btn btn-success btn-block">Отправить</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="b-aside-form__hinttext clearfix">Поля, обязательные
                      <br class="hidden-xs"> для заполнения
                      <br class="hidden-xs"> <span class="b-aside-form__reqs-star text-success">*</span> </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="b-aside-form__hinttext text-right hidden-xs">За консультацией обращайтесь
                        <br> к менеджеру по ипотеке по телефону
                        <br> <span class="b-aside-form__hintleadtxt">+7&nbsp;495&nbsp;135-32-44</span>
                      </div>
                    </div>
                  </div>
                </form>
                <div data-dismiss-aside-menu="" class="b-aside-form__backbtn"></div>
              </div>