<div class="modal modal-centered fade hidden-xs" id="starredFlatsModal">
    <div class="modal-dialog modal-fluid">
        <div class="modal-content">
            <div class="modal-body" style="position: relative;">
                <div class="b-starred-flats-modal clearfix">
                    <div class="b-starred-flats-modal__left">
                        <div class="b-starred-flats-modal__title">Избранное</div>
                        <table class="b-starred-flats-modal__table b-starred-flats-modal__table--headings table">
                            <tbody>
                                <tr>
                                    <td>Площадь</td>
                                </tr>
                                <tr>
                                    <td>Количество спален</td>
                                </tr>
                                <tr>
                                    <td>Балкон</td>
                                </tr>
                                <tr>
                                    <td>Система "Умный Дом"</td>
                                </tr>
                                <tr>
                                    <td>Smart-планировка</td>
                                </tr>
                                <tr>
                                    <td>Панорамные окна</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="b-starred-flats-modal__right">
                        <div class="b-starred-flats-modal__right-cont">
                            <table class="b-starred-flats-modal__miniplans table">
                                <tbody>
                                    <tr> {% for i in range(1,6) %}
                                        <td>
                                            <div class="b-starred-flats-modal__miniplan">
                                                <div class="b-starred-flats-modal__plan-hint">Планировка</div>
                                                <div class="b-starred-flats-modal__plan-name">2K-2</div> 
                                                <div class="b-starred-flats-modal__img-wrap"><img src="/img/tmp/130x90.png" alt="" class="b-starred-flats-modal__img">
                                                <a href="#" class="b-starred-flats-modal__img-link b-starred-flats-modal__img-link--go"></a>
                                                <a href="#" class="b-starred-flats-modal__img-link b-starred-flats-modal__img-link--remove"></a>
                                                </div> 
                                                
                                                </div>
                                        </td>{% endfor %} </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <table class="b-starred-flats-modal__table b-starred-flats-modal__table--values table">
                                    <tbody>
                                        <tr> {% for i in range(1,6) %}
                                            <td>
                                                <div class="b-starred-flats-modal__plan-val">60 м<sup>2</sup></div>
                                            </td> {% endfor %} </tr>
                                        <tr> {% for i in range(1,6) %}
                                            <td>
                                                <div class="b-starred-flats-modal__plan-val">+</div>
                                            </td> {% endfor %} </tr>
                                        <tr> {% for i in range(1,6) %}
                                            <td>
                                                <div class="b-starred-flats-modal__plan-val">+</div>
                                            </td> {% endfor %} </tr>
                                        <tr> {% for i in range(1,6) %}
                                            <td>
                                                <div class="b-starred-flats-modal__plan-val">+</div>
                                            </td> {% endfor %} </tr>
                                        <tr> {% for i in range(1,6) %}
                                            <td>
                                                <div class="b-starred-flats-modal__plan-val">+</div>
                                            </td> {% endfor %} </tr>
                                        <tr> {% for i in range(1,6) %}
                                            <td> +</td> {% endfor %} </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>

                    <div class="b-starred-flats-modal__emptytext" style="display: none;">
                        Нет квартир <br>в &laquo;избранном&raquo;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
