<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="b-nav">
                <div class="va">
                    <div class="va-item">
                        <button class="b-nav__burger"></button>
                    </div>
                    <div class="va-item"><a class="b-topbarlink hidden-xs" href="/flats.html"><span class="b-topbarlink__inner">ВЫБРАТЬ КВАРТИРУ</span></a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0 10px;">
            <div class="b-logo"> <a href="/" class="ajax-link"><img src="img/logo.svg" alt="" class="b-logo__pic b-logo__pic--dark"> <img src="img/logo-white.svg" alt="" class="b-logo__pic b-logo__pic--white"></a></div>
        </div>
        <div class="col-xs-4">
            <div class="b-phone"> <span class="b-phone__text hidden-xs" data-aside-menu="callMeAsideMenu">+7 495 135-32-44</span>
                <a href="tel:74951353244" class="b-phone__icon visible-xs"> <img src="img/phone.svg" alt=""> </a>
            </div>
        </div>
    </div>
</div>
